<div class="tcu-results-filter__list _is-open">
  <button aria-label="Close Filter Dropdown" class="close-filter-menu">X</button>

  <div class="tcu-results-filter__column">
    <!-- School -->
    {% render "@filter-set" with school %}
    <!-- Department -->
    {% render "@filter-set" with departments %}
    <!-- Teaching Audience -->
    {% render "@filter-set" with teachingAudiences %}
    <!-- Teaching Status -->
    {% render "@filter-set" with teachingStatus %}
    <!-- Office Type -->
    {% render "@filter-set" with officeType %}
  </div>
  <div class="tcu-results-filter__column">
    <!-- Areas of Study -->
    {% render "@filter-set" with areasOfStudy %}
  </div>
  <div class="tcu-results-filter__column">
    <!-- Areas of Interest -->
    {% render "@filter-set" with areasOfInterest %}
  </div>
</div>
