<header class="tcu-results-filter">
      <button class="tcu-results-filter__menu-trigger">
        <div class="filter _label">
          Filters
          <img alt="Open Accordion"
            src="data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='15px' height='9px' viewBox='0 0 27 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Eslider arrow copy 2%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Program-D-Math' transform='translate(-1039.000000, -3726.000000)' fill='%234D4D4A' stroke='%234D4D4A' stroke-width='1.96'%3E%3Cg id='slider-arrow' transform='translate(1052.500000, 3734.000000) rotate(-90.000000) translate(-1052.500000, -3734.000000) translate(1044.500000, 3721.500000)'%3E%3Cpath d='M13.5324837,24.8310811 C13.312616,24.8310811 13.09215,24.7563214 12.9189481,24.6054125 L0.519904875,13.8072257 C0.189654598,13.5193037 0,13.0724132 0,12.5810559 C0,12.0896987 0.189654598,11.6428081 0.519904875,11.3548861 L12.9189481,0.556699337 C13.2803089,0.241541468 13.8483753,0.258772321 14.1873006,0.594496048 C14.526226,0.930497691 14.5079784,1.45826206 14.1463185,1.77314201 L2.68089039,11.7586995 C2.16936142,12.2039226 2.16936142,12.9581893 2.68089039,13.4034123 L14.1463185,23.3892477 C14.5079784,23.7038498 14.526226,24.2316141 14.1873006,24.5676158 C14.0108082,24.7427035 13.7717955,24.8310811 13.5324837,24.8310811' id='Fill-1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"
            data-state="" class="tcu-down-arrow" width="15" height="9"></div>
      </button>
      {% render "@filter-list" %}
      <div class="tcu-results-filter__heading tcu-visually-hidden">
        <div class="tcu-results-filter__search"><label for="directory-keyword-search"
            class="screen-reader-text tcu-visuallyhidden">Search for:</label> <input type="search" value="" name="s"
            id="directory-keyword-search" placeholder="Who can we help you find?" autocorrect="off"> <input type="submit"
            value="Search"></div>
      </div>
      <div class="tcu-view-selector tcu-visually-hidden">
        <p class="tcu-view-selector__option _label"><button class="{% if activeTab == 'grid' %}active{% endif %}">
            View Grid
            <img alt=""
              src="data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 12' style='enable-background:new 0 0 12 12;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23111111;%7D%0A%3C/style%3E%3Ctitle%3EGroup%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1'%3E%3Cg id='Program-List-links' transform='translate(-1468.000000, -545.000000)'%3E%3Cg id='Group' transform='translate(1468.000000, 545.000000)'%3E%3Crect id='Rectangle' class='st0' width='5' height='5'/%3E%3Crect id='Rectangle_1_' y='7' class='st0' width='5' height='5'/%3E%3Crect id='Rectangle_2_' x='7' class='st0' width='5' height='5'/%3E%3Crect id='Rectangle_3_' x='7' y='7' class='st0' width='5' height='5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"
              class="tcu-down-arrow" width="10" height="10"></button></p>
        <p class="tcu-view-selector__option _label"><button class="{% if activeTab == 'list' %}active{% endif %}">
            View List
            <img alt=""
              src="data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 10' style='enable-background:new 0 0 16 10;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23111111;stroke-linecap:square;%7D%0A%3C/style%3E%3Ctitle%3EGroup 3%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1'%3E%3Cg id='Program-List-links' transform='translate(-1637.000000, -545.000000)'%3E%3Cg id='Group-3' transform='translate(1638.000000, 545.000000)'%3E%3Cpath id='Line' class='st0' d='M4,0.5h10'/%3E%3Cpath id='Line_1_' class='st0' d='M0,0.5h1'/%3E%3Cpath id='Line_2_' class='st0' d='M4,3.5h10'/%3E%3Cpath id='Line_3_' class='st0' d='M0,3.5h1'/%3E%3Cpath id='Line_4_' class='st0' d='M4,6.5h10'/%3E%3Cpath id='Line_5_' class='st0' d='M0,6.5h1'/%3E%3Cpath id='Line_6_' class='st0' d='M4,9.5h10'/%3E%3Cpath id='Line_7_' class='st0' d='M0,9.5h1'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"
              class="tcu-down-arrow" width="15" height="15"></button></p>
      </div>
    </header>
