<div class="tcu-video-showcase">
  <div class="tcu-video-showcase__video">
    <button class="tcu-video-showcase__poster-btn tcu-video-showcase__poster">
      <span class="show-for-sr">Play Video</span>
      <picture>
        {% if image.large %}
          <source media="(min-width: 1024px)" srcset="{{ image.large }}" />
        {% endif %}
        {% if image.medium %}
          <source media="(min-width: 768px)" srcset="{{ image.medium }}" />
        {% endif %}
        <img class="tcu-video-showcase__image" src="{{ image.small }}" alt="{{ image.alt }}" loading="lazy" />
      </picture>
    </button>
    <div class="tcu-video-showcase__embed">
      <iframe
        title="{{ embed_title }}"
        class="tcu-video-showcase__video-src"
        data-src="{{ embed }}"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen=""
      ></iframe>
    </div>
  </div>
  <div class="tcu-video-showcase__content">
    <div class="tcu-video-showcase__header">
      {% if hammerhead and not headline %}
        <h2 class="tcu-video-showcase__hammerhead tcu-hammerhead">{{ hammerhead }}</h2>
      {% elseif hammerhead %}
        <div class="tcu-video-showcase__hammerhead tcu-hammerhead">{{ hammerhead }}</div>
      {% endif %}
      {% if headline %}
      <h2 class="tcu-video-showcase__headline">{{ headline }}</h2>
      {% endif %}
    </div>
    {{ content_block }}
    <div class="button-group">
      {% for button in button_group %}
        {% render "@button" with button %}
      {% endfor %}
    </div>
  </div>
</div>
