<table>
  <thead>
    <tr>
      <th>Table Header</th>
      <th>Table Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Body</td>
      <td>Body</td>
    </tr>
    <tr>
      <td>Body</td>
      <td>Body</td>
    </tr>
    <tr>
      <td>Body</td>
      <td>Body</td>
    </tr>
  </tbody>
</table>
