<div class="table-scroll" tabindex="0" role="region" aria-labelledby="tcu-table-caption-1">
  <table>
    <caption class="show-for-sr" id="tcu-table-caption-1">Example Scrollable Table</caption>
    <thead>
      <tr>
        <td></td>
        <th scope="col">Column 1</th>
        <th scope="col">Column 2</th>
        <th scope="col">Column 3</th>
        <th scope="col">Column 4</th>
        <th scope="col">Column 5</th>
        <th scope="col">Column 6</th>
        <th scope="col">Column 7</th>
        <th scope="col">Column 8</th>
        <th scope="col">Column 9</th>
        <th scope="col">Column 10</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Row Header</th>
        <td data-title="Column 1">Body</td>
        <td data-title="Column 2">Body</td>
        <td data-title="Column 3">Body</td>
        <td data-title="Column 4">Body</td>
        <td data-title="Column 5">Body</td>
        <td data-title="Column 6">Body</td>
        <td data-title="Column 7">Body</td>
        <td data-title="Column 8">Body</td>
        <td data-title="Column 9">Body</td>
        <td data-title="Column 10">Body</td>
      </tr>
      <tr>
        <th scope="row">Row Header</th>
        <td data-title="Column 1">Body</td>
        <td data-title="Column 2">Body</td>
        <td data-title="Column 3">Body</td>
        <td data-title="Column 4">Body</td>
        <td data-title="Column 5">Body</td>
        <td data-title="Column 6">Body</td>
        <td data-title="Column 7">Body</td>
        <td data-title="Column 8">Body</td>
        <td data-title="Column 9">Body</td>
        <td data-title="Column 10">Body</td>
      </tr>
      <tr>
        <th scope="row">Row Header</th>
        <td data-title="Column 1">Body</td>
        <td data-title="Column 2">Body</td>
        <td data-title="Column 3">Body</td>
        <td data-title="Column 4">Body</td>
        <td data-title="Column 5">Body</td>
        <td data-title="Column 6">Body</td>
        <td data-title="Column 7">Body</td>
        <td data-title="Column 8">Body</td>
        <td data-title="Column 9">Body</td>
        <td data-title="Column 10">Body</td>
      </tr>
    </tbody>
  </table>
</div>
