<div class="tcu-program-finder-form tcu-component">
    <div class="tcu-program-finder-wrapper">
        <h2 class="tcu-program-finder-heading"> {{ heading }} </h2>
        <div class="tcu-program-finder-content">
            <div class="finder-form">
                <p class="h4">{{ formHeading }}</p>
                <p>{{ formContent }}</p>
                <form role="search" method="get" target="_blank" class="tcu-searchform"
                action="https://www.tcu.edu/academics/programs/index.php" aria-label="Search academic majors and programs">
                    <div class="form-input">
                        <label class="screen-reader-text tcu-visuallyhidden tcu-searchform__label" for="mp-search-term">Search
                            for:</label>
                        <input class="input-field" type="search" value="" name="s" id="mp-search-term"
                            placeholder="Search All Majors &amp; Programs"/>
                        <input type="hidden" name="schools" value="{{ schoolId }}"/>
                        <div class="input-group-button">
                            <input title="Search" class="button secondary" type="submit" value="Search"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tcu-program-finder-buttons">
                <div class="button-group">
                    {% render "@button" with {
                            link: "https://www.tcu.edu/academics/programs/index.php?degrees=bachelor&amp;degrees=minor&amp;degrees=certificate&amp;schools=" ~ schoolId,
                            text: "Undergraduate",
                            target: "_blank",
                            rel: "noopener",
                        }
                    %}
                    {% render "@button" with {
                            link: "https://www.tcu.edu/academics/programs/index.php?graddegrees=doctorate&amp;graddegrees=master&amp;graddegrees=gradcert&amp;schools=" ~ schoolId,
                            text: "Graduate",
                            target: "_blank",
                            rel: "noopener",
                        }
                    %}
                    {% render "@button" with {
                            link: "https://www.tcu.edu/academics/programs/index.php?schools=" ~ schoolId,
                            text: "All Majors &amp; Programs",
                            target: "_blank",
                            rel: "noopener",
                        }
                    %}
                </div>
            </div>
        </div>
    </div>
</div>
