<h2>Text Transformation</h2>
<p class="text-lowercase">lowercase</p>
<p class="text-uppercase">uppercase</p>
<h2>Font Styling</h2>
<p class="font-bold">bold</p>
<p class="font-normal">normal font weight</p>
<p class="font-italic">italic</p>
<h2>Text Alignment</h2>
<p class="text-left">align left</p>
<p class="text-right">align right</p>
<p class="text-center">align center</p>
<h2>White Space &amp; Wrapping</h2>
<p class="nowrap">123-456-7890</p>
