<section class="tcu-two-column {{ image_placement }}">
  <div class="tcu-two-column__image">
    <img src="{{ image }}" alt="{{ image_description }}" width="320" height="320" /></div>
  <div class="tcu-two-column__content">
    {{ paragraph }}
  </div>
</section>
