<section class="tcu-carousel-wrap">
    <div class="tcu-layout-center">
        <h2>{{ heading }}</h2>
        <div class="tcu-carousel _quick-facts">

            {% for fact in facts %}
              <div class="tcu-carousel__cell">
                <div class="tcu-carousel__content">
                  <span class="h1 tcu-carousel__large-text">{{ fact.title }}</span>
                  <span class="tcu-carousel__small-text">{{ fact.description }}</span>
                </div>
              </div>
            {% endfor %}

        </div>
        <a class="tcu-link _border" href="{{ url }}">{{ link }}</a>
    </div>
</section>
