<div class="tcu-publications-listing">
  {% for i in 0..10 %}
  <div class="tcu-publications-listing__item">
    <div class="tcu-publications-listing__item-header">
      <div class="tcu-publications-author__image">
        <img
          alt="Michael Bachmann, Ph.D."
          src="https://www.tcu.edu/directory/images/michael-bachmann.jpg"
        />
      </div>
      <div class="tcu-publications-author__info">
        <h2 class="tcu-publications-card__name">
          <a href="view/michael-bachmann">Michael Bachmann</a>
        </h2>
        <h3 class="tcu-publications-card__title">Associate Professor</h3>
      </div>
      <button
        class="tcu-publications-author__toggle"
        aria-expanded="false"
        aria-controls="publications-list-{{ i }}"
      >
        View Recent Publications
      </button>
    </div>
    <div
      class="tcu-publications-listing__item-list"
      id="publications-list-{{ i }}"
    >
      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "ScholarlyArticle",
          "author": {
            "@type": "Person",
            "givenName": "Michael",
            "familyName": "Bachmann"
          },
          "datePublished": "2016",
          "headline": "Risk terrain modeling predicts child maltreatment",
          "url": "https://doi.org/10.1016/j.chiabu.2016.09.014",
          "isPartOf": {
            "@type": "Periodical"
          }
        }
      </script>
      <ul>
        <li>
          <a href="https://doi.org/10.1016/j.chiabu.2016.09.014">
            Risk terrain modeling predicts child maltreatment</a
          >, <span>Child Abuse &amp; Neglect. (62), 28-39</span>, 2016.
        </li>
      </ul>
      <p>
        <a
          href="view/michael-bachmann"
          title="View faculty profile for Michael Bachmann"
          >View Faculty Profile</a
        >
      </p>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  var publicationsListing = document.querySelector('.tcu-publications-listing');

  // Publication toggle click event
  publicationsListing.addEventListener('click', function (e) {
    var isButton = e.target.classList.contains(
      'tcu-publications-author__toggle'
    );
    if (isButton) {
      var expanded = e.target.getAttribute('aria-expanded') === 'true';
      var publicationList = document.getElementById(
        e.target.getAttribute('aria-controls')
      );

      e.target.setAttribute('aria-expanded', !expanded);
      e.target.textContent = !expanded ? 'Close' : 'View Recent Publications';
      publicationList.classList.toggle('is-active');
    }
  });
</script>
