////
/// @group Inset Photo
////

/// The background color of the inset photo caption
/// @type Color
$inset-photo-background: $neutral-60 !default;

/// Map of caption font styles for the inset photo
/// @type Map
$inset-photo-caption-font: (
  'font-size': $caption-font-size,
  'font-weight': $caption-font-weight,
  'font-family': $caption-font-family,
) !default;

// Class for a <figure> element to create a captioned photo
// that can be floated left, right, or center
.tcu-caption {
  background: $inset-photo-background;
  font-style: italic;
  max-width: 100%;
  padding: rem-calc($spacing-half);
  @include breakpoint(medium) {
    max-width: 40%;
  }

  // images inside tcu-caption
  img {
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
  }

  &:has(figcaption) {
    padding-block-end: 0;
  }

  figcaption {
    @include setValues($inset-photo-caption-font);
    text-align: center;
    padding: rem-calc($spacing-1 0);
    color: color-pick-contrast($inset-photo-background, ($text-black, $white));
  }

  &.float-right {
    margin-left: rem-calc($spacing-2);
  }
  &.float-left {
    margin-right: rem-calc($spacing-2);
  }
  &.full-width {
    max-width: none;
  }
}
