/*------------------------------------*\
  #Global focus styles
\*------------------------------------*/

// The normalize styles in foundation include some :focus-visible styles so we
// need to include them here to overwrite them
:focus-visible,
[type='button']:focus-visible,
[type='reset']:focus-visible,
[type='submit']:focus-visible,
[type='search']:focus-visible,
button:focus-visible {
  --focus-offset: #{rem-calc($spacing-1)};
  --focus-outline-color: #{$primary};

  outline: var(--focus-offset) double var(--focus-outline-color);
  box-shadow: 0 0 0 calc(var(--focus-offset) / 1.5) $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    display: inline-block;
  }
}
