legend {
  font-size: rem-calc($large-font-size);
}
/* stylelint-disable-next-line selector-no-qualifying-type -- this is specifically for input elements so it's important that we specify that */
input.button {
  font-size: map-get($button-sizes, default);
}

/*------------------------------------*\
  #OU Forms
\*------------------------------------*/
/* stylelint-disable selector-no-qualifying-type -- this is specifically for input elements */
.ou-form .checkbox input[type='checkbox'],
.ou-form .radio input[type='radio'] {
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
/* stylelint-enable selector-no-qualifying-type */
