/*------------------------------------*\
  #Anchor Links
\*------------------------------------*/
// When a link has no href and no tabindex, it is not accessible by keyboard
// These types of links are used as anchors and should not appear as links
// since they don't have an href
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
    box-shadow: none;
  }

  &:focus {
    outline: 0;
  }
}
