iframe {
  border: 0;
}

// For aligning images within blocks of text.
// The class should take precedent over the inline float

/* stylelint-disable declaration-no-important */
.alignright,
.alignleft {
  margin: 0 auto rem-calc($spacing-2);
  @include breakpoint(small only) {
    display: block;
    float: none !important;
  }
}
.alignright {
  @include breakpoint(medium) {
    float: right !important;
    margin-left: rem-calc($spacing-2);
  }
}
.alignleft {
  @include breakpoint(medium) {
    float: left !important;
    margin-right: rem-calc($spacing-2);
  }
}
.aligncenter {
  float: none !important;
  display: block;
  margin: 0 auto rem-calc($spacing-2);
}
/* stylelint-enable declaration-no-important */
