tbody,
tfoot,
thead {
  border-left: 0;
  border-right: 0;
}

thead,
thead td,
tbody {
  border: 0;
}

td {
  border-bottom: $table-border;
}

tbody th {
  background: $table-head-background;
  color: $table-head-font-color;
}

/*------------------------------------*\
  #Stacked tables
\*------------------------------------*/

.stack {
  tr {
    @include breakpoint(small down) {
      margin-bottom: $global-margin;
    }
  }

  td:first-child {
    @include breakpoint(small down) {
      border-top: $table-border;
    }
  }

  /* stylelint-disable-next-line selector-no-qualifying-type */
  td[data-title]::before {
    @include breakpoint(small down) {
      content: attr(data-title);
      margin-right: 0.5em;
      font-weight: bold;
    }
  }
}
