////
/// @group Typography
////

/// Heading top and bottom margin
/// @type List
$heading-margin-block: 0 $header-margin-bottom;

/// Border dividing a heading from other content
/// @type List
$heading-divider-border: 10px solid $primary !default;

/// Font styles for the heading with a divider
/// @type Map
$heading-divider-font: (
  'font-family': $medium-font-family,
  'font-size': $medium-font-size,
  'font-weight': $medium-font-weight,
) !default;

/// If the hammerhead should include a divider
/// @type Boolean
$hammerhead-divider: true !default;

/// The color of the hammerhead divider
/// @type Color
$hammerhead-divider-color: currentcolor !default;

/// The width of the hammerhead divider
/// @type Number
$hammerhead-divider-width: $spacing-7 !default;

/// The height of the hammerhead divider
/// @type Number
$hammerhead-divider-height: 1px !default;

/// If the hammerhead divider should align to the start or end
/// @type String
$hammerhead-divider-align: start !default;

/// If the hammerhead divider should appear before or after the text
/// @type String
$hammerhead-divider-position: after !default;

/// The spacing around the hammerhead dividerr
/// @type Number
$hammerhead-divider-spacing: $spacing-2 !default;

/// The fallback font size for stats
/// @type Number
$stats-font-size: $xxlarge-font-size !default;

/// The fallback font weight for stats
/// @type Number
$stats-font-weight: $xxlarge-font-weight !default;

/// The fallback font family for stats
/// @type String
$stats-font-family: $xxlarge-font-family !default;

/*------------------------------------*\
  #Headings
\*------------------------------------*/
h1,
.h1 {
  font-size: linearClamp($xxlarge-font-size-min, $xxlarge-font-size);
  font-family: $xxlarge-font-family;
  font-weight: $xxlarge-font-weight;
  line-height: get-line-height($xxlarge-font-size);
  margin-block: $heading-margin-block;
  text-wrap: balance;
}

h2,
.h2 {
  font-size: linearClamp($xlarge-font-size-min, $xlarge-font-size);
  font-family: $xlarge-font-family;
  font-weight: $xlarge-font-weight;
  line-height: get-line-height($xlarge-font-size);
  margin-block: $heading-margin-block;
  text-wrap: balance;
}

h3,
.h3 {
  font-size: linearClamp($large-font-size-min, $large-font-size);
  font-family: $large-font-family;
  font-weight: $large-font-weight;
  line-height: get-line-height($large-font-size);
  margin-block: $heading-margin-block;
  text-wrap: balance;
}

h4,
.h4 {
  font-size: linearClamp($medium-font-size-min, $medium-font-size);
  font-family: $medium-font-family;
  font-weight: $medium-font-weight;
  line-height: get-line-height($medium-font-size);
  margin-block: $heading-margin-block;
  text-wrap: balance;
}

h5,
.h5 {
  font-size: linearClamp($small-font-size-min, $small-font-size);
  font-family: $small-font-family;
  font-weight: $small-font-weight;
  line-height: get-line-height($small-font-size);
  margin-block: $heading-margin-block;
  text-wrap: balance;
}

h6,
.h6 {
  font-size: linearClamp($xsmall-font-size-min, $xsmall-font-size);
  font-family: $xsmall-font-family;
  font-weight: $xsmall-font-weight;
  line-height: get-line-height($xsmall-font-size);
  margin-block: $heading-margin-block;
  text-wrap: balance;
}

/*------------------------------------*\
  #Heading Variations
\*------------------------------------*/

.subheader {
  font-size: rem-calc(16px);
}

// Intended to only be used with a heading tag
._with-divider {
  @include headingDivider();
}
