<div class="tcu-sidebar_textbox tcu-sidebar__widget _academic-widget">
  <div class="tcu-icon">
    <span><img src="https://assets.tcu.edu/cornerstone/images/link-white-icon.svg" alt="" role="presentation" /></span>
  </div>
  <div class="tcu-sidebar_textbox-content">
    <p class="tcu-uppercase tcu-top48"><strong>Related Links</strong></p>
    {{ links }}
  </div>
</div>
