<div class="tcu-card-wrap _multi">
    {% for card in cards %}
    <div class="tcu-card-bg {{ card.background_color }}" style="">
        <div class="tcu-card__info">
            <div class="tcu-card__description"><span>{{ card.content }}</span></div>
        </div>
    </div>
    {% endfor %}
</div>
