{% set htmlTag = tagName|default('a') %}

<{{ htmlTag }}
  {% if id %}id="{{ id }}"{% endif %}
  {% if ariaLabel %}aria-label="{{ ariaLabel }}"{% endif %}
  {% if (htmlTag == 'a') %}href="{{ link|default('#') }}"{% endif %}
  {% if target %}target="{{ target }}"{% endif %}
  {% if rel %}rel="{{ rel }}"{% endif %}
  class="button {{ modifier }}"
>
  {{ text }}
</{{ htmlTag }}>
