{% extends '@full-width' %}

{% block page_heading %}{% render '@page-heading' with { heading: "Blog Feed", breadcrumb: false } %}{% endblock %}

{% block content %}

{% render '@dropdown-list' %}

{% render '@title-card--image-left' %}

{% render '@article-listing--blog' %}

{% render '@pagination' %}

{% render '@article-footer' %}

{% endblock %}

{% block sidebar %}

{% endblock %}
