{% extends '@sidebar' %}

{% block page_heading %}{% render '@page-heading' with { heading: "Card Feed With Sidebar", breadcrumb: false } %}{% endblock %}

{% block content %}

{% render '@dropdown-list' %}

{% render '@article-listing' %}

{% render '@pagination' %}

{% endblock %}

{% block sidebar %}
{% render '@article-footer' with { columns: false } %}
{% endblock %}
