{% extends '@full-width' %}

{% block page_heading %}{% render '@page-heading' with { heading: "Card Feed", breadcrumb: false } %}{% endblock %}

{% block content %}

{% render '@dropdown-list' %}

{% render '@article-listing' %}

{% render '@pagination' %}

{% render '@article-footer' with { style: 'card', columns: false } %}

{% endblock %}

{% block sidebar %}

{% endblock %}
