{% extends '@full-width' %}

{% block page_heading %}{% render '@page-heading' with { heading: "News", breadcrumb: false } %}{% endblock %}

{% block content %}

{% render '@dropdown-list' %}

{% render '@article' %}

{% render '@article-footer' %}

{% endblock %}

{% block sidebar %}

{% endblock %}
