<footer class="tcu-footer cf">
  <!-- Local Footer -->
  {% render '@local-footer' %}

  <!-- Global Footer -->
  {% render '@global-footer' %}

  <!-- Scroll to top -->
  {% render '@back-to-top-button' %}
</footer>
