<div class="tcu-fact-banner tcu-component tcu-full-width">
  <div class="tcu-fact-banner__list {% if facts.length <= 2 %}tcu-fact-banner__list--large{% endif %} grid-x grid-margin-x align-spaced"
    data-flickity='{ "adaptiveHeight": true, "watchCSS": true, "wrapAround": true, "groupCells": true, "arrowShape": "" }'
  >
    {% for fact in facts %}
      <div class="tcu-fact-banner__card cell medium-auto">
        <div class="tcu-fact-banner__icon">
          <img src="{{fact.icon}}" alt="" aria-hidden="true" />
        </div>
        <div class="tcu-fact-banner__text">{{fact.text}}</div>
      </div>
    {% endfor %}
  </div>
  <h2 class="tcu-fact-banner__title">{{title}}</h2>
</div>
