{% extends '@image-card' %}

{% block image %}
  <div class="tcu-image-card__image">
    <img aria-labelledby="{{ name|kebab }}-image-card-title" src="{{ image }}" alt="" width="160" height="140" />
  </div>
{% endblock %}

{% block content %}
  {# Title #}
  {% if name %}
  <div id="{{ name|kebab }}-image-card-title" class="tcu-image-card__title">{{ name }}</div>
  {% endif %}
  {# Description #}
  {% if title %}
  <div class="tcu-image-card__description">
    {{ title }}
    {% if description %}
      <br>{{ description }}
    {% endif %}
  </div>
  {% endif %}
{% endblock %}
