<div id="tcu-parallax-{{ index }}" class="tcu-parallax tcu-full-width">
  <style>
    #tcu-parallax-{{ index }} .tcu-parallax__background {
      background-image: url('{{ image.mobile }}');
    }
    @media (min-width: 64em) {
      #tcu-parallax-{{ index }} .tcu-parallax__background {
        background-image: url('{{ image.desktop }}');
      }
    }
  </style>
  <div class="tcu-parallax__background"></div>
</div>
