<div class="tcu-sidebar-menu">
    <div class="tcu-sidebar-menu__title-wrapper">
        <p class="tcu-sidebar-menu__title">
            <a href="/compliance/index.php">Compliance</a>
        </p>
        <button class="tcu-sidebar-menu__arrow" aria-haspopup="true" aria-expanded="true">
            {{arrow_svg}}
            <span class="show-for-sr">Contract Compliance Menu</span>
        </button>
    </div>

    <div class="tcu-sidebar-menu__wrapper" aria-hidden="false">
        <ul class="tcu-sidebar-menu__items">
            <li><a href="/compliance/officers.php">Compliance Officers</a></li>
            <li><a href="/compliance/clery-act.php">Clery Act</a></li>
            <li><a href="/compliance/legal-disclosures.php">Legal Disclosures</a></li>
            <li><a href="/compliance/notice-of-nondiscrimination.php">Notice of Nondiscrimination</a></li>
            <li class="tcu-sidebar__submenu current-page-parent"><a href="/compliance/policies/index.php">Policies</a>
                <button class="tcu-sidebar-menu__arrow" aria-haspopup="true" aria-expanded="true">
                    {{arrow_svg}}
                    <span class="show-for-sr">Contract Policies Menu</span>
                </button>

                <ul class="tcu-sidebar__submenu-items" aria-hidden="false">
                    <li class="tcu-sidebar__submenu current-page-item"><a href="/race-reconciliation-initiative/about/index.php">About
                            RRI</a><button class="tcu-sidebar-menu__arrow" aria-haspopup="true" aria-expanded="true">
                            {{arrow_svg}}
                            <span class="show-for-sr">Contract About RRI Menu</span>
                        </button>
                        <ul class="tcu-sidebar__submenu-items" aria-hidden="false">
                            <li><a
                                    href="/race-reconciliation-initiative/about/meet-our-team.php">Meet Our
                                    Team</a></li>
                            <li><a
                                    href="/race-reconciliation-initiative/about/join-our-journey.php">Join
                                    Our Journey</a></li>
                            <li><a
                                    href="/race-reconciliation-initiative/about/five-year-plan.php">Five-Year
                                    Plan</a></li>
                            <li><a href="/race-reconciliation-initiative/about/plume-award.php">Plume
                                    Award</a></li>
                            <li><a href="/race-reconciliation-initiative/about/books.php">Books</a></li>
                            <li><a
                                    href="/race-reconciliation-initiative/about/faqs.php">FAQs</a></li>
                        </ul>
                    </li>
                    <li><a href="https://anchor.fm/tcurri/episodes/Reconcile-This-ep2mp6">Podcast</a></li>
                    <li><a href="/race-reconciliation-initiative/news/2021-town-hall-meetings.php">Events</a>
                    </li>
                    <li><a href="/race-reconciliation-initiative/news/2021-town-hall-meetings.php">Town Hall
                            Meetings</a></li>
                </ul>
            </li>
            <li><a href="/compliance/privacy.php">Privacy</a></li>
            <li><a href="/compliance/titleix.php" aria-label="Title IX Overview">Title IX</a></li>
            <li class="tcu-sidebar__submenu"><a href="/access-accommodation-cornerstone/dashboard/index.php">Dashboard</a>
                <button class="tcu-sidebar-menu__arrow" aria-haspopup="true" aria-expanded="true">
                    {{arrow_svg}}
                    <span class="show-for-sr">Contract Dashboard Menu</span>
                </button>
                <ul class="tcu-sidebar__submenu-items">
                    <li><a href="/access-accommodation-cornerstone/dashboard/process.php">Process</a></li>
                    <li><a href="/access-accommodation-cornerstone/dashboard/appointments.php">Appointments</a></li>
                    <li><a href="/access-accommodation-cornerstone/dashboard/rights-responsibilities.php">Rights &amp; Responsibilities</a></li>
                    <li><a href="/access-accommodation-cornerstone/dashboard/intake.php">Intake Forms</a></li>
                    <li><a href="/access-accommodation-cornerstone/dashboard/academic-coaching.php">Academic Coaching</a></li>
                    <li><a href="https://bachelor.accessiblelearning.com/TCU">Online Portal</a></li>
                    <li><a href="https://deanofstudents.tcu.edu/student-handbook/">Student Handbook Code of Conduct</a></li>
                </ul>
            </li>
            <li><a href="/compliance/training.php">Training</a></li>
        </ul>
    </div>
</div>
