<div class="tcu-image-card {{ class }} {{ modifier }}">
  {# Image #}
  {% if image %}
    {% block image %}
      <div class="tcu-image-card__image image-flair-alt">
        <img src="{{ image }}" alt="{{ image_description }}" width="670" height="450" loading="lazy" />
      </div>
    {% endblock %}
  {% endif %}
  <div class="tcu-image-card__content">
    {% block content %}
      {# Title #}
      {% if title %}
      <div class="tcu-image-card__title">
        <p class="h2">{{ title }}</p>
      </div>
      {% endif %}
      {# Description #}
      {% if description %}
      <div class="tcu-image-card__description">
        <p>{{ description }}</p>
      </div>
      {% endif %}
      {# Button #}
      {% if call_to_action.text %}
      <div class="tcu-image-card__button">
        {% render "@button" with call_to_action %}
      </div>
      {% endif %}
    {% endblock %}
  </div>
</div>
