<nav aria-label="Breadcrumb" role="navigation">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumbs">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="#"><span itemprop="name">College of Education</span><meta itemprop="position" content="1" /></a>
    </li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="#"><span itemprop="name">About</span><meta itemprop="position" content="2" /></a>
    </li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <span itemprop="name">Page Name</span><meta itemprop="position" content="3" />
    </li>
  </ol>
</nav>
