{% render "@figure" with figure %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis repudiandae sit deserunt hic, quasi assumenda? Numquam ratione optio incidunt iusto, quam illo ex voluptas eius quae eveniet natus eligendi veritatis!</p>
