<article class="tcu-publications-list">
  <section class="tcu-publications-listing" itemscope="itemscope" itemtype="http://schema.org/Person">
    <div class="tcu-publications-card"><a data-href="" class="tcu-publications-card__image"><img alt="Ray Drenner"
          itemprop="image" src="https://www.tcu.edu/directory/images/DrennerRay_new-profile-lg.jpg"></a>
      <div class="tcu-publications-card__info">
        <h2 class="tcu-publications-card__name h5"><a href="view/ray-drenner">Ray Drenner</a></h2>
        <h3 class="tcu-publications-card__title h6">Professor</h3>
        <div class="tcu-publications-card__displaypubs open">Close</div>
      </div>
    </div>
    <div class="tcu-publication-list active">
      <ul>
        <li itemscope="itemscope" itemtype="http://schema.org/ScholarlyArticle">Mayne, R.G., Smith, S.E. and Corrigan,
          C.M., <em itemprop="headline">Testing selecting directory author</em>, <span itemprop="isPartOf"
            itemscope="itemscope" itemtype="http://schema.org/Periodical">Journal of Academic Progress</span>,
          <time itemprop="datePublished" datetime="2019">2019</time>.
        </li>
      </ul>
      <div class="profile-link tcu-top32"><a href="view/ray-drenner" title="View faculty profile for Ray Drenner">View
          Faculty Profile</a></div>
    </div>
    <div class="tcu-publications-card"><a data-href="" class="tcu-publications-card__image"><img alt="Amanda  Hale"
          itemprop="image" src="https://www.tcu.edu/directory/images/HaleAmandanew-profile-lg.jpg"></a>
      <div class="tcu-publications-card__info">
        <h2 class="tcu-publications-card__name h5"><a href="view/amanda-hale">Amanda Hale</a></h2>
        <h3 class="tcu-publications-card__title h6">Professor </h3>
        <div class="tcu-publications-card__displaypubs">View Recent Publications</div>
      </div>
    </div>
    <div class="tcu-publication-list">
      <ul>
        <li itemscope="itemscope" itemtype="http://schema.org/ScholarlyArticle">Williams D.A., Rains N.R., and A.M.
          Hale., <em itemprop="headline">Population genetic structure of Texas horned lizards: Implications for
            reintroduction
            and captive breeding</em>, <span itemprop="isPartOf" itemscope="itemscope"
            itemtype="http://schema.org/Periodical">PeerJ</span>,
          <time itemprop="datePublished" datetime="2019">2019</time>.
        </li>
      </ul>
      <div class="profile-link tcu-top32"><a href="view/amanda-hale" title="View faculty profile for Amanda Hale">View
          Faculty Profile</a></div>
    </div>
    <div class="tcu-publications-card"><a data-href="" class="tcu-publications-card__image"><img alt="Dean Williams"
          itemprop="image" src="https://www.tcu.edu/directory/images/WilliamsDeannew-profile-lg.jpg"></a>
      <div class="tcu-publications-card__info">
        <h2 class="tcu-publications-card__name h5"><a href="view/dean-williams">Dean Williams</a></h2>
        <h3 class="tcu-publications-card__title h6">Professor</h3>
        <div class="tcu-publications-card__displaypubs">View Recent Publications</div>
      </div>
    </div>
    <div class="tcu-publication-list">
      <ul>
        <li itemscope="itemscope" itemtype="http://schema.org/ScholarlyArticle">Frankel AM* and DA Williams, <em
            itemprop="headline">Multiple paternity in a reintroduced rookery of Kemp’s Ridley Sea Turtles on South
            Padre Island, Texas.</em>, <span itemprop="isPartOf" itemscope="itemscope"
            itemtype="http://schema.org/Periodical">Journal of Herpetology</span>,
          <time itemprop="datePublished" datetime="2020">2020</time>.
        </li>
        <li itemscope="itemscope" itemtype="http://schema.org/ScholarlyArticle">Williams D.A., Rains N.R., and A.M.
          Hale., <em itemprop="headline">Population genetic structure of Texas horned lizards: Implications for
            reintroduction
            and captive breeding</em>, <span itemprop="isPartOf" itemscope="itemscope"
            itemtype="http://schema.org/Periodical">PeerJ</span>,
          <time itemprop="datePublished" datetime="2019">2019</time>.
        </li>
        <li itemscope="itemscope" itemtype="http://schema.org/ScholarlyArticle">Malonza P.K., Bauer A.M., Granthon C.,
          Williams D.A., and D. Wojnowski., <em itemprop="headline">A new species of gecko of the genus Lygodactylus
            (Sauria: Gekkonidae) from southeastern
            Kenya.</em>, <span itemprop="isPartOf" itemscope="itemscope"
            itemtype="http://schema.org/Periodical">Zootaxa</span>,
          <time itemprop="datePublished" datetime="2019">2019</time>.
        </li>
        <li itemscope="itemscope" itemtype="http://schema.org/ScholarlyArticle">Heuring C., Barber D., Rains N.R.,
          Erxleben D., Martin C., Williams D.A., and E.J.
          McElroy
          , <em itemprop="headline">Genetics, morphology and diet of introduced populations of the ant-eating Texas
            horned
            lizard (Phrynosoma cornutum).</em>, <span itemprop="isPartOf" itemscope="itemscope"
            itemtype="http://schema.org/Periodical">Scientific Reports</span>,
          <time itemprop="datePublished" datetime="2019">2019</time>.
        </li>
      </ul>
      <div class="profile-link tcu-top32"><a href="view/dean-williams"
          title="View faculty profile for Dean Williams">View Faculty Profile</a></div>
    </div>
  </section>
</article>
