<div class="tcu-lead-in-paragraph tcu-component">
  <h2>Our Mission</h2>
  <p>To prepare exemplary leaders for diverse educational settings and related fields who are reflective, ethical, innovative
  and committed to all learners.</p>
</div>
