<section class="tcu-hero tcu-component {{ modifier }}">
  <div class="tcu-hero__image">
    <div class="image-flair"></div>
      {% if image.mobile and not video %}
        <picture>
          <source media="(min-width: 1024px)" srcset="{{ image.desktop }}" />
          <source media="(min-width: 768px)" srcset="{{ image.tablet }}" />
          <img src="{{ image.mobile }}" alt="" />
        </picture>
      {% endif %}
      {% if video %}
        {% render '@video' with video %}
      {% endif %}
  </div>
  <div class="tcu-hero__content">
    {% if hammerhead %}
    <h2 class="tcu-hammerhead">
        <a href="/">{{ hammerhead }}</a>
      </h2>
    {% endif %}
    <h1 class="tcu-hero__header">
      <a href="/">{{ heading }}</a>
    </h1>
    {{ content }}
    <div class="button-group">
      {% if primary_button.text %}
          {% render "@button" with primary_button %}
      {% endif %}
      {% if secondary_button.text %}
        {% render "@button" with secondary_button %}
      {% endif %}
    </div>
  </div>
</section>
