.tcu-component {
  margin-top: rem-calc($component-margin);
  margin-bottom: rem-calc($component-margin);
}

// If a flexbox row uses the tcu-component, remove the top and bottom margins
// from the child tcu-component. This should most often be used when multiple
// title cards are next to each other in the same row
.grid-x.tcu-component > .cell > .tcu-component {
  margin-top: 0;
  margin-bottom: 0;
}
