.tcu-layout-container {
  max-width: $global-width;
  margin: 0 auto;
  // Column spacing
  // If the .tcu-maincontent section also has a .large-X class,
  // we know that it has a sidebar next to it.
  .tcu-maincontent[class*='large'] {
    @include breakpoint(large) {
      padding-right: $layout-gutter;
    }
  }
  .tcu-maincontent > :nth-child(2) {
    margin-top: 0;
  }
  .tcu-maincontent > :last-child {
    @include breakpoint(large) {
      margin-bottom: 0;
    }
  }
  .tcu-sidebar > :first-child {
    margin-top: 0;
  }
  .tcu-sidebar > :last-child {
    margin-bottom: 0;
  }
  .tcu-sidebar {
    .tcu-two-column-list,
    .tcu-multi-column-list {
      @include breakpoint(large) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.tcu-content-wrapper {
  padding-left: $layout-padding;
  padding-right: $layout-padding;
  margin: 0 auto rem-calc($spacing-10);
  // Use the following classes when you need a component to be full width
  // and break past the normal layout padding
  .tcu-full-width {
    @include fullWidth;
  }
  .tcu-full-width-small {
    @include breakpoint(small only) {
      @include fullWidth;
    }
  }
}

// When there are two full width components next to each other,
// Lets collapse the margin between them
.tcu-full-width.tcu-component:not(.tcu-hero) + .tcu-full-width {
  margin-top: rem-calc(-$component-margin);
}

// Article Listing Layout
.tcu-template-article-listing {
  .tcu-title-card._default {
    border: 3px solid $primary;
  }
  .tcu-dropdown-list + .tcu-component {
    margin-top: 0;
  }
}

// Category list on article pages
.tcu-template-article-listing,
.tcu-template-article {
  .tcu-content-wrapper {
    position: relative;
  }

  .tcu-dropdown-list {
    @include breakpoint(medium) {
      position: absolute;
      top: 0;
      right: $layout-padding;
    }
    @include breakpoint(large) {
      right: calc(#{$layout-padding} + #{$spacing-7});
    }
  }
}
// Helper class to have equal height when using foundation
._equal-height > .cell {
  display: grid;
}
