<a href="{{ button_link }}" class="tcu-content-button {{ flexbox_width }}">
  {% if headline %}
  <h2 class="tcu-content-button__title">{{ headline }}</h2>
  {% endif %}
  {% if content_block %}
  <div class="tcu-content-button__text">{{ content_block }}</div>
  {% endif %}
  <div class="tcu-content-button__arrow"></div>
</a>
