<div class="tcu-title-card {{ modifier }} {{ background_color }} tcu-component" style="background-image:url('{{ image }}')">
  {% if image %}
  <div class="tcu-title-card__image">
    <picture><img src="{{ image }}" alt="{{ image_description }}"></picture>
  </div>
  {% endif %}
  <div class="tcu-title-card__content">
    <div class="tcu-title-card__header">
      {% if hammerhead and not headline %}
        <h2 class="tcu-title-card__hammerhead tcu-hammerhead">{{ hammerhead }}</h2>
      {% elseif hammerhead %}
        <div class="tcu-title-card__hammerhead tcu-hammerhead">{{ hammerhead }}</div>
      {% endif %}
      {% if headline %}
      <h2 class="tcu-title-card__headline">{{ headline }}</h2>
      {% endif %}
    </div>
    {{ content_block }}
    <div class="button-group">
      {% for button in button_group %}
        {% render "@button" with button %}
      {% endfor %}
    </div>
  </div>
  <!-- /.tcu-module__inner -->
</div>
