<div class="tcu-title-card {{ modifier }} {{ background_color }} tcu-component"
  style="background-image:url('{{ image }}')">
  {% if video %}
    {% render '@video' with { class: 'tcu-title-card__video', vimeo: { id: video, background: true, width: 1800, height: 700, transparent: false } } %}
  {% elseif image %}
    <div class="tcu-title-card__image">
      <picture><img src="{{ image }}" alt="{{ image_description }}"></picture>
    </div>
  {% endif %}
  <div class="tcu-title-card__content">
    {% if headline or hammerhead %}
      <div class="tcu-title-card__header">
        {% if hammerhead and not headline %}
          <h2 class="tcu-title-card__hammerhead tcu-hammerhead">{{ hammerhead }}</h2>
        {% elseif hammerhead %}
          <div class="tcu-title-card__hammerhead tcu-hammerhead">{{ hammerhead }}</div>
        {% endif %}
        {% if headline %}
        <h2 class="tcu-title-card__headline">{{ headline }}</h2>
        {% endif %}
      </div>
    {% endif %}
    {{ content_block }}
    {% if button_type == 'content-button' %}
      <div class="grid-x grid-margin-x grid-margin-y">
        {% for button in button_group %}
          <div class="cell large-auto">{% render '@content-button' with { headline: button.text, content_block: '' } %}</div>
        {% endfor %}
      </div>
    {% endif %}
    {% if button_type == 'button' %}
      <div class="button-group">
        {% for button in button_group %}
          {% render '@button' with { text: button.text, modifier: 'primary' } %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <!-- /.tcu-module__inner -->
</div>
