<div class="grid-x grid-margin-x grid-margin-y">
  <div class="cell large-6">
    {% render "@content-button" with twoUp %}
  </div>
  <div class="cell large-6">
    {% render "@content-button" with twoUp %}
  </div>
</div>
