<!-- schema.org markup for homepage -->
<script
  type="application/ld+json">{"@context":"http://schema.org","@type":"CollegeOrUniversity","name":"College of Science & Engineering","address":{"@type":"PostalAddress","addressLocality":"Fort Worth","addressRegion":"TX","postalCode":"76109","streetAddress":"Tucker Technology Center, Suite 102, 2840 West Bowie Street"},"telephone":"817-257-7727","fax":"817-257-7736","url":"https://cse.tcu.edu","sameAs":["https://www.facebook.com/TCUCSE/","https://twitter.com/TCU_CSE"],"parentOrganization":{"@type":"CollegeOrUniversity","name":"Texas Christian University","url":"https://www.tcu.edu"}}</script>
<meta property="og:title" content="College of Science &amp; Engineering | Texas Christian University">
<meta property="og:url" content="https://cse.tcu.edu/index.php">
<meta property="og:description"
  content="TCU's College &amp; Engineering programs explore big questions about the evolution of distant galaxies, the environmental impact of our society and the intricacies of the human mind.">
<meta property="og:type" content="">
<meta property="og:updated_time" content="2021-02-22T09:11:22.334-08:00">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://cse.tcu.edu/index.php">
<meta name="twitter:title" content="College of Science &amp; Engineering | Texas Christian University">
<meta name="twitter:description"
  content="TCU's College &amp; Engineering programs explore big questions about the evolution of distant galaxies, the environmental impact of our society and the intricacies of the human mind.">
