<script>
  (function(){
      // Function to create and update the site style banner
      function updateSiteStyleBanner(siteStyle) {
          // Remove existing banner if it exists
          var existingBanner = document.querySelector('.site-style-banner');
          if (existingBanner) {
              existingBanner.remove();
          }

          // Add banner
          if (siteStyle && siteStyle.name) {
              const siteStyleBanner = document.createElement("div");
              siteStyleBanner.classList.add('site-style-banner');
              siteStyleBanner.innerHTML = `Viewing the live <strong>${siteStyle.name}</strong> theme`;
              document.body.prepend(siteStyleBanner);
          }
      }

      // Get site style from localStorage
      var siteStyle = JSON.parse(localStorage.getItem('siteStyle'));

      // Apply site style banner initially
      updateSiteStyleBanner(siteStyle);

      // Add onchange event listener to siteStyle object
      window.addEventListener('storage', function(event) {
          if (event.key === 'siteStyle') {
              siteStyle = JSON.parse(event.newValue);
              updateSiteStyleBanner(siteStyle);
          }
      });
  })();
  </script>
