<style>
  .site-style-banner,
  .site-style-switcher {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: #180925;
    background: #e6e7e8;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  .site-style-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .site-style-switcher select {
    margin: 0;
    width: auto;
  }
</style>
<script>
  (function(){
    var siteStyle = JSON.parse(localStorage.getItem('siteStyle'));
    // Apply site style initially
    applySiteStyle();

    // Add onchange event listener to siteStyle object
    window.addEventListener('storage', function(event) {
        if (event.key === 'siteStyle') {
            siteStyle = JSON.parse(event.newValue);
            applySiteStyle();
        }
    });

    // Function to apply site style
    function applySiteStyle() {
            // Add stylesheet
      if (siteStyle && siteStyle.name) {
        document.getElementById('stylesheet').href = 'https://'+siteStyle.name+'.tcu.edu/_resources/css/style.min.css';
      }

      // Add remote fonts
      if (siteStyle && siteStyle.font) {
        document.getElementById('fonts').href = siteStyle.font;
      }
    }
  })();
  </script>
