<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none">
  <defs>
    <path id="a" d="M0 0h27v31H0z"></path>
  </defs>
  <symbol id="icon-cd-top-arrow" viewBox="0 0 16 16">
    <path d="M8 2.8l8 7.9-2.4 2.4-5.5-5.5-5.6 5.6L0 10.7z"></path>
  </symbol>
  <symbol id="icon-down-arrow-dark" viewBox="-77 10 20 11">
    <path
      d="M-58.7 10.3l-8.3 8.3-8.3-8.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l9 9c.4.4 1 .4 1.4 0l9-9c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z">
    </path>
  </symbol>
  <symbol id="icon-down-arrow" viewBox="-77 10 20 11">
    <path
      d="M-58.7 10.3l-8.3 8.3-8.3-8.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l9 9c.4.4 1 .4 1.4 0l9-9c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z">
    </path>
  </symbol>
  <symbol id="icon-email-icon" viewBox="0 0 24 24">
    <path
      d="M12 16.667a4.667 4.667 0 1 0 0-9.334 4.667 4.667 0 0 0 0 9.334zm10.237-2.32c.172-.755.263-1.54.263-2.347 0-5.799-4.701-10.5-10.5-10.5S1.5 6.201 1.5 12 6.201 22.5 12 22.5h3.5m.91-8.167c1.011 1.556 2.1 2.334 3.267 2.334 1.166 0 2.022-.778 2.566-2.334"
      fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-facebook" viewBox="0 0 32 32">
    <path
      d="M20.155 10.656l-1.506.001c-1.181 0-1.41.561-1.41 1.384v1.816h2.817l-.367 2.845h-2.45V24h-2.937v-7.298h-2.456v-2.845h2.456V11.76c0-2.435 1.487-3.76 3.658-3.76 1.04 0 1.934.077 2.195.112v2.544zM16 0C7.164 0 0 7.163 0 16c0 8.836 7.164 16 16 16 8.837 0 16-7.164 16-16 0-8.837-7.163-16-16-16z"
      fill-rule="evenodd"></path>
  </symbol>
  <symbol id="icon-flickr" viewBox="0 0 32 32">
    <path
      d="M20.444 19.555a3.556 3.556 0 1 1 0-7.111 3.556 3.556 0 0 1 0 7.111m-8.889 0a3.555 3.555 0 1 1 0-7.11 3.555 3.555 0 0 1 0 7.11M16 0C7.163 0 0 7.163 0 16c0 8.836 7.163 16 16 16 8.836 0 16-7.164 16-16 0-8.837-7.164-16-16-16"
      fill-rule="evenodd"></path>
  </symbol>
  <symbol id="icon-instagram" viewBox="0 0 32 32">
    <g fill-rule="evenodd">
      <path
        d="M16.077 19.139a3.073 3.073 0 0 0 3.077-3.07A3.073 3.073 0 0 0 16.077 13 3.073 3.073 0 0 0 13 16.069a3.073 3.073 0 0 0 3.077 3.07M19.448 13.051h2.163c.247 0 .448-.2.448-.446v-2.159a.447.447 0 0 0-.448-.446h-2.163c-.247 0-.448.2-.448.446v2.159c0 .246.201.446.448.446">
      </path>
      <path
        d="M24 22.102A1.9 1.9 0 0 1 22.098 24H9.902A1.9 1.9 0 0 1 8 22.102V9.897A1.9 1.9 0 0 1 9.902 8h12.196C23.149 8 24 8.849 24 9.897v12.205zM16 0C7.163 0 0 7.163 0 16c0 8.836 7.163 16 16 16s16-7.164 16-16c0-8.837-7.163-16-16-16z">
      </path>
      <path
        d="M21.058 16.284c0 2.677-2.183 4.856-4.867 4.856s-4.867-2.179-4.867-4.856c0-.444.06-.875.173-1.284H10v6.958c0 .247.2.447.447.447h11.487c.248 0 .448-.2.448-.447V15h-1.497c.113.409.173.84.173 1.284">
      </path>
    </g>
  </symbol>
  <symbol id="icon-location-icon" viewBox="0 0 23 37">
    <path
      d="M15.822 28.171l-.772 1.544c3.937.463 6.33 1.775 6.33 2.701 0 1.158-3.86 2.933-9.88 2.933-6.02 0-9.88-1.698-9.88-2.933 0-1.08 3.32-2.701 8.645-2.856l1.235 2.547 8.567-17.288a9.844 9.844 0 0 0 1.312-4.94C21.38 4.4 16.98 0 11.5 0 6.02 0 1.62 4.4 1.62 9.88c0 1.774.464 3.472 1.313 4.939l6.56 13.275C4.553 28.403 0 29.946 0 32.57c0 2.933 5.789 4.477 11.5 4.477S23 35.503 23 32.57c0-2.392-3.164-3.859-7.178-4.399zM7.41 8.49a4.15 4.15 0 0 1 4.168-4.168 4.15 4.15 0 0 1 4.168 4.168 4.15 4.15 0 0 1-4.168 4.168A4.15 4.15 0 0 1 7.41 8.49z"
      fill-rule="nonzero"></path>
  </symbol>
  <symbol id="icon-location-pin-icon" viewBox="0 0 24 24">
    <path
      d="M11.9 1.5c.1 0 .1 0 0 0h.1c5 .1 9 3.7 9 8.2 0 5.8-6.4 10.9-9 12.8-.2-.1-9-7-9-12.8 0-4.5 4-8.1 8.9-8.2zM12 13c1.7 0 3-1.3 3-3s-1.3-3-3-3-3 1.3-3 3 1.3 3 3 3z"
      id="location-pin-icon"></path>
  </symbol>
  <symbol id="icon-mail-icon" viewBox="0 0 24 24">
    <path
      d="M2 3.75l10 6.75 10-6.75m-18.9 17a1.6 1.6 0 0 1-1.6-1.6V4.85a1.6 1.6 0 0 1 1.6-1.6h17.8a1.6 1.6 0 0 1 1.6 1.6v14.3a1.6 1.6 0 0 1-1.6 1.6H3.1z"
      fill-rule="nonzero" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-more-arrow" viewBox="0 0 18 18">
    <g stroke="#4D4D4A" stroke-width="3" fill-rule="evenodd">
      <path d="M0 16.491V1h15.49M.021.963l17.524 16.061"></path>
    </g>
  </symbol>
  <symbol id="icon-pause-button" viewBox="0 0 33 44">
    <g>
      <path
        d="M9.32 0H1.68C.755 0 0 .794 0 1.764v40.472C0 43.206.756 44 1.68 44h7.64c.924 0 1.68-.794 1.68-1.764V1.764C11 .794 10.244 0 9.32 0zM31.32 0h-7.64C22.755 0 22 .794 22 1.764v40.472c0 .97.756 1.764 1.68 1.764h7.64c.924 0 1.68-.794 1.68-1.764V1.764C33 .794 32.244 0 31.32 0z">
      </path>
    </g>
  </symbol>
  <symbol id="icon-phone-icon" viewBox="0 0 24 24">
    <path
      d="M1.809 2.28a.477.477 0 0 1 .435-.383l5.226-.394a.956.956 0 0 1 1.026.817l.621 4.597a.934.934 0 0 1-.273.792L6.8 9.72a.932.932 0 0 0 0 1.335l6.351 6.242a.972.972 0 0 0 1.358 0l2.073-2.037a.97.97 0 0 1 .743-.274l4.28.28a.95.95 0 0 1 .896.952l-.057 5.529a.474.474 0 0 1-.392.459c-5.625 1.033-11.67.354-16.135-4.035C1.443 13.774.74 7.81 1.809 2.28z"
      fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-pinterest" viewBox="0 0 32 32">
    <path
      d="M17.234 19.563c-.992 0-1.926-.536-2.245-1.146 0 0-.534 2.118-.646 2.527-.398 1.444-1.569 2.889-1.66 3.007-.063.083-.203.057-.218-.052-.025-.184-.324-2.007.028-3.493l1.182-5.008s-.293-.587-.293-1.454c0-1.362.789-2.379 1.772-2.379.836 0 1.239.628 1.239 1.38 0 .84-.535 2.097-.811 3.261-.231.975.489 1.77 1.451 1.77 1.74 0 2.913-2.236 2.913-4.886 0-2.014-1.356-3.522-3.824-3.522-2.787 0-4.525 2.079-4.525 4.402 0 .8.237 1.365.607 1.802.17.201.194.282.132.512-.045.17-.145.576-.188.738-.061.233-.249.316-.46.23-1.283-.524-1.882-1.931-1.882-3.511C9.806 11.13 12.008 8 16.374 8c3.51 0 5.819 2.538 5.819 5.265 0 3.605-2.005 6.298-4.959 6.298M16 0C7.163 0 0 7.163 0 16c0 8.836 7.163 16 16 16 8.836 0 16-7.164 16-16 0-8.837-7.164-16-16-16"
      fill-rule="evenodd"></path>
  </symbol>
  <symbol id="icon-play-button" viewBox="0 0 33 50">
    <path
      d="M.1 3.4s0-.9.1-1.5C.4.6 1.7 0 2.6 0c.7 0 1.2.3 1.8.8l27.3 21.3c.1 0 .1.1.2.2 1 .9 1.1 1.9 1.1 2.6 0 1.4-.9 2.2-1.1 2.4-10.2 7.9-26.7 21-26.7 21-1 .7-1.8 1.3-2.7 1.3-1.1 0-1.8-.6-2.2-1.1-.2-.3-.3-.7-.3-1z">
    </path>
  </symbol>
  <symbol id="icon-search" viewBox="0 0 27 31">
    <g fill-rule="evenodd">
      <mask id="b">
        <use xlink:href="#a"></use>
      </mask>
      <path
        d="M3.552 10c0-3.564 2.917-6.468 6.503-6.468 3.587 0 6.504 2.904 6.504 6.468 0 3.568-2.917 6.47-6.504 6.47-3.586 0-6.503-2.902-6.503-6.47m23.115 17.586l-7.555-10.008h-.546l-.548.545-.806-1.107A9.934 9.934 0 0 0 20.11 10c0-5.513-4.51-10-10.056-10C4.511 0 0 4.487 0 10c0 5.516 4.51 10.002 10.055 10.002 1.643 0 3.191-.403 4.563-1.1l1.006 1.141-.605.604v.286s7.439 9.29 7.9 9.749c.461.459 1.499.286 1.499.286s1.5-.86 2.25-1.605c.748-.746 0-1.777 0-1.777"
        mask="url(#b)"></path>
    </g>
  </symbol>
  <symbol id="icon-snapchat" viewBox="0 0 32 32">
    <g>
      <path
        d="M16 0c8.8 0 16 7.2 16 16s-7.2 16-16 16S0 24.8 0 16 7.2 0 16 0zm-2.8 23.9c.8.6 1.7 1.1 2.8 1.1 1.1.1 2-.5 2.8-1.1.9-.7 1.7-1.1 3.5-.8.2.1.7.2.7-.3.1-.4.1-1 .4-1 1.6-.3 2.2-.6 2.4-.9.1-.1.2-.4 0-.5-2.8-.5-4.1-3.2-4.3-3.8-.3-.8.2-1.3 1.2-1.6.4-.2 1.2-.4 1.2-.9 0-.3-.2-.5-.5-.6-.2-.1-.4-.1-.6 0-.6.3-1.2.4-1.5.1 0-1.4.4-3.2-.2-4.7C20.4 7.5 18.7 6 16 6s-4.4 1.5-5 3.1c-.6 1.5-.2 3.3-.2 4.7-.3.3-.9.2-1.5-.1-.2-.1-.4-.1-.6 0-.2.1-.5.3-.5.6 0 .5.8.8 1.2.9 1 .3 1.5.8 1.2 1.6-.2.6-1.5 3.3-4.3 3.8-.2.1-.1.4 0 .5.2.3.8.6 2.4.9.2.1.3.6.4 1 0 .5.5.3.7.3 1.7-.4 2.5-.1 3.4.6z">
      </path>
    </g>
  </symbol>
  <symbol id="icon-twitter" viewBox="0 0 32 32">
    <path
      d="M22.362 12.737c.006.141.01.282.01.425 0 4.337-3.302 9.339-9.34 9.339A9.294 9.294 0 0 1 8 21.027c.257.03.518.045.783.045a6.584 6.584 0 0 0 4.077-1.405 3.285 3.285 0 0 1-3.067-2.279 3.312 3.312 0 0 0 1.483-.057 3.283 3.283 0 0 1-2.633-3.218v-.042c.442.246.949.394 1.487.411a3.282 3.282 0 0 1-1.016-4.383 9.32 9.32 0 0 0 6.766 3.43 3.283 3.283 0 0 1 5.593-2.994 6.568 6.568 0 0 0 2.085-.796 3.299 3.299 0 0 1-1.443 1.816A6.587 6.587 0 0 0 24 11.038a6.682 6.682 0 0 1-1.638 1.699M16 0C7.163 0 0 7.163 0 16c0 8.836 7.163 16 16 16s16-7.164 16-16c0-8.837-7.163-16-16-16"
      fill-rule="evenodd"></path>
  </symbol>
  <symbol id="icon-up-arrow" viewBox="-77 10 20 11">
    <path
      d="M-66.3 10.3c-.4-.4-1-.4-1.4 0l-9 9c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l8.3-8.3 8.3 8.3c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-9-9z">
    </path>
  </symbol>
  <symbol id="icon-youtube" viewBox="0 0 32 32">
    <g fill-rule="evenodd">
      <path
        d="M24 16.604c0 1.295-.16 2.59-.16 2.59s-.156 1.102-.636 1.588c-.608.637-1.29.64-1.603.677-2.239.162-5.601.167-5.601.167s-4.16-.038-5.44-.16c-.356-.067-1.156-.047-1.764-.684-.48-.486-.636-1.588-.636-1.588S8 17.899 8 16.604V15.39c0-1.295.16-2.589.16-2.589s.156-1.103.636-1.589c.608-.637 1.29-.64 1.603-.677 2.239-.162 5.598-.162 5.598-.162h.006s3.359 0 5.598.162c.313.037.995.04 1.603.677.48.486.636 1.589.636 1.589s.16 1.294.16 2.589v1.214zM16 0C7.163 0 0 7.163 0 16c0 8.836 7.163 16 16 16s16-7.164 16-16c0-8.837-7.163-16-16-16z">
      </path>
      <path d="M14.001 18.496l4.323-2.24L14 14z"></path>
    </g>
  </symbol>
  <symbol id="icon-blog" viewBox="0 0 32 32">
    <path
      d="M21.538 24c0-7.465-6.073-13.538-13.538-13.538V8c8.822 0 16 7.178 16 16h-2.462zm-5.441 0c0-4.465-3.632-8.097-8.097-8.097v-2.462c5.822 0 10.558 4.737 10.558 10.559h-2.461zm-5.766 0a2.332 2.332 0 1 1 .001-4.663A2.332 2.332 0 0 1 10.331 24zM16 0C7.163 0 0 7.163 0 16s7.163 16 16 16c8.836 0 16-7.163 16-16S24.836 0 16 0z"
      fill-rule="evenodd"></path>
  </symbol>
</svg>
