<section class="tcu-layoutwrap--white tcu-below32 cf">
  <div class="group size1of1 m-size1of1">
    {% for box in boxes %}
    <div class="unit size1of2 m-size1of2 tcu-pad-l0">
      <a id="content-box{{ loop.index }}" href="{{ box.link }}" style="background: url({{ box.photo }}) center center no-repeat; background-size: cover;"
        class="tcu-image-module tcu-flexbox _row _nowrap _justify-content-center tcu-position-relative" aria-label="{{ box.link_description }} ">
        <div class="tcu-overlay _slanted _slanted__purple _slanted_left_sm "></div>
        <p class="tcu-image-module__title h4 tcu-txt-white tcu-alignc tcu-oswald">{{ box.headline }}</p>
        <span class="tcu-button _more"><span class="tcu-visuallyhidden">Read More</span></span>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
