<section class="tcu-overview-explore">
    <div class="_banner"><img src="{{ full_width_photo }}" alt="" width="1000" height="390"></div>
    <div class="_overview">
      <h1 class="h2">{{ headline }}</h1>
      <div class="tcu-two-column _reverse">
          <div class="_reverse__content">
            {{ overview_text }}
            <p class="tcu-sub-headline">EXPLORE FURTHER</p>
            {{ explore_more_links }}
          </div>
          <div class="_reverse__image"><img src="{{ inset_photo }}" alt="{{ inset_photo_description }}" width="320" height="320"></div>
      </div>
    </div>
</section>
