<div class="tcu-timeline__info">
    <h2 class="tcu-hammerhead">{{hammerhead}}</h2>
    <h2 class="tcu-timeline__info-title h2">{{title}}</h2>
</div>
<div class="tcu-timeline-app"
    data-source="{{dataSource}}"></div>
<script type="module" crossorigin="" src="https://assets.tcu.edu/js/timeline/3.0.0/timeline-basic.js"></script>
<link rel="modulepreload" href="https://assets.tcu.edu/js/timeline/3.0.0/index.js">

