<div role="region" aria-label="Alert Banner" class="oualerts-notify tcu-alert {{ modifier }} animated-fast oualerts-top" style="">
  <div class="oualerts-notify-body">
    <div class="oualerts-notify-date">June 22, 2021 4:04 PM</div>
    <h3 class="oualerts-notify-title">Testing Alert Title</h3>
    <h4 class="oualerts-notify-subtitle">Emergency alert subtitle</h4>
    <p class="oualerts-notify-msg">This is an alert message&nbsp;<a href="https://coe.dev.tcu.edu/cornerstone/" target="_blank" class="oualerts-notify-link">Read More...</a></p>
    <p class="oualerts-notify-footer">
      <button class="oualerts-close-button">Close</button>
    </p>
  </div>
</div>
