<div class="cell large-6 localist-widget-wrapper">
  <h2 class="localist-widget-wrapper__header">Events</h2>
  {{ widget }}
  <div class="button-group">
    {% render "@button" with {text: "View All Events"} %}
  </div>
</div>

