// This file has been dynamically generated from design tokens
// Source: _src/tokens/color-styles.json

$safe-background: rgb(230, 239, 194) !default;
$primary: rgb(77, 25, 121) !default;
$announcement-border: rgb(90, 175, 238) !default;
$announcement-background: rgb(213, 237, 248) !default;
$warning-border: rgb(255, 204, 0) !default;
$neutral-80: rgb(77, 77, 74) !default;
$warning-background: rgb(235, 225, 111) !default;
$neutral-60: rgb(118, 118, 118) !default;
$tertiary: rgb(255, 244, 220) !default;
$secondary: rgb(254, 210, 119) !default;
$neutral-40: rgb(238, 238, 238) !default;
$neutral-20: rgb(238, 238, 238) !default;
$neutral-0: rgb(255, 255, 255) !default;
$neutral-100: rgb(0, 0, 0) !default;
$emergency-border: rgb(208, 2, 27) !default;
$emergency-background: rgb(251, 227, 228) !default;
$safe-border: rgb(144, 172, 35) !default;
$text-black: rgb(77, 77, 74) !default;

// Map version
$color-styles-map: (
  'safe-background': (rgb(230, 239, 194)),
  'primary': (rgb(77, 25, 121)),
  'announcement-border': (rgb(90, 175, 238)),
  'announcement-background': (rgb(213, 237, 248)),
  'warning-border': (rgb(255, 204, 0)),
  'neutral-80': (rgb(77, 77, 74)),
  'warning-background': (rgb(235, 225, 111)),
  'neutral-60': (rgb(118, 118, 118)),
  'tertiary': (rgb(255, 244, 220)),
  'secondary': (rgb(254, 210, 119)),
  'neutral-40': (rgb(238, 238, 238)),
  'neutral-20': (rgb(238, 238, 238)),
  'neutral-0': (rgb(255, 255, 255)),
  'neutral-100': (rgb(0, 0, 0)),
  'emergency-border': (rgb(208, 2, 27)),
  'emergency-background': (rgb(251, 227, 228)),
  'safe-border': (rgb(144, 172, 35)),
  'text-black': (rgb(77, 77, 74)),
);
