// This file has been dynamically generated from design tokens
// Source: _src/tokens/text-styles.json

$large-font-size-min: 40px !default;
$xxlarge-font-size-min: 60px !default;
$xsmall-font-size: 25px !default;
$xsmall-font-family: Oswald !default;
$large-font-weight: 500 !default;
$xxlarge-font-weight: 700 !default;
$source-sans-pro: Source Sans Pro !default;
$oswald: Oswald !default;
$medium-font-size: 35px !default;
$body-font-size-min: 20px !default;
$xlarge-font-size-min: 50px !default;
$medium-font-family: Oswald !default;
$hammerhead-font-size-min: 18px !default;
$caption-font-size-min: 12px !default;
$body-font-weight: 500 !default;
$small-font-size-min: 30px !default;
$xlarge-font-weight: 500 !default;
$large-font-size: 40px !default;
$xxlarge-font-size: 60px !default;
$hammerhead-font-weight: 500 !default;
$caption-font-weight: 800 !default;
$small-font-weight: 500 !default;
$large-font-family: Playfair Display !default;
$xxlarge-font-family: Playfair Display !default;
$xsmall-font-size-min: 25px !default;
$body-font-size: 20px !default;
$xlarge-font-size: 50px !default;
$body-font-family: Source Sans Pro !default;
$playfair: Playfair Display !default;
$xlarge-font-family: Playfair Display !default;
$hammerhead-font-size: 18px !default;
$caption-font-size: 12px !default;
$xsmall-font-weight: 500 !default;
$small-font-size: 30px !default;
$medium-font-size-min: 35px !default;
$hammerhead-font-family: Oswald !default;
$caption-font-family: Source Sans Pro !default;
$small-font-family: Oswald !default;
$medium-font-weight: 500 !default;

// Map version
$text-styles-map: (
  'large-font-size-min': (40px),
  'xxlarge-font-size-min': (60px),
  'xsmall-font-size': (25px),
  'xsmall-font-family': (Oswald),
  'large-font-weight': (500),
  'xxlarge-font-weight': (700),
  'source-sans-pro': (Source Sans Pro),
  'oswald': (Oswald),
  'medium-font-size': (35px),
  'body-font-size-min': (20px),
  'xlarge-font-size-min': (50px),
  'medium-font-family': (Oswald),
  'hammerhead-font-size-min': (18px),
  'caption-font-size-min': (12px),
  'body-font-weight': (500),
  'small-font-size-min': (30px),
  'xlarge-font-weight': (500),
  'large-font-size': (40px),
  'xxlarge-font-size': (60px),
  'hammerhead-font-weight': (500),
  'caption-font-weight': (800),
  'small-font-weight': (500),
  'large-font-family': (Playfair Display),
  'xxlarge-font-family': (Playfair Display),
  'xsmall-font-size-min': (25px),
  'body-font-size': (20px),
  'xlarge-font-size': (50px),
  'body-font-family': (Source Sans Pro),
  'playfair': (Playfair Display),
  'xlarge-font-family': (Playfair Display),
  'hammerhead-font-size': (18px),
  'caption-font-size': (12px),
  'xsmall-font-weight': (500),
  'small-font-size': (30px),
  'medium-font-size-min': (35px),
  'hammerhead-font-family': (Oswald),
  'caption-font-family': (Source Sans Pro),
  'small-font-family': (Oswald),
  'medium-font-weight': (500),
);
