<div class="tcu-publications-container _full-width _striped">
  <div class="tcu-layout-constrain _narrow">
    <h2 class="h1" style="margin-bottom: 32px; text-align:center;">Recent Publications</h2>
    <div class="tcu-module-flex-wrap">
      {% for publication in publications %}
        <div class="tcu-publication">
          <article class="publication-article">
            <header>
              <h3 class="h5 publication-title">“{{ publication.title }}”</h3><span class="publication-author"><small>{{ publication.author }}</small></span>
            </header>
            <footer>
              <p><cite>{{ publication.press }}</cite></p>
            </footer>
          </article>
        </div>
      {% endfor %}
    </div>
    <p style="text-align:center"><a class="tcu-button _small _primary"
        href="/criminal-justice/faculty-staff/publications.php">View All Publications</a></p>
  </div>
</div>
