<div id="faqsearch-app" class="tcu-faqsearch-app" data-filter="Travel Expenses,Hotels,Rental Cars,Hotels" data-site="finance" data-audience="Concur" data-source="https://finance.dev.tcu.edu/faq/index.json"></div>
<script type="module" crossorigin="" src="https://assets.tcu.edu/js/faqsearch/v2.1.0/faqsearch-subgroup.js"></script>
<link rel="modulepreload" crossorigin="" href="https://assets.tcu.edu/js/faqsearch/v2.1.0/config.js" />
