<div class="tcu-faqsearch-app" data-filter="" data-site="finance" data-source="https://admissions.dev.tcu.edu/frequently-asked-questions/index.json" data-pagination="true" data-itemsperpage="10" data-audience="" data-startsopen="false" data-showfilterpanel="true" data-multiple="true"></div>
<script type="module" crossorigin="" src="https://assets.tcu.edu/js/faqsearch/v2.3.0/faqsearch.js"></script>
<link rel="modulepreload" crossorigin="" href="https://assets.tcu.edu/js/faqsearch/v2.3.0/config.js" />
