<section class="tcu-hero-text | tcu-site-name">
  <div class="tcu-hero-text__hammerhead | tcu-site-name__hammerhead"><a href="/index.php">{{ college }}</a></div>
  <div class="tcu-hero-text__heading | tcu-site-name__heading" itemprop="name"><a href="#">{{ department }}</a>
  </div>
</section>
