<section class="tcu-article-card {{ modifier }}">
  {% if image %}
  <div class="tcu-article-card__image">
    <img
      src="{{ image }}"
      width="280"
      height="280"
      alt="{{ image_description }}"
      loading="lazy"
    />
  </div>
  {% endif %}
  <div class="tcu-article-card__content">
    <ul class="tcu-article-card__tags">
      {% for tag in tags %}
        <li><a href="?tags={{ tag }}">{{ tag }}</a>{% if not loop.last %}<span>{{ tag_divider }}</span>{% endif %}
        </li>
        {% endfor %}
      </ul>
    <h2 class="tcu-article-card__title">
      <a href="{{ permalink }}">{{ title }}</a>
    </h2>
    <div class="tcu-article-card__meta">{{ date }}</div>
    <div class="tcu-article-card__description">{{ description }}</div>
  </div>
</section>
