<section class="tcu-article-card {{ modifier }}">
  {% if image %}
    <div class="tcu-article-card__image">
      <img src="{{ image }}" width="281" height="281" alt="{{ image_description }}" loading="lazy" />
    </div>
  {% endif %}
  <div class="tcu-article-card__content">
    <ul class="tcu-article-card__tags">
      {% for tag in tags %}
        <li><a href="?tags={{ tag }}">{{ tag }}</a>
        {% if not loop.last %}<span>{{ tag_divider }}</span>{% endif %}</li>
      {% endfor %}
    </ul>
    <h2 class="tcu-article-card__title" id="article-card-title-{{ id }}">{{ title }}</h2>
    <div class="tcu-article-card__meta">Posted on {{ date }}{% if author %}, by {{ author }}{% endif %}</div>
    <div class="tcu-article-card__description">{{ description }}</div>
    <div class="tcu-article-card__buttons"><a href="{{ permalink }}" aria-labelledby="article-card-title-{{ id }}">Read More</a></div>
  </div>
</section>
