/*------------------------------------*\
    #Animations
\*------------------------------------*/

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-scale {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  60% {
    opacity: 1;
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
