.tcu-color {
  @include color-token-utilities(color);
}

.tcu-background {
  @include color-token-utilities(background-color);
}

.tcu-border {
  @include color-token-utilities(border-color);
}

.tcu-margin {
  @include spacing-utilities();
}

.tcu-padding {
  @include spacing-utilities(padding);
}

.float-left,
.float-right {
  @include breakpoint(small only) {
    // Small screens aren't large enough for floats
    /* stylelint-disable-next-line declaration-no-important */
    float: none !important;
  }
}

.nowrap {
  white-space: nowrap;
}

.full-width-image {
  width: 100%;
  display: block;
}
