<div class="tcu-article-footer tcu-component">
  <div class="grid-x grid-margin-x">
    <!-- Related Posts -->
    {% if related %}
      <div class="cell small-12 {{ columns ? 'large-auto' }}">
        <h2 class="_with-divider">Related Posts</h2>
        {% if style == 'list' %}
          {% render '@link-list' %}
        {% elseif style == 'card' %}
          {% render '@article-listing--default' with { limit: 4 } %}
        {% endif %}
      </div>
    {% endif %}
    <!-- Recent Posts -->
    {% if recent %}
      <div class="cell small-12 {{ columns ? 'large-auto' }}">
        <h2 class="_with-divider">Recent Posts</h2>
        {% if style == 'list' %}
          {% render '@link-list' %}
        {% elseif style == 'card' %}
          {% render '@article-listing--default' with { limit: 4 } %}
        {% endif %}
      </div>
    {% endif %}
    <!-- Archive -->
    {% if archive %}
      <div class="cell small-12 {{ columns ? 'large-auto' }}">
        <h2 class="_with-divider">Archive</h2>
        {% render '@link-list' %}
      </div>
    {% endif %}
  </div>
  <!-- Editable Area -->
  {% if editable %}
    {% render '@callout--light' %}
  {% endif %}
</div>
