<div class="tcu-profile">
  <div class="btn-holder">{% render "@button" with {tagName: "button", modifier: 'secondary', text: "Back to Directory"} %}</div>
  <script type="application/ld+json">
    {# Schema goes here #}
  </script>
  {% if image %}
    <div class="tcu-profile__photo">
      <img src="https://www.tcu.edu/{{ image }}" data-url="https://www.tcu.edu/{{ image }}" alt="name" width="100%" />
    </div>
  {% endif %}
  <div class="tcu-profile__identity tcu-profile__push-right">
    <h1 class="tcu-profile__name h2">{{ name }}{% if honorificSuffix %}<span>, {{ honorificSuffix }}</span>{% endif %}</h1>
    <div class="tcu-profile__title">{{ jobTitle }}</div>
    {# Name Pronunciation #}
    {% if pronunciation %}
      <figure class="tcu-profile__pronunciation">
          <figcaption>Name Pronunciation</figcaption>
          <audio
              controls
              src="{{ pronunciation }}">
                  Your browser does not support the
                  <code>audio</code> element.
          </audio>
      </figure>
    {% endif %}
  </div>
  <p class="tcu-profile__contact-info">
    {# Pronouns #}
    {% if pronouns %}
      <span>{{ pronouns }}</span>
    {% endif %}
    {% if email %}
      <span class="tcu-profile__email | tcu-profile__icon"><svg class="tcu-email-icon" focusable="false" height="24" width="24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="#icon-email-icon" xlink:href="#icon-email-icon"></use></svg> <a href="mailto:{{ email }}">{{ email }}</a></span>
    {% endif %}
    {% if telephone %}
      <span class="tcu-profile__telephone | tcu-profile__icon"><svg class="tcu-phone-icon" focusable="false" height="24" width="24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="#icon-phone-icon" xlink:href="#icon-phone-icon"></use></svg> {{ telephone }}</span>
    {% endif %}
    {% if mapLink %}
      <span class="tcu-profile__office | tcu-profile__icon">
        <svg class="tcu-location-pin-icon" focusable="false" height="24" width="24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="#icon-location-pin-icon" xlink:href="#icon-location-pin-icon"></use></svg> <a href="{{ mapLink }}" target="_blank" title="View location on TCU interactive map">{{ office }}</a>
      </span>
    {% elseif office %}
      <span class="tcu-profile__office | tcu-profile__icon">
        <svg class="tcu-location-pin-icon" focusable="false" height="24" width="24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="#icon-location-pin-icon" xlink:href="#icon-location-pin-icon"></use></svg> {{ office }}
      </span>
    {% endif %}
    {% if tcuBox %}
      <span class="tcu-profile__tcubox | tcu-profile__icon"><svg class="tcu-mail-icon" focusable="false" height="24" width="24"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="#icon-mail-icon" xlink:href="#icon-mail-icon"></use></svg> TCU Box {{ tcuBox }}<br>
      Fort Worth, TX 76129</span>
    {% endif %}
  </p>
  <div class="tcu-profile__affiliations">
    <h2 class="h3">Program Affiliations</h2>
    <div class="tcu-button-group button-group">
      {% render "@button" with {text: "The Andrews Institute"} %}
      {% render "@button" with {text: "Center For Public Education"} %}
      {% render "@button" with {text: "Trio Program"} %}
    </div>
  </div>
  {% if curriculumVitae %}
  <div class="tcu-profile__cv">
    <a href="{{ curriculumVitae }}">Download CV</a>
  </div>
  {% endif %}
  {% if areasOfInterest %}
  <div class="tcu-profile__interest-tags">
    <span class="tcu-profile__interest-tags-icon"><svg width="21" height="21" xmlns="http://www.w3.org/2000/svg"><path d="M10.211 1.024A3.504 3.504 0 007.735 0H3.5A3.499 3.499 0 000 3.5v4.238c0 .927.367 1.82 1.024 2.476L11.3 20.488c.682.683 1.789.683 2.476 0l6.711-6.71a1.753 1.753 0 000-2.475L10.211 1.023zM4 6a2 2 0 11-.001-3.999A2 2 0 014 6z" fill="#6D6E71" fill-rule="nonzero"/></svg></span>
    <ul>
    {% for interest in areasOfInterest %}
      <li><a href="#">{{ interest }}</a>{% if not loop.last %} / {% endif %}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="tcu-profile__bio tcu-profile__push-right">
    {{ biography["wysiwyg-text"] }}
  </div>
  <p class="tcu-profile__push-right tcu-profile__updated">Last Updated: <a href="#directEditLink" target="_blank">{{ formattedDate }}</a></p>
  <p class="tcu-profile__push-right">{% render "@button" with {link: "#directEditLink", target: "_blank", modifier: "small-only-expanded", text: "Edit Profile"} %}</p>
</div>
