<div class="tcu-article-listing {{ modifier }}">
  {% for article in articles.slice(0, limit) %}
    {% if modifier == '_blog' %}
      {% render '@article-card--wide' with article %}
    {% else %}
      {% render '@article-card' with article %}
    {% endif %}
  {% endfor %}
</div>
