<nav aria-label="Page navigation">
  <ul class="ou-pagination | tcu-pagination tcu-component">
    <li class="ou-disabled | disabled"><span aria-hidden="true">«<span class="tcu-visuallyhidden">Previous</span></span></li>
    <li class="page-item ou-active | active"><span>1<span class="tcu-visuallyhidden">Current Page</span></span></li>
    <li class="page-item"><a href="?page=2">2</a></li>
    <li class="page-item"><a href="?page=3">3</a></li>
    <li class="page-item"><a href="?page=4" class="page-link">...</a></li>
    <li class="page-item"><a href="?page=26" class="page-link">26</a></li>
    <li class="page-item"><a href="?page=2" aria-label="Next" class="page-link"><span aria-hidden="true">»</span> <span class="tcu-visuallyhidden">Next</span></a></li>
  </ul>
</nav>
