<div class="tcu-pull-quote tcu-component">
  <figure class="tcu-pull-quote__text">

    {% if hammerhead %}
      <!-- With hammerhead -->
      <h2 class="tcu-pull-quote__hammerhead tcu-hammerhead">{{ hammerhead }}</h2>
      <blockquote class="tcu-pull-quote__quote h2">{{ quote }}</blockquote>
    {% else %}
      <!-- Without hammerhead -->
      <blockquote class="tcu-pull-quote__quote h2">{{ quote }}</blockquote>
    {% endif %}

    <!-- Credit -->
    <figcaption class="tcu-pull-quote__credit">
      {% if name %}<span class="name">{{ name }}</span>{% endif %}
      {% if title %}<span class="title">{{ title }}</span>{% endif %}
      {% if major %}<span class="major">{{ major }}</span>{% endif %}
      {% if affiliation %}<span class="affiliation">{{ affiliation }}</span>{% endif %}
    </figcaption>
    <!-- CTA -->
    {% if cta.text %}
      {% render "@button" with cta %}
    {% endif %}
  </figure>

  {% if image %}
    <div class="tcu-pull-quote__image">
      <img src="{{ image }}" alt="{{ imageAlt }}" />
    </div>
  {% endif %}
</div>
