<div class="tcu-publications-feed tcu-component tcu-full-width">
  <div class="tcu-publications-feed__inner">
    <div class="tcu-publications-feed__header">
      <h2 class="h1">Recent Publications</h2>
    </div>
    <ul class="tcu-publications-feed__list">
      {% for publication in publications %}
      <li class="tcu-publications-feed__item">
        <div class="tcu-publications-feed__item-header">
          <h3 class="tcu-publications-feed__item-title">
            {{ publication.title }}
          </h3>
          <p class="tcu-publications-feed__item-author">
            {{ publication.author }}
          </p>
        </div>
        <p class="tcu-publications-feed__item-source">
          {{ publication.permalink }}
        </p>
      </li>
      {% endfor %}
    </ul>
    <div class="tcu-publications-feed__buttons button-group">
      {% render "@button" with { link: "/", text: "View All Publications"} %}
    </div>
  </div>
</div>
