// -------------------------  Self Hosted Fonts ----------------------------------------
// Download only the font files needed
// Run them through https://transfonter.org/

@font-face {
  font-family: Oswald;
  src:
    local('Oswald Regular'),
    local('Oswald-Regular'),
    url('https://assets.tcu.edu/fonts/Oswald-Regular.woff2') format('woff2'),
    url('https://assets.tcu.edu/fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src:
    local('Playfair Display Regular'),
    local('PlayfairDisplay-Regular'),
    url('https://assets.tcu.edu/fonts/PlayfairDisplay-Regular.woff2')
      format('woff2'),
    url('https://assets.tcu.edu/fonts/PlayfairDisplay-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Set up Playfair Display with variable font */
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Playfair Display';
    src:
      url('https://assets.tcu.edu/fonts/PlayfairDisplay-VariableFont_wght.woff2')
        format('woff2 supports variations'),
      url('https://assets.tcu.edu/fonts/PlayfairDisplay-VariableFont_wght.woff2')
        format('woff2-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-display: swap;
  }
}

@font-face {
  font-family: 'Source Sans Pro';
  src:
    local('Source Sans Pro Bold'),
    local('SourceSansPro-Bold'),
    url('https://assets.tcu.edu/fonts/SourceSansPro-Bold.woff2') format('woff2'),
    url('https://assets.tcu.edu/fonts/SourceSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src:
    local('Source Sans Pro Regular'),
    local('SourceSansPro-Regular'),
    url('https://assets.tcu.edu/fonts/SourceSansPro-Regular.woff2')
      format('woff2'),
    url('https://assets.tcu.edu/fonts/SourceSansPro-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
