/* stylelint-disable declaration-no-important */
////
/// @group Print
/// Any global print related styles should go here.
/// Component specific print styles should go within the component scss file.
////
@media print {
  // List what we do not want to show when printing
  .tcu-global-header-right,
  .tcu-local-nav,
  .tcu-flags,
  nav {
    display: none !important;
  }
  .tcu-sidebar {
    text-align: center;
    .tcu-image-card__image {
      width: 100%;
      img {
        width: auto;
        max-height: 277px;
        display: flex;
        margin: auto;
      }
    }
  }
  //Stack the main content and sidebar
  .tcu-maincontent,
  .tcu-sidebar {
    width: 100% !important;
    //Add the links to a elements
    /* stylelint-disable-next-line selector-no-qualifying-type */
    a[href]:after {
      content: ' (' attr(href) ')';
      font-size: $hammerhead-font-size;
    }
  }
  //Prevent components from being cut by the pages.
  .tcu-maincontent {
    .tcu-component,
    .grid-x {
      break-inside: avoid;
    }
  }
  body {
    zoom: 0.7;
    overflow: visible;
    .tcu-global-header__wrapper {
      .tcu-global-header {
        border-bottom: 0;
        float: right;
      }
    }
  }
}
//FIREFOX ONLY
/* stylelint-disable-next-line at-rule-no-vendor-prefix */
@-moz-document url-prefix() {
  @media print {
    @page {
      margin: 20mm 0; // To leave room for header and date/time.
    }
    .tcu-sidebar {
      display: none;
    }
    .tcu-footer {
      display: none;
    }
    .tcu-maincontent {
      &::after {
        content: '\000a All content © 2023 Texas Christian University. All rights reserved.'; /* Space followed by text */
        font-weight: $xxlarge-font-weight;
        text-align: center;
        display: inline-block;
        padding-top: $spacing-6;
      }
      .tcu-component,
      .grid-x {
        break-inside: auto;
      }
    }
  }
}
