/*------------------------------------*\
  #Visually Hidden
\*------------------------------------*/
// TODO: remove when all scripts.js files have been updated
.tcu-visuallyhidden {
  @extend .show-for-sr;
}

/*------------------------------------*\
  #Directory
\*------------------------------------*/
// The directory is still using .tcu-article._content classes which used to be on every
// page. Now these are only used on actual article pages. We'll need to temporarily
// remove the max width for the directory until those classes can be removed
// TODO: remove when all sites use cornerstone and the directory app has been updated
.tcu-directory {
  max-width: none;
}

/*------------------------------------*\
  #Temporary Button Classes
\*------------------------------------*/
// Since the directory uses styling from the core site,
// lets add support for .tcu-button for now
// TODO: remove when all sites use foundation
.tcu-button:not(.button) {
  @include button(
    false,
    $primary,
    $button-background-hover,
    $button-color,
    solid
  );
  line-height: $button-line-height;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $button-color;
  }
}

.tcu-button._secondary:not(.button, :hover, :focus) {
  background: $secondary;
  color: $button-color-alt;
}
