<header class="tcu-content-header | tcu-site-header">
  {% render "@site-name" %}
  <a href="#" class="tcu-skip-nav tcu-visuallyhidden">Skip to main content</a>
  {% render "@local-navigation" %}
</header>
