////
/// @group Accordion
////

/// Background color of the accordion header
/// @type Color
$accordion-header-background: $white !default;

/// Background color of the accordion header on hover
/// @type Color
$accordion-header-background-active: $accordion-header-background !default;

/// Filter for the accordion arrow icon
/// @type Filter
$accordion-arrow-filter: none !default;

/// Border styles for the accordion header
/// @type List
$accordion-header-border: none !default;

/// Border radius styles for the accordion header
/// @type List
$accordion-header-border-radius: none !default;

/// Border bottom styles
/// @type List
$accordion-border-bottom: 1px solid $neutral-80 !default;

/// Border bottom styles on hover
/// @type List
$accordion-border-bottom-hover: $accordion-border-bottom !default;

/// Margin bottom for an accordion header
/// @type Number
$accordion-header-margin: 0 !default;

/// Padding for an accordion header
/// @type Map
$accordion-header-padding: (
  'small': rem-calc($spacing-2 $spacing-1),
  'large': rem-calc($spacing-2 $spacing-1),
) !default;

/// Font styles for an accordion header
/// @type List
$accordion-header-font: (
  'font-family': $xsmall-font-family,
  'font-size': $xsmall-font-size,
  'font-weight': $xsmall-font-weight,
) !default;

/// Border styles for the accordion content area
/// @type Map
$accordion-content-border-styles: () !default;

/*------------------------------------*\
  #Accordion Container
\*------------------------------------*/
.tcu-accordion-container {
  margin-bottom: $paragraph-margin-bottom;
  & > :last-child {
    margin-bottom: 0;
  }
}

.tcu-accordion {
  border-bottom: $accordion-border-bottom;
  margin-bottom: $accordion-header-margin;
  transition: border 300ms ease;
  &:hover,
  &:focus-within {
    border-bottom: $accordion-border-bottom-hover;
  }
}

/*------------------------------------*\
  #Accordion Header
\*------------------------------------*/
.tcu-accordion-header {
  background: $accordion-header-background;
  padding: map-get($accordion-header-padding, small);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
  color: currentColor;
  line-height: $global-lineheight;
  border: $accordion-header-border;
  border-radius: $accordion-header-border-radius;
  @include setValues($accordion-header-font);

  @include breakpoint(medium) {
    padding: map-get($accordion-header-padding, large);
  }

  &:hover,
  &:focus,
  &.tcu-active-header {
    text-decoration: underline;
    background: $accordion-header-background-active;
    //Select Best Contrast Color
    $arrow-button-contrast-color: color-pick-contrast(
      $accordion-header-background-active,
      ($white, $primary)
    );
    // Make arrow filter white depending on the background color
    @if ($arrow-button-contrast-color == $white) {
      color: $white;
      img {
        filter: $accordion-arrow-filter;
      }
    }
  }

  &:focus-visible {
    --focus-offset: #{rem-calc(10px)};
  }

  svg {
    vertical-align: middle;
  }
}

/*------------------------------------*\
  #Accordion Content
\*------------------------------------*/
.tcu-accordion-content {
  padding: rem-calc($spacing-3) 0;
  display: none;
  @include setValues($accordion-content-border-styles);

  @include breakpoint(medium) {
    padding: rem-calc($spacing-5);
  }

  // When printing a page with an accordion, all accordion content should be
  // visible
  @media print {
    /* stylelint-disable-next-line declaration-no-important */
    display: block !important;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  // Clear floated elements within an accordion
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

/*------------------------------------*\
  #Accordion - Questions
\*------------------------------------*/
.tcu-accordion-container._questions {
  .tcu-accordion-header {
    flex-direction: row-reverse;
    justify-content: left;
    gap: rem-calc($spacing-6);
  }
  .tcu-inactive-header img {
    transform: rotate(-90deg);
  }
  .tcu-active-header img {
    transform: rotate(180deg);
  }
}

/*------------------------------------*\
  #Accordion - Checklist
\*------------------------------------*/
.tcu-accordion__check-icon {
  margin-right: rem-calc($spacing-1);
}
