////
/// @group Alert
////

/*------------------------------------*\
  #TCU Alert
\*------------------------------------*/
.tcu-alert,
.tcu-alert.oualerts-notify {
  border-width: 0 20px 0 20px;
  border-color: transparent;
  border-style: solid;
  padding: rem-calc($spacing-7 $spacing-4);
  @include breakpoint(medium) {
    padding: rem-calc($spacing-7 $spacing-8);
  }

  :focus-visible {
    --focus-outline-color: #{$black};
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

/*------------------------------------*\
  #Alert Colors
\*------------------------------------*/
.tcu-alert {
  &._announce {
    background: $announcement-background;
    border-color: $announcement-border;
  }
  &._warning {
    background: $warning-background;
    border-color: $warning-border;
  }
  &._emergency {
    background-color: $emergency-background;
    border-color: $emergency-border;
  }
}

/*------------------------------------*\
  #OU Alerts specific css
\*------------------------------------*/
/* stylelint-disable declaration-no-important -- override ou styles*/
.oualerts-notify-body {
  padding: 0 !important;
  max-width: rem-calc($component-max-width) !important;
  > *:last-child {
    margin-bottom: 0;
  }
}

.oualerts-notify-date {
  margin-bottom: $paragraph-margin-bottom;
}

.oualerts-notify-title,
.oualerts-notify-subtitle {
  font-family: $body-font-family;
  font-weight: bold;
}

.oualerts-notify-link {
  display: block;
  margin: $paragraph-margin-bottom 0;
}

// OU alerts adds padding to the top of the page which doesn't work well with our header
.ou-alerts-active {
  padding-top: 0 !important;
}
/* stylelint-enable declaration-no-important */
