////
/// @group Announcements Feed
////

/// Background color for the annoucements feed
/// @type Color
$announcements-background: $callout-light-background !default;

/// The text alignment for the whole announcements callout
/// @type String
$announcements-text-align: center !default;

/// Font styles for the announcements title
/// @type Map
$announcements-header-font: (
  'font-size': linearClamp($xsmall-font-size, $xlarge-font-size),
  'font-weight': $xlarge-font-weight,
) !default;

/// Font styles for the announcements feed header [below main announcements header & sub-head]
/// @type Map
$announcements-feed-header-font: (
  'font-size': linearClamp($xsmall-font-size, $medium-font-size),
  'font-weight': $medium-font-weight,
) !default;

/// Padding value announcements feed
/// @type CSS Value
$announcements-padding: $spacing-10 !default;

/*------------------------------------*\
  #Announcements Feed
\*------------------------------------*/

.tcu-announcements {
  background: $announcements-background;
  text-align: $announcements-text-align;
  padding-block: $announcements-padding;
  h2 {
    &:first-child {
      @include setValues($announcements-header-font);
    }
    &:nth-of-type(2) {
      @include setValues($announcements-feed-header-font);
    }
  }
}
