////
/// @group Article
////

/// Max width of the article
/// @type Number
$article-max-width: 1073px !default;

/// Border between the title and meta info on an article page
/// @type List
$article-title-border-bottom: 1px solid $neutral-60 !default;

.tcu-article__text {
  max-width: $article-max-width;
  margin-inline: auto;
}

// Articles might have some images that are floated left or right.
// Let's make sure that we clear the article content before showing the
// article footer
.tcu-article__content {
  @include clearfix;
}

.tcu-article__breadcrumb {
  margin-bottom: $spacing-3;
  font-style: italic;
}

.tcu-article__title {
  padding-bottom: $spacing-1;
  border-bottom: $article-title-border-bottom;
  margin-bottom: $spacing-1;
}

.tcu-article__meta {
  font-style: italic;
  font-size: rem-calc($body-font-size);
  margin-bottom: $paragraph-margin-bottom;
}

.tcu-archive-list {
  column-count: 2;
  @include breakpoint(medium) {
    column-count: 4;
  }
}

.tcu-article__image {
  @include fullWidth;
  margin-bottom: rem-calc($spacing-3);
  @include breakpoint(medium) {
    margin-bottom: rem-calc($spacing-5);
  }
  @include breakpoint($article-max-width) {
    margin-bottom: rem-calc($spacing-8);
  }

  img {
    width: 100%;
  }
}
