////
/// @group Article Card
////

/// The font styles for the article card title
/// @type Map
$article-card-title-font: (
  'font-weight': bold,
  'font-family': $body-font-family,
  'font-size': rem-calc($body-font-size),
) !default;

/// The font styles for the article card tags and meta info
/// @type Map
$article-card-meta-font: (
  'font-size': $hammerhead-font-size,
) !default;

/// The font styles for the wide version of article card title
/// @type Map
$article-card-wide-title-font: (
  'font-weight': bold,
  'font-family': $large-font-family,
  'font-size': rem-calc($large-font-size),
) !default;

/// If the article card image should use the image flair styles
/// @type Boolean
$article-card-image-flair: false !default;

/// Minimum width for the article card image
/// @type Number
$article-card-image-width: $spacing-1 * 35 !default;

/// Bottom border style for the wide article cards
/// @type List
$article-card-wide-border-bottom: 1px solid $neutral-80 !default;

/// The max width of a wide article card
/// @type Number
$article-card-wide-max-width: 1300px !default;

/// The width of the article card image for aspect-ratio
/// @type Number
$article-card-image-width: 280px !default;

/// The height of the article card image for aspect-ratio
/// @type Number
$article-card-image-height: 280px !default;

/*------------------------------------*\
  #Default
\*------------------------------------*/

.tcu-article-card__image {
  @if $article-card-image-flair {
    @include image-flair-alt;
  }
  margin-bottom: rem-calc($spacing-2);
  img {
    width: 100%;
    height: auto;
    aspect-ratio: #{strip-unit($article-card-image-width)} /
      #{strip-unit($article-card-image-height)};
    object-fit: cover;
  }
}

.tcu-article-card__content {
  flex: 1 1 auto;
}

.tcu-article-card__tags {
  margin-bottom: rem-calc($spacing-1);
  list-style-type: none;
  margin-left: 0;
  li {
    display: inline;
  }
  a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.tcu-article-card__title {
  @include setValues($article-card-title-font);
  margin-bottom: rem-calc($spacing-1);
  a {
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.tcu-article-card__meta {
  font-style: italic;
  margin-bottom: rem-calc($spacing-1);
}

.tcu-article-card__tags,
.tcu-article-card__meta {
  @include setValues($article-card-meta-font);
}

.tcu-article-card__buttons {
  a {
    font-weight: bold;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

/*------------------------------------*\
  #Wide Variant
\*------------------------------------*/

.tcu-article-card._wide {
  padding: rem-calc($spacing-4 0);
  border-bottom: $article-card-wide-border-bottom;
  max-width: rem-calc($article-card-wide-max-width);
  margin-inline: auto;

  @include breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: rem-calc($spacing-10);
    padding: rem-calc($spacing-5 0);
  }
  @include breakpoint(large) {
    gap: rem-calc($spacing-1 * 15);
  }
  .tcu-article-card__image {
    flex: 0 0 rem-calc($article-card-image-width);
  }
  .tcu-article-card__tags {
    a {
      font-weight: normal;
    }
  }
  .tcu-article-card__title {
    @include setValues($article-card-wide-title-font);
  }
}

.tcu-article-card._wide._image-left {
  @include breakpoint(medium) {
    flex-direction: row;
    gap: rem-calc($spacing-7);
  }
}
