////
/// @group Article Listing
////

/// The minimum width a grid item in the article listing should be
/// @type Number
$article-listing-grid-item-width: $spacing-1 * 35 !default;

/// The gap spacing between grid items in the article listing
/// @type Map
$article-listing-grid-gap: (
  'small': rem-calc($spacing-7),
  'medium': rem-calc($spacing-10),
  'large': rem-calc($spacing-1 * 15) 6%,
) !default;

/*------------------------------------*\
  # Listing
\*------------------------------------*/

.tcu-article-listing {
  margin: 0 0 rem-calc($component-margin);
}

/*------------------------------------*\
  # Card style listing
\*------------------------------------*/
.tcu-article-listing._card {
  display: grid;
  gap: map-get($article-listing-grid-gap, 'small');
  grid-template-columns: 1fr;
  @include breakpoint(medium) {
    gap: map-get($article-listing-grid-gap, 'medium');
    grid-template-columns: repeat(
      auto-fit,
      minmax($article-listing-grid-item-width, 1fr)
    );
  }
  @include breakpoint(large) {
    gap: map-get($article-listing-grid-gap, 'large');
    grid-template-columns: repeat(auto-fit, $article-listing-grid-item-width);
  }
}
