////
/// @group Background Container
////

/// Whether or not to include gradient style
/// @type Boolean
$background-container-gradient: true !default;

/// Whether or not to include stripes style
/// @type Boolean
$background-container-stripes: true !default;

/// Font styles for the background container content
/// @type Map
$background-container-content-font: (
  'font-family': $medium-font-family,
) !default;

/*------------------------------------*\
  #Background Container
\*------------------------------------*/
.tcu-background-container {
  @include setValues($background-container-content-font);
  font-size: $small-font-size;
  position: relative;
  padding: rem-calc($spacing-5 $spacing-4);
  @include breakpoint(medium) {
    font-size: $medium-font-size;
    padding: rem-calc($spacing-6);
  }
  @include breakpoint(large) {
    padding: rem-calc($spacing-8);
  }

  .button {
    @include breakpoint(small down) {
      width: 100%;
      margin-right: 0;
    }
  }

  // Since there is an image in the background, the hollow button needs a
  // background color
  .button.hollow:not(:hover, :focus) {
    background-color: $white;
  }

  + .tcu-callout {
    margin-top: 4rem;
  }
}

.tcu-background-container._thin {
  @include breakpoint(medium) {
    padding: $spacing-4;
  }
}

/*------------------------------------*\
  #Background Container with Image
\*------------------------------------*/
.tcu-background-container._has-image {
  padding: $spacing-4 $spacing-3 ($spacing-1 * 28);
  @include breakpoint(medium) {
    padding: $spacing-4 10.8% 30.3%;
  }
  @include breakpoint(large) {
    padding: $spacing-4 20.22% 21.5%;
  }
  .tcu-background-container__content {
    html:not(.reduced-motion) & {
      animation-duration: 1s;
      animation-delay: 100ms;
      animation-fill-mode: both;
      animation-name: fadeInUp;
    }
  }
}

/*------------------------------------*\
  #Striped Background Container
\*------------------------------------*/
.tcu-background-container._striped {
  margin-top: 2em;
  position: relative;
  padding: $spacing-5 $spacing-4;
  @include breakpoint(medium) {
    padding: $spacing-6;
  }
  @include breakpoint(large) {
    padding: $spacing-8;
  }

  .tcu-background-container__content {
    border: 1px solid;
    background: $white;
    margin: auto;
    padding: 0 5%;
    @include breakpoint(xlarge) {
      transform: translateY(-40%);
    }
  }

  .tcu-background-container__image {
    &:after {
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: 0;
      background: inherit;
    }
  }
}

/*--------------------------------------------*\
  #Background Container with Constrained Width
\*--------------------------------------------*/
.tcu-background-container._constrain {
  justify-content: center;
  display: flex;
  .tcu-background-container__content {
    @include breakpoint(medium) {
      padding-left: 0;
      padding-right: 0;
      max-width: 75%;
    }
    @include breakpoint(large) {
      max-width: 72%;
    }
  }
}

/*------------------------------------*\
  #Background Container Content
\*------------------------------------*/
.tcu-background-container__content {
  position: relative;
  z-index: 1;
  width: 100%;
  & > .tcu-module-wrapper {
    margin-top: 2rem;
    @include breakpoint(medium) {
      margin-top: 1.5rem;
    }
    @include breakpoint(large) {
      margin-top: 3rem;
    }
  }
}

/*------------------------------------*\
  #Background Container Image
\*------------------------------------*/
.tcu-background-container__image {
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  height: 50%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @include breakpoint(medium) {
    height: 100%;
  }
  @if $background-container-gradient {
    &:after {
      content: '';
      top: 0;
      right: 0;
      bottom: 20%;
      left: 0;
      position: absolute;
      z-index: 0;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 100%
      );
    }
  }
}
