////
/// @group Back to Top Button
////

/// Back to top background color
/// @type Color
$back-to-top-background-color: $secondary !default;

/// Back to top background color on hover
/// @type Color
$back-to-top-hover-background-color: $neutral-60 !default;

/*------------------------------------*\
  #Back to Top
\*------------------------------------*/
.tcu-top.tcu-is-visible {
  // the button becomes visible
  opacity: 1;
  visibility: visible;
}

.tcu-top.tcu-fade-out {
  // if the user keeps scrolling down, the button is out of focus and becomes less visible
  opacity: 0.5;
}

.tcu-top {
  background-color: $back-to-top-background-color;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-77 10 20 11'%3E%3Cpath d='M-66.3 10.3c-.4-.4-1-.4-1.4 0l-9 9c-.4.4-.4 1 0 1.4.4.4 1 .4 1.4 0l8.3-8.3 8.3 8.3c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-9-9z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: none;
  border-radius: 60px;
  bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  display: inline-block;
  height: 60px;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 10px;
  text-indent: 100%;
  transition:
    opacity 0.3s 0s,
    visibility 0s 0.3s;
  visibility: hidden;
  white-space: nowrap;
  width: 60px;
  z-index: 99;

  &:focus {
    color: $black;
    opacity: 1;
  }
}

.tcu-top.tcu-is-visible,
.tcu-top.tcu-fade-out,
.no-touch .tcu-top:hover {
  transition:
    opacity 0.3s 0s,
    visibility 0s 0s;
}

.tcu-top.tcu-is-visible {
  // the button becomes visible
  opacity: 1;
  visibility: visible;
}

.tcu-top.tcu-fade-out {
  // if the user keeps scrolling down, the button is out of focus and becomes less visible
  opacity: 0.6;
}

.no-touch .tcu-top:hover {
  background-color: $back-to-top-hover-background-color;
  opacity: 1;
}

.tcu-top {
  @include breakpoint(medium) {
    bottom: 30px;
    height: 60px;
    right: 30px;
    width: 60px;
  }
}
