/// Blockquote border styles
/// @type CSS value
$blockquote-border-style: solid $primary !default;
$blockquote-border-width: 0 0 0 4px !default;

/// Blockquote background
/// @type Value (e.g., 'none', 'transparent', a color)
$blockquote-background: none !default;

/// Blockquote quotation mark SVG
/// @type URL
$blockquote-quotation-mark: '' !default;

/// Blockquote margin
/// @type CSS value
$blockquote-margin: $global-margin 0 !default;

/// Quote mark styles
/// @type CSS value
$blockquote-quotation-mark-height: 0 !default;
$blockquote-quotation-mark-width: 0 !default;

/// Font styles for the blockquote content
/// @type Map
$blockquote-content-font: () !default;

/*------------------------------------*\
  #Blockquoute
\*------------------------------------*/

blockquote {
  background: $blockquote-background;
  margin: $blockquote-margin;
  border: $blockquote-border-style;
  border-width: $blockquote-border-width;
  clear: both;
  @include setValues($blockquote-content-font);

  & > *:last-child {
    margin-bottom: 0;
  }
}

/*------------------------------------*\
  #Blockquoute with Quotation Mark
\*------------------------------------*/
// These styles will only apply if there is a quotation mark background

@if not($blockquote-quotation-mark == '') {
  blockquote {
    @include breakpoint(medium) {
      position: relative;
      padding-left: calc(
        $blockquote-quotation-mark-width + $global-margin + $blockquote-padding
      );
    }

    &::before {
      content: '';
      background-image: url($blockquote-quotation-mark);
      background-size: contain;
      background-repeat: no-repeat;
      height: $blockquote-quotation-mark-height;
      width: $blockquote-quotation-mark-width;
      display: block;
      margin-inline: auto;
      margin-block-end: $global-margin;
      @include breakpoint(medium) {
        position: absolute;
        top: $blockquote-padding;
        left: $blockquote-padding;
        margin: 0;
      }
    }
  }
}
