////
/// @group Breadcrumb
////

/*------------------------------------*\
  #Breadcrumbs
\*------------------------------------*/
.breadcrumbs {
  font-style: italic;
  a {
    text-decoration: none;
  }
}

.breadcrumbs li:not(:last-child)::after {
  margin: 0 1ch;
}
