////
/// @group Button Group
////

/// The gap between buttons in a button group
/// @type Number
$button-group-gap: 1rem !default;

/// The margin around the button group container
/// @type Number
$button-group-margin: $global-margin !default;

/*------------------------------------*\
  #Button Group
\*------------------------------------*/

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: $button-group-gap;
  margin-block-end: rem-calc($button-group-margin);

  .button {
    margin: 0;
  }

  //No Gaps
  &.no-gaps {
    gap: 0;
  }

  // Stacked
  &.stacked {
    flex-flow: column;
  }

  &.stacked-for-small {
    @include breakpoint(small only) {
      flex-flow: column;
    }
  }

  &.stacked-for-medium {
    @include breakpoint(medium down) {
      flex-flow: column;
    }
  }

  //Expanded
  &.expanded {
    & > * {
      flex-grow: 1;
    }
  }
}
