////
/// @group Buttons
////

// @TODO: until Foundation has been removed from college-cornerstone, button
// config must be set at _config.scss level

// // Colors
// $button-background: $primary !default;
// $button-color-alt: $neutral-80 !default;
// $button-color: $white !default;

// // Border
// $button-border-color: transparent !default;
// $button-border-width: 0px !default;
// $button-radius: $global-radius !default;

// // Typography
// $button-font-family: $body-font-family !default;
// $button-font-size: rem-calc($xsmall-font-size) !default;
// $button-font-weight: bold !default;
// $button-letter-spacing: normal !default;
// $button-line-height: 1.5 !default;
// $button-text-transform: none !default;

// // Layout
// $button-padding: rem-calc($spacing-1 $spacing-3) !default;

// // Animations
// $button-transition:
//   background-color 0.25s ease-out,
//   border-color 0.25s ease-out,
//   color 0.25s ease-out !default;

// // Hover
// $hover-button-background: $neutral-80;
// $hover-button-color: color-pick-contrast(
//   $hover-button-background,
//   ($button-color, $button-color-alt)
// ) !default;
// $hover-button-border-color: transparent !default;
// $hover-button-border-width: inherit !default;

// // Secondary
// $secondary-button-background: $secondary !default;
// $secondary-button-color: color-pick-contrast(
//   $secondary-button-background,
//   ($button-color, $button-color-alt)
// ) !default;
// $secondary-button-border-color: transparent !default;
// $secondary-button-border-width: 0px !default;

// // Hollow
// $hollow-button-background: transparent !default;
// $hollow-button-border-color: currentColor !default;
// $hollow-button-border-width: 4px !default;
// $hollow-button-color: $primary !default;
// $hollow-button-hover-background: $primary !default;
// $hollow-button-hover-color: color-pick-contrast(
//   $hollow-button-hover-background,
//   ($button-color, $button-color-alt)
// ) !default;

/*------------------------------------*\
  #Button Mixins
\*------------------------------------*/

@mixin primary-button {
  --button-background: #{$button-background};
  --button-color: #{color-pick-contrast(
      $button-background,
      ($button-color, $button-color-alt)
    )};
  --button-border-color: #{$button-border-color};
  --button-border-width: #{$button-border-width};
}

@mixin hover-button {
  --button-background: #{$hover-button-background};
  --button-color: #{$hover-button-color};
  --button-border-color: #{$hover-button-border-color};
  --button-border-width: #{$hover-button-border-width};
}

@mixin secondary-button {
  --button-background: #{$secondary-button-background};
  --button-color: #{$secondary-button-color};
  --button-border-color: #{$secondary-button-border-color};
  --button-border-width: #{$secondary-button-border-width};
}

@mixin hollow-button {
  --button-background: transparent;
  --button-color: #{$hollow-button-color};
  --button-border-color: #{$hollow-button-border-color};
  --button-border-width: #{$hollow-button-border-width};
}

@mixin clear-button {
  --button-background: transparent;
  --button-color: #{$hollow-button-color};
  --button-border-color: transparent;
  --button-border-width: 0px;
}

/*------------------------------------*\
  #Button
\*------------------------------------*/

:root {
  @include primary-button();
}

.button {
  // Colors
  background: var(--button-background);
  color: var(--button-color);

  // Border
  border-color: var(--button-border-color);
  border-width: var(--button-border-width);
  border-radius: $button-radius;
  border-style: solid;

  // Typography
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  letter-spacing: $button-letter-spacing;
  line-height: $button-line-height;
  text-align: center;
  text-decoration: none;
  text-transform: $button-text-transform;

  // Layout
  display: inline-block;
  padding: $button-padding;
  vertical-align: middle;

  // Animations
  transition: $button-transition;

  &:hover,
  &:focus {
    @include hover-button();
    // This is only necessary to override the foundation link hover color
    color: var(--button-color);
  }
}

button {
  cursor: pointer;
}

/*------------------------------------*\
  #Secondary Button
\*------------------------------------*/
.button:where(.secondary) {
  @include secondary-button();
}

/*------------------------------------*\
  #Expanded Button
\*------------------------------------*/

.button:where(.expanded) {
  width: 100%;
}

.button:where(.small-only-expanded) {
  @include breakpoint(small only) {
    width: 100%;
  }
}

/*------------------------------------*\
  #Hollow Button
\*------------------------------------*/
// On hover, the button background will be filled in
.button:where(.hollow, .ghost) {
  @include hollow-button();

  &:hover,
  &:focus {
    --button-background: #{$hollow-button-hover-background};
    --button-border-color: #{$hollow-button-hover-background};
    --button-border-width: #{$hollow-button-border-width};
  }
}

/*------------------------------------*\
  #Clear Button
\*------------------------------------*/
.button:where(.clear) {
  @include clear-button();
}

/*------------------------------------*\
  #Buttons with Icons
\*------------------------------------*/

// flexbox is better at vertically aligning the icon than vertical-align
.button.icon {
  display: inline-flex;
  align-items: center;
}
// This is only duplicated to get around a bug in firefox. Once that bug has been
// fixed, it can be merged into the above declaration
.button:has(svg) {
  display: inline-flex;
  align-items: center;
}

.button {
  svg {
    height: rem-calc(20px);
    width: auto;
    vertical-align: middle;
    margin-right: rem-calc($spacing-1);
    fill: currentColor;
  }
}
