////
/// @group Callout
////

/// Padding on the inside of the Callout
/// @type Number
$callout-padding: $spacing-4 !default;

/// Background color for the light variation of the Callout
/// @type Color
$callout-light-background: $neutral-40 !default;

/// Background color for the dark variation of the Callout
/// @type Color
$callout-dark-background: $neutral-60 !default;

/// Background colors for extra variations for the Callout
/// @type Map
$callout-alert-colors: (
  'warning': $warning-background,
  'emergency': $emergency-background,
  'safe': $safe-background,
  'announcement': $announcement-background,
) !default;

/*------------------------------------*\
  #Callout
\*------------------------------------*/
.tcu-callout {
  padding: rem-calc($callout-padding);

  > *:last-child,
  :not(.button-group) .button:last-of-type {
    margin-bottom: 0;
  }
  a:not(.button) {
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }
  .button:not(:hover) {
    border-color: inherit;
  }
}

/*------------------------------------*\
  #Callout Mixin
\*------------------------------------*/
/// A set of styles to use for each variation of Callout.
/// Uses color-pick-contrast() to choose between $white or $black colors.
/// @param {Color} $background - background color of the Callout
@mixin callout($background) {
  background: $background;
  color: color-pick-contrast($background, ($white, $text-black), 1);
  @if $button-fill == 'hollow' {
    a:not(.button:hover) {
      color: color-pick-contrast($background, ($white, $text-black), 1);
    }
  } @else {
    a:not(.button) {
      color: color-pick-contrast($background, ($white, $text-black), 1);
    }
  }
}

/*------------------------------------*\
  #Callout Colors
\*------------------------------------*/
.tcu-callout._light {
  @include callout($callout-light-background);
}

.tcu-callout._dark {
  @include callout($callout-dark-background);
}

@each $name, $hex in $callout-alert-colors {
  .tcu-callout._#{$name} {
    @include callout($hex);
    :focus-visible {
      --focus-outline-color: #{$black};
    }
  }
}
