////
/// @group Card Selector
////

/// The ideal width for columns in the card selector app. Can be overwritten by
/// the js config.
/// @type Number
$cardselector-column-width: 200px !default;

/// The gap between cards
/// @type Number
$cardselector-column-gap: $spacing-5 !default;

/// The background of the card content area
/// @type Color
$cardselector-card-background: $primary !default;

/// The text color of the card content area
/// @type Color
$cardselector-card-text-color: $white !default;

/// Font settings for the card title
/// @type Map
$cardselector-card-title-font: (
  'font-family': $xsmall-font-family,
  'font-size': $xsmall-font-size,
  'font-font-weight': $xsmall-font-weight,
) !default;

/// Font settings for the card description
/// @type Map
$cardselector-card-description-font: (
  'font-family': $body-font-family,
  'font-size': $body-font-size,
  'font-font-weight': $body-font-weight,
) !default;

/// Show/hide the card divider between the title and description
/// @type Boolean
$cardselector-card-divider: true !default;

/*------------------------------------*\
  # Card Selector List
\*------------------------------------*/

.tcu-cardselector {
  --column-width: $cardselector-column-width;
}
.tcu-cardselector-listing {
  display: grid;
  gap: rem-calc($cardselector-column-gap);
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 0;
  @include breakpoint(medium) {
    grid-template-columns: repeat(auto-fill, minmax(var(--column-width), 1fr));
    margin: rem-calc(0 $spacing-3);
  }
}
.tcu-cardselector-listing._list {
  grid-template-columns: 1fr;
  gap: rem-calc($spacing-2);
}

/*------------------------------------*\
  # Card Selector Filter
\*------------------------------------*/

.tcu-cardselector .tcu-results-filter__list {
  flex-direction: column;
  @include breakpoint(large) {
    flex-direction: row;
    justify-content: space-between;
  }
}

/*------------------------------------*\
  # Individual Cards
\*------------------------------------*/

.tcu-cardselector-card {
  color: color-pick-contrast(
    $cardselector-card-background,
    ($cardselector-card-text-color, $white, $text-black)
  );
  display: grid;
  height: 100%;
  grid-template-rows: min-content 1fr;
  &:hover,
  &:focus {
    color: color-pick-contrast(
      $cardselector-card-background,
      ($cardselector-card-text-color, $white, $text-black)
    );
    text-decoration: none;
  }
}
.tcu-cardselector-card__content {
  background-color: $cardselector-card-background;
  padding: rem-calc($spacing-2);
  display: grid;
  align-content: space-between;
  gap: rem-calc($spacing-3);
  p {
    margin-bottom: 0;
  }
}
.tcu-cardselector-card__image {
  img {
    width: 100%;
    aspect-ratio: 600/480;
  }
}
.tcu-cardselector-card__title {
  @include setValues($cardselector-card-title-font);
}
.tcu-cardselector-card__description {
  @include setValues($cardselector-card-description-font);
  @if ($cardselector-card-divider) {
    &:before {
      content: '';
      background: color-pick-contrast(
        $cardselector-card-background,
        ($cardselector-card-text-color, $white, $text-black)
      );
      display: block;
      height: 1px;
      width: 70%;
      margin-bottom: rem-calc($spacing-2);
    }
  }
}
