////
/// @group Content Button
////

/// Background of the content button
/// @type Color
$content-button-background: $white !default;
/// Background of the content button on hover
/// @type Color
$content-button-background-hover: $primary !default;
/// Outline of the content button. Can be used to create multiple borders
/// @type String
$content-button-outline: none !default;
/// Border of the content button
/// @type List
$content-button-border: 1px solid $black !default;
/// Border radius of the content button
/// @type Number
$content-button-border-radius: 0px !default;
/// Box shadow of the content button
/// @type List
$content-button-box-shadow: 1px 1px 3px $neutral-40 !default;
/// Minimum Height of the Content Box
/// @type Number
$content-button-height: 17em !default;
/// Text color within the Content Box
/// @type Color
$content-button-color: $text-black !default;
/// Bottom and Right offset for the arrow
/// @type Number
$content-button-arrow-offset: 20px !default;
/// Size of the background for the arrow
/// @type Number
$content-button-arrow-size: 85px !default;
/// Color for the arrow
/// @type Color
$content-button-arrow-color: $secondary !default;
/// SVG for the arrow. Can be a url to an image or an encoded string
/// @type List
$content-button-arrow-svg: transparent no-repeat
  url("data:image/svg+xml,%3Csvg width='17' height='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.93 11.417l.06-8.496c-.01-.497.176-.942.556-1.336a1.753 1.753 0 011.275-.56l8.53-.398a1.72 1.72 0 011.272.496c.351.339.53.757.54 1.254.008.497-.177.943-.557 1.336-.38.393-.819.594-1.316.603l-4.058.154 9.146 8.832c.366.353.546.785.54 1.296-.004.511-.183.95-.536 1.315-.352.365-.784.56-1.295.582A1.708 1.708 0 0113.773 16L4.627 7.167l-.012 4.061c.009.498-.177.943-.557 1.336-.38.394-.818.595-1.315.603a1.72 1.72 0 01-1.273-.495 1.72 1.72 0 01-.54-1.255z' fill-opacity='.85'/%3E%3C/svg%3E")
  center center !default;
/// Color for the arrow on hover
/// @type Color
$content-button-hover-arrow-color: $primary !default;
/// SVG for the arrow on hover
/// @type List
$content-button-hover-arrow-svg: $content-button-arrow-svg !default;
/// SVG width for the arrow
/// @type Number
$content-button-arrow-svg-width: 18px !default;
/// SVG width for the arrow
/// @type Number
$content-button-arrow-svg-height: 18px !default;
/// Offset positioning for the arrow SVG
/// @type Number
$content-button-arrow-svg-offset: 15px !default;
/// If the content button uses a background color hover or an arrow style hover
/// @type String
$content-button-hover: 'color' !default;
/// The font styles for the content button
/// @type Map
$content-button-font: (
  'font-size': $large-font-size,
  'font-family': $large-font-family,
  'font-weight': bold,
) !default;

/*------------------------------------*\
  #Content Button
\*------------------------------------*/
.tcu-content-button {
  background: $content-button-background;
  border: $content-button-border;
  border-radius: $content-button-border-radius;
  display: block;
  min-height: $content-button-height;
  position: relative;
  text-decoration: none;
  color: $content-button-color;
  padding: rem-calc($spacing-3);
  @if $content-button-hover == 'color' {
    transition: $button-transition;
  }

  &:not(:focus-visible) {
    outline: $content-button-outline;
    box-shadow: $content-button-box-shadow;
  }

  @include breakpoint(medium) {
    padding: rem-calc($spacing-4);
  }

  @if $content-button-hover == 'color' {
    &:hover,
    &:focus {
      background: $content-button-background-hover;
      color: color-pick-contrast(
        $content-button-background-hover,
        ($content-button-color, $text-black, $white)
      );
      text-decoration: none;

      .tcu-content-button__link {
        color: color-pick-contrast(
          $content-button-background-hover,
          ($content-button-color, $text-black, $white)
        );
      }
    }
  }
}

.tcu-content-button__title {
  @include setValues($content-button-font);
}

/*------------------------------------*\
  #Content Button Arrow
\*------------------------------------*/
.tcu-content-button__arrow {
  width: $content-button-arrow-size;
  height: $content-button-arrow-size;
  position: absolute;
  bottom: $content-button-arrow-offset;
  right: $content-button-arrow-offset;

  &:before {
    @include cornerTriangle(
      $content-button-arrow-color,
      $content-button-arrow-size,
      false
    );
    position: absolute;
    bottom: 0;
    right: 0;
    transition:
      border-width 300ms ease,
      border-color 300ms ease;
  }
  &:after {
    content: '';
    display: block;
    width: $content-button-arrow-svg-width;
    height: $content-button-arrow-svg-height;
    background: $content-button-arrow-svg;
    position: absolute;
    top: auto;
    left: auto;
    bottom: $content-button-arrow-svg-offset;
    right: $content-button-arrow-svg-offset;
    transition: background 300ms ease;
  }
}

@if $content-button-hover == 'arrow' {
  .tcu-content-button:hover,
  .tcu-content-button:focus {
    color: $content-button-color;
    .tcu-content-button__arrow {
      &:before {
        @include cornerTriangle(
          $content-button-hover-arrow-color,
          $content-button-arrow-size * 1.5,
          false
        );
      }
      &:after {
        background: $content-button-hover-arrow-svg;
      }
    }
  }
}
