////
/// @group Directory Image Card
////

/// Width of the Directory Image Card image on medium screens
/// @type Number
$directory-image-card-width: 220px !default;

/// Height of the Directory Image Card image on medium screens
/// @type Number
$directory-image-card-height: 240px !default;

/// Background Color of the Directory Image Card
/// @type Color
$directory-card-image-wrapper-background: $primary !default;

/*------------------------------------*\
  #Directory Grid View Cards
\*------------------------------------*/
.tcu-directory-card[value='grid'] {
  @include breakpoint(large) {
    display: flex;
    flex-direction: column;
  }
  .tcu-directory-card__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @include breakpoint(medium only) {
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-between;
    }
    .group {
      flex: 1 0 auto;
      min-height: rem-calc($spacing-12);
      margin-bottom: $paragraph-margin-bottom;
      @include breakpoint(medium only) {
        flex: 1 1 100%;
      }
    }
  }
  // To make sure the contact info at the bottom of the image card always lines up,
  // we need to make sure that the last item (currently the phone number) still
  // takes up space even when it's empty. Here we insert some empty space
  // with a pseudo-elements to keep the spacing.
  .tcu-directory-card__icon:last-child {
    @include breakpoint(large) {
      &:before {
        content: '';
        line-height: 1;
        display: inline-block;
      }
    }
  }
  .tcu-directory-card__icon {
    @include breakpoint(medium only) {
      width: 50%;
    }
  }
}

/*------------------------------------*\
  #Directory Image Card images
\*------------------------------------*/
.tcu-directory-card__image-wrapper {
  background: $directory-card-image-wrapper-background;
  position: relative;

  @include breakpoint(medium only) {
    width: $directory-image-card-width;
    height: $directory-image-card-height;
    flex: 0 0 $directory-image-card-width;
  }

  img {
    width: 100%;
    position: relative;
    z-index: 1;
    aspect-ratio: 330 / 350;
    object-fit: cover;
    object-position: top;
    @include breakpoint(medium only) {
      aspect-ratio: #{strip-unit($directory-image-card-width)} /
        #{strip-unit($directory-image-card-height)};
    }
  }
}
