////
/// @group Directory Card
////

/// Background Color of the Directory Card
/// @type Color
$directory-card-background: $neutral-40 !default;

/// Font values for the name on a Directory Card
/// @type Map
$directory-card-name-font: (
  'font-family': $large-font-family,
  'font-size': rem-calc($xsmall-font-size),
  'font-weight': bold,
) !default;

/// Font values for the title on a Directory Card
/// @type Map
$directory-card-title-font: (
  'font-size': rem-calc($body-font-size),
  'font-family': $xsmall-font-family,
) !default;

/*------------------------------------*\
  #Directory Card
\*------------------------------------*/
.tcu-directory-card {
  background: $directory-card-background;
  @include breakpoint(medium only) {
    display: flex;
  }

  a {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: color-pick-contrast(
      $directory-card-background,
      ($anchor-color-hover, $text-black, $white)
    );
    text-decoration: underline;
  }
}

/*------------------------------------*\
  #Directory Card Content
\*------------------------------------*/
.tcu-directory-card__content {
  padding: rem-calc($spacing-2);
  p,
  p > *:last-child {
    margin-bottom: 0;
  }
}

.tcu-directory-card__name {
  @include setValues($directory-card-name-font);
  margin-bottom: rem-calc($spacing-1);
}

.tcu-directory-card__title {
  @include setValues($directory-card-title-font);
}

.tcu-directory-card__icon {
  display: block;
  margin-bottom: rem-calc($spacing-1);
  svg {
    fill: rgba(0, 0, 0, 0);
    stroke: $black;
    stroke-width: 3px;
    vertical-align: middle;
  }
}

/*------------------------------------*\
  #Directory List View Cards
\*------------------------------------*/
.tcu-directory-card[value='list'] {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include breakpoint(medium only) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include breakpoint(large) {
    flex-direction: row;
    align-items: center;
  }

  .group {
    flex: 1 1 100%;
    margin-bottom: rem-calc($spacing-4);
    @include breakpoint(large) {
      margin-bottom: 0;
    }
  }

  .tcu-directory-card__icon {
    flex: 1 1 35%;
    @include breakpoint(medium only) {
      flex: 1 1 50%;
    }
    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }
}
