////
/// @group Dropdown List
////

/// The border bottom of the dropdown toggle button
/// @type List
$dropdown-list-button-border-bottom: 1px solid $neutral-60 !default;

/// The height of the dropdown toggle button
/// @type Number
$dropdown-list-button-height: 50px !default;

/// The background color of the dropdown list menu
/// @type Color
$dropdown-list-menu-background: $neutral-60 !default;

/*------------------------------------*\
  #Dropdown List
\*------------------------------------*/

.tcu-dropdown-list {
  border-bottom: $dropdown-list-button-border-bottom;
  margin-bottom: 1em;
  position: relative;
}

.tcu-dropdown-list,
.tcu-dropdown-list__menu,
.tcu-dropdown-list__label {
  width: 190px;
  @include breakpoint(medium) {
    width: 224px;
  }
}
.tcu-dropdown-list__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tcu-dropdown-list__label {
  color: $text-black;
  font-weight: bold;
  padding: rem-calc($spacing-1 0);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.tcu-tags-toggle {
  cursor: pointer;
  height: $dropdown-list-button-height;
  position: relative;
  text-align: center;
  transition: transform 300ms ease-in-out;
  width: $dropdown-list-button-height;
  background: transparent;
  border: 0;
  > .arrow {
    background-image: url("data:image/svg+xml,%3Csvg height='15' width='15' xmlns='http://www.w3.org/2000/svg' viewBox='-77 10 20 11'%3E%3Cpath fill='%23' d='M-58.7 10.3l-8.3 8.3-8.3-8.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l9 9c.4.4 1 .4 1.4 0l9-9c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
  }
  &.active {
    transform: rotate(180deg);
    &:focus,
    &:focus-within {
      transform: rotate(180deg);
    }
  }
}

.tcu-dropdown-list__menu {
  background-color: $dropdown-list-menu-background;
  max-height: 0;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: $dropdown-list-button-height + 1px;
  transition: max-height 300ms ease-in-out;
  transform: translateY(-1px);
  width: 250px;
  z-index: 5;
  visibility: hidden;
  a {
    color: color-pick-contrast(
      $dropdown-list-menu-background,
      ($white, $text-black)
    );
    display: block;
    padding: rem-calc($spacing-2 $spacing-4);
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: color-pick-contrast(
      $dropdown-list-menu-background,
      ($white, $text-black)
    );
    text-decoration: underline;
  }
  &.active {
    opacity: 1;
    height: auto;
    max-height: 1000px;
    visibility: visible;
  }
}
