////
/// @group Fact Slider
////

/// The color of the two lines surrounding the fact slider link
/// @type Color
$fact-slider-link-border-color: $primary !default;

/// The height of the fact slider
/// @type Number
$fact-slider-height: rem-calc(160px) !default;

/// The background color of the fact slider cells
/// @type Color
$fact-slider-cell-background-color: $primary !default;

/// The text color of the fact slider cells
/// @type Color
$fact-slider-cell-color: $white !default;

/// The font styles of the large text in a fact slider cell
/// @type Map
$fact-slider-large-text: (
  'font-family': $medium-font-family,
  'font-weight': normal,
) !default;

/// The font styles of the small text in a fact slider cell
/// @type Map
$fact-slider-small-text: () !default;

/// The background color of the fact slider buttons on larger screens
/// @type Color
$fact-slider-button-background: $neutral-40 !default;

/*------------------------------------*\
  #Wrapper
\*------------------------------------*/

.tcu-carousel-wrap {
  text-align: center;
  .tcu-link {
    &._border {
      margin: $spacing-4 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      line-height: 1;

      &:before,
      &:after {
        background-color: $fact-slider-link-border-color;
        content: '';
        display: inline-block;
        height: 25px;
        transform: skewX($lead-on-skew);
        width: 5px;
      }

      &:before {
        margin-right: $spacing-4;
      }

      &:after {
        margin-left: $spacing-4;
      }
    }
  }
}

/*------------------------------------*\
  #Carousel
\*------------------------------------*/

.tcu-carousel._quick-facts {
  height: $fact-slider-height;
  overflow: hidden;

  sup {
    top: -0.3em;
  }

  .tcu-carousel__cell {
    background-color: $fact-slider-cell-background-color;
    color: $fact-slider-cell-color;
    border-radius: 5px;
    height: $fact-slider-height;
    margin-right: $spacing-2;
    max-width: 470px;
    min-width: 300px;
    transform: skewX($lead-on-skew);
    width: 45%;
    display: flex;

    @include breakpoint(medium) {
      margin-right: $spacing-4;
      min-width: 200px;
    }

    .tcu-carousel__content {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin: $spacing-4 auto;
      transform: skewX($lead-on-skew-reversed);
      width: 65%;

      .tcu-carousel__large-text {
        @include setValues($fact-slider-large-text);
        flex-basis: 50%;
        flex-grow: 1;
        margin-right: $spacing-1;
        text-align: right;
        margin-bottom: 0;
      }

      .tcu-carousel__small-text {
        @include setValues($fact-slider-small-text);
        flex-basis: 50%;
        line-height: 1.2;
        flex-grow: 0;
        text-align: left;
      }
    }
  }

  /*------------------------------------*\
    #Flickity Elements
  \*------------------------------------*/

  .flickity-button {
    @include breakpoint(medium) {
      background-color: $fact-slider-button-background;
      border-radius: 5px;
      height: $fact-slider-height;
      width: 300px;
    }

    .flickity-button-icon {
      @include breakpoint(medium) {
        height: 30%;
        top: 35%;
        transform: skewX($lead-on-skew-reversed);
        width: 30%;
      }
    }

    &.previous {
      @include breakpoint(medium) {
        left: -120px;
        top: 0;
        transform: skewX($lead-on-skew);
      }

      .flickity-button-icon {
        @include breakpoint(medium) {
          left: 40%;
        }
      }
    }

    &.next {
      @include breakpoint(medium) {
        right: -120px;
        top: 0;
        transform: skewX($lead-on-skew);
      }
    }
  }
}
