////
/// @group Fact Banner
////

/// Does the fact banner use Flickity?
/// @type Boolean
$fact-banner-use-flickity: true !default;

/// Background color of the fact banner container
/// @type Color
$fact-banner-background-color: $neutral-40 !default;

/// Border styles for the Fact Banner cards
/// @type List
$fact-banner-card-border: 1px solid $neutral-60 !default;

/// Background color of the Fact Banner cards
/// @type Number
$fact-banner-card-background: $white !default;

/// Font color of the Fact Banner cards
/// @type Color
$fact-banner-card-color: $primary !default;

/// Min height of the Fact Banner cards
/// @type Number
$fact-banner-card-height: 280px !default;

/// Height of the Fact Banner card icons
/// @type Number
$fact-banner-card-icon-height: 86px !default;

/*------------------------------------*\
  #Fact Banner
\*------------------------------------*/
.tcu-fact-banner {
  background-image: linear-gradient(
    180deg,
    #ffffff 13%,
    #fff 13%,
    $fact-banner-background-color 13%,
    $fact-banner-background-color 100%
  );
  padding-bottom: rem-calc($spacing-6);
  &.tcu-component {
    @include breakpoint(xlarge) {
      // Make up for the icon positioning since it's absolute
      margin-top: rem-calc(33px + $component-margin);
    }
  }
}

.tcu-fact-banner__title {
  color: color-pick-contrast(
    $fact-banner-background-color,
    ($white, $text-black)
  );
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: rem-calc(0 $spacing-7);
}

.tcu-fact-banner__list {
  padding: rem-calc(0 $spacing-7);
  margin: rem-calc(0 0 $spacing-4);
  @include breakpoint(medium) {
    padding: 0 7%;
  }
}

/*------------------------------------*\
  #Fact Banner Card
\*------------------------------------*/
.tcu-fact-banner__card {
  border: $fact-banner-card-border;
  background: $fact-banner-card-background;
  padding: rem-calc($spacing-3 + ($fact-banner-card-icon-height - $spacing-4))
    rem-calc($spacing-3) rem-calc($spacing-6);
  position: relative;
  min-height: $fact-banner-card-height;
  max-width: rem-calc(1128px);
  &:after {
    @include cornerTriangle($primary, 63px);
    position: absolute;
    bottom: rem-calc($spacing-3);
    right: rem-calc($spacing-3);
  }
}

.tcu-fact-banner__icon {
  position: absolute;
  top: rem-calc(-$spacing-4);
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px;
  background: $white;
  svg,
  img {
    height: rem-calc($fact-banner-card-icon-height);
    width: auto;
    max-width: none;
  }
}

.tcu-fact-banner__text {
  color: $fact-banner-card-color;
  font-size: rem-calc($large-font-size);
  text-align: center;
  strong {
    font-size: $stats-font-size;
    font-weight: $stats-font-weight;
    font-family: $stats-font-family;
    line-height: 1;
    display: block;
  }
}

/*------------------------------------*\
  #Large Fact Banner
\*------------------------------------*/
// Large variation of the fact banner
// when there are two or less cards
.tcu-fact-banner__list--large {
  @include breakpoint(xlarge) {
    .tcu-fact-banner__card {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: rem-calc($spacing-3);
    }
    .tcu-fact-banner__icon {
      position: static;
      transform: translateX(0);
      display: inline-block;
      svg,
      img {
        height: rem-calc($fact-banner-card-icon-height * 1.5);
      }
    }
    .tcu-fact-banner__text {
      text-align: left;
      strong {
        font-size: rem-calc($stats-font-size * 1.5);
      }
    }
  }
}

/*------------------------------------*\
  #Flickity Fact Banner Styles
\*------------------------------------*/
@if $fact-banner-use-flickity and $flickity {
  .tcu-fact-banner {
    margin-bottom: rem-calc(20px + 15px);
    @include breakpoint(xlarge) {
      margin-top: rem-calc(33px);
    }
  }
  .tcu-fact-banner.tcu-component {
    margin-bottom: rem-calc(20px + 15px + $component-margin);
  }
  .tcu-fact-banner__list:after {
    content: 'flickity';
    display: none;
    @include breakpoint(xlarge) {
      content: '';
    }
  }
  // Large variation
  .tcu-fact-banner__list--large:after {
    content: 'flickity';
    display: none;
    @include breakpoint(medium) {
      content: '';
    }
  }

  .tcu-fact-banner__list {
    .flickity-viewport {
      width: 100%;
      .tcu-fact-banner__card {
        width: 100%;
        margin-top: 33px;
        margin-left: 33px;
        margin-right: 33px;
        @include breakpoint(medium) {
          width: 38vw;
        }
      }
    }
    .flickity-button {
      color: color-pick-contrast(
        $fact-banner-background-color,
        ($white, $text-black)
      );
      top: 35%;
      border-radius: 0;
    }
    .flickity-button,
    .flickity-button:hover {
      // Determine best contrast color
      $button-contrast-color: color-pick-contrast(
        $fact-banner-background-color,
        (white, black)
      );

      background-repeat: no-repeat;
      background-position: center center;
      background-color: transparent;

      // Pick a black or white svg depending on the background color
      @if ($button-contrast-color == white) {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='41' viewBox='0 0 23 41' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l20 19.5L1 40' stroke='%23FFF' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
      } @else {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='41' viewBox='0 0 23 41' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l20 19.5L1 40' stroke='%23000' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
      }
    }
    .flickity-button.previous {
      transform: translateY(-50%) rotate(180deg);
    }
    .flickity-page-dots {
      bottom: rem-calc(-206px);
      @include breakpoint(medium) {
        bottom: rem-calc(-162px);
      }
    }
    .flickity-page-dots .dot {
      background: $neutral-60;
      width: rem-calc(15px);
      height: rem-calc(15px);
      opacity: 1;
    }
    .flickity-page-dots .dot.is-selected {
      background: $primary;
    }
  }
}
