////
/// @group FAQ App
////

/// The flex-direction for the faq item title
/// @type String
$faqsearch-listitem-flex-direction: row-reverse !default;

/// Font styles for the updated text
/// @type List
$faqsearch-listitem-updated-font: (
  'color': $body-font-color,
  'font-weight': normal,
  'text-decoration': none,
) !default;

/*------------------------------------*\
  #Results
\*------------------------------------*/

.tcu-faqsearch__results {
  margin-top: $spacing-4;
  .tcu-faqsearch__header + & {
    margin-top: 0;
  }
}

.tcu-faqsearch-listitem__title {
  // The FAQ app currently puts the arrow svg before the title
  // The regular accordion styles put the arrow svg after the title
  flex-direction: $faqsearch-listitem-flex-direction;
}

.tcu-faqsearch-listitem__updated,
.tcu-faqsearch-listitem__updated a {
  @include setValues($faqsearch-listitem-updated-font);
}

// When the updated text is in the bottom position,
// add a margin top
* + .tcu-faqsearch-listitem__updated {
  margin-top: $paragraph-margin-bottom;
}

/*------------------------------------*\
  #Filters
\*------------------------------------*/

.tcu-faqsearch__filters {
  @include breakpoint(large down) {
    padding: 0;
  }
  @include breakpoint(large) {
    padding-right: 0;
  }

  .tcu-fieldset-inputs {
    margin: $spacing-4 0 0;
  }
  .tcu-fieldset-checkbox-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: min-content 1fr;
    align-items: center;
    max-height: rem-calc(405px);
    overflow-y: scroll;
    border: 1px solid $black;
    padding: 0 1rem;

    .show-on-focus {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    legend {
      color: $input-color;
      placeholder-color: $input-placeholder-color;
      font-family: $input-font-family;
      font-size: $input-font-size;
      font-weight: $input-font-weight;
      line-height: $input-line-height;
    }

    [type='checkbox'] {
      margin: 0;
    }
  }

  .tcu-sidebar-module,
  .tcu-sidebar-module_title {
    margin-top: 0;
  }
  .button-group {
    button {
      width: 100%;
      @include breakpoint(xlarge) {
        width: auto;
      }
    }
  }
  .size2of3 & .button-group button,
  .large-4 & .button-group button {
    width: 100%;
  }
}

// Remove the filter form button anchor from flexbox button group
#tcu-faqsearch__filter-buttons {
  position: absolute;
}

/*------------------------------------*\
  #Search
\*------------------------------------*/

.tcu-faqsearch__search-form {
  input {
    padding-left: $spacing-2;
    margin-right: $spacing-1;
    min-width: 0;
  }
  button {
    margin-bottom: 0;
  }
}

.tcu-faqsearch__header {
  margin: $spacing-4 0 0;
}

/*------------------------------------*\
  #Error Messages
\*------------------------------------*/
// We can't change the classes in the faq app yet because they interfere with each other
// Ideally we would use callout and the alert classes like _warning and _emergency
.tcu-faqsearch {
  ._help {
    @include callout($warning-background);
  }
  ._error {
    @include callout($emergency-background);
  }
}
