////
/// @group Filter List
////

/// Font size of Filter List items
/// @type Number
$filter-list-font-size: rem-calc(16px) !default;

/// Border above the Filter List
/// @type List
$filter-list-border: 1px solid $black !default;

/// Background of the close button for the Filter List
/// @type Color
$close-filter-button-background: $primary !default;

/// Color of the close button for the Filter List
/// @type Color
$close-filter-button-color: $white !default;

/// Background of the close button for the Filter List on hover
/// @type Color
$close-filter-button-hover-background: $neutral-80 !default;

/// Color of the close button for the Filter List on hover
/// @type Color
$close-filter-button-hover-color: $white !default;

/*------------------------------------*\
  #Filter List
\*------------------------------------*/
.tcu-results-filter__list {
  width: 100%;
  text-align: left;
  font-size: $filter-list-font-size;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 0;
  height: 0;
  overflow: hidden;
  transition: height 300ms ease;
  margin-bottom: rem-calc($spacing-3);
  @include breakpoint(medium) {
    border-top: $filter-list-border;
    border-bottom: 0;
    margin-bottom: 0;
  }
  &._is-open {
    height: auto;
    border-bottom: $filter-list-border;
    @include breakpoint(medium) {
      padding-top: rem-calc($spacing-5);
      margin-bottom: rem-calc($spacing-3);
      border-bottom: 0;
    }
  }
}

/*------------------------------------*\
  #Filter List Close Button
\*------------------------------------*/
.close-filter-menu {
  background: $close-filter-button-background;
  color: color-pick-contrast(
    $close-filter-button-background,
    ($close-filter-button-color, $white, $text-black)
  );
  cursor: pointer;
  height: rem-calc($spacing-3);
  position: absolute;
  top: rem-calc($spacing-1);
  right: 0;
  text-align: center;
  width: rem-calc($spacing-3);
  border: 0;
  display: none;
  @include breakpoint(medium) {
    display: block;
  }
  &:hover,
  &:focus {
    background: $close-filter-button-hover-background;
    color: color-pick-contrast(
      $close-filter-button-hover-background,
      ($close-filter-button-hover-color, $white, $text-black)
    );
  }
}

/*------------------------------------*\
  #Filter List Sections
\*------------------------------------*/
.tcu-results-filter__column {
  width: 100%;
  @include breakpoint(medium) {
    width: 33%;
  }
}

.tcu-results-filter__list-set {
  border: none;
  margin: 0;
  padding: 0;
  legend,
  button {
    font-weight: 700;
    padding: rem-calc($spacing-2) 0;
    margin: 0 0 rem-calc($spacing-3);
    font-size: $filter-list-font-size;
    @include breakpoint(medium) {
      padding: 0;
    }
  }
  button {
    background: transparent;
    border: 0;
    padding: rem-calc($spacing-2) 0;
    margin: 0;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tcu-article & img {
      margin-bottom: 0;
      margin-left: rem-calc($spacing-1);
      transition: transform 300ms ease;
    }
    /* stylelint-disable selector-no-qualifying-type -- the directory currently has no classes for these buttons */
    &._is-open img {
      transform: rotate(180deg);
    }
    /* stylelint-enable selector-no-qualifying-type */
  }
  label {
    display: inline;
    padding-left: rem-calc($spacing-1);
    font-size: $filter-list-font-size;
  }
}

.tcu-results-filter__show-all {
  margin-top: rem-calc($spacing-2);
}

.tcu-results-filter__list-wrapper {
  margin-bottom: rem-calc($spacing-2);
  padding-left: 1px;
  &._columns {
    column-count: 2;
    column-gap: 1rem;
  }
}
