////
/// @group Hammerhead
////

/// Enable/Disable the divider after the hammerhead
/// @type Boolean
$hammerhead-divider: true !default;

.tcu-hammerhead {
  font-size: $hammerhead-font-size;
  font-family: $hammerhead-font-family;
  font-weight: $hammerhead-font-weight;
  line-height: get-line-height($hammerhead-font-size);
  text-wrap: balance;
  @if $hammerhead-divider {
    @include hammerheadDivider();
  }
}
