////
/// @group Hero
////

/// Font styles for the hero
/// @type Map
$hero-heading-font: () !default;

/// The width of the hero image on desktop
/// @type Number
$hero-image-width: 70% !default;

/// Whether or not to include alternate image decorations
/// @type Boolean
$hero-image-flair: $image-flair !default;

/// Background color for large hero content
/// @type Color Map
$hero-content-background-color: (
  'small': $primary,
  'large': rgba($primary, 0.7),
) !default;

/// Visibility of a content layer
/// @type String ('visible', 'hidden', 'none', etc.)
$hero-content-layer: none !default;

/// Width of the hero content on desktop
/// @type CSS value
$hero-content-width: 50% !default;

/// Font styles for the department hero heading
/// @type Map
$department-hero-heading-font: () !default;

/*------------------------------------*\
  #Hero
\*------------------------------------*/

.tcu-hero {
  position: relative;
  @include breakpoint(large) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    aspect-ratio: 1800 / 600;
  }
}

// If the hero is above the navigation and within the site header, remove the margin bottom
.tcu-site-header .tcu-hero {
  margin-bottom: 2.5em;
  @include breakpoint($local-navigation-mq-min-width) {
    margin-bottom: 0;
  }
}

/*------------------------------------*\
  #Image
\*------------------------------------*/

.tcu-hero__image img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 380 / 200;

  @include breakpoint(medium) {
    aspect-ratio: 768 / 260;
  }
  @include breakpoint(large) {
    aspect-ratio: 1800 / 600;
    height: 100%;
  }
}
.tcu-hero__image {
  @include breakpoint(large) {
    grid-column: 1/-1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      display: $hero-content-layer;
    }
  }
}

/*------------------------------------*\
  #Image Flair
\*------------------------------------*/

@if $hero-image-flair == false {
  .tcu-hero__image {
    .image-flair {
      display: none;
    }
  }
}

/*------------------------------------*\
  #Hero Content
\*------------------------------------*/

.tcu-hero__content {
  background: map-get($hero-content-background-color, small);
  color: color-pick-contrast($primary, ($white, $text-black));
  padding: rem-calc($spacing-3);

  @include breakpoint(large) {
    position: relative;
    grid-column: 1/4;
    padding: rem-calc($spacing-5 $spacing-6);
    font-size: rem-calc($xsmall-font-size);
    background: map-get($hero-content-background-color, large);
    align-self: center;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  .button-group {
    gap: $buttongroup-spacing;
  }

  .button {
    margin: 0;
    flex: 0 1 auto;
  }
}

.tcu-hero__header,
.tcu-hero__header a {
  color: color-pick-contrast($primary, ($white, $text-black));
  text-decoration: none;
  @include setValues($hero-heading-font);
}

/*------------------------------------*\
  #Department Hero
\*------------------------------------*/

.tcu-hero._department-hero {
  .tcu-hammerhead,
  .tcu-hammerhead a {
    color: color-pick-contrast($primary, ($white, $text-black));
    text-decoration: none;
  }

  .tcu-hero__header,
  .tcu-hero__header a {
    @include setValues($department-hero-heading-font);
  }
}

.tcu-hero__image,
.tcu-hero__content {
  @include breakpoint(large) {
    grid-row: 1;
  }
}

/*------------------------------------*\
  #Hero Video
\*------------------------------------*/
// Make sure video is centered if content is too big
.tcu-hero {
  .tcu-video {
    &,
    iframe {
      height: 100%;
    }
    @include breakpoint(large) {
      /* stylelint-disable-next-line selector-no-qualifying-type */
      div[style] {
        /* stylelint-disable-next-line declaration-no-important */
        padding: 0 !important;
        /* stylelint-disable-next-line declaration-no-important */
        position: unset !important;
        aspect-ratio: 1800/600;
      }
    }
  }
}
