////
/// @group Images
////

/// Whether or not to include image decorations
/// @type Boolean
$image-flair: false !default;

/// Whether or not to include alternate image decorations
/// @type Boolean
$image-flair-alt: false !default;

/// A set of styles for image flair
@mixin image-flair {
  position: relative;
  padding: rem-calc($spacing-1);
  width: 100%;
  @include breakpoint(medium) {
    padding: rem-calc($spacing-2);
  }
  @include breakpoint(large) {
    padding: rem-calc($spacing-3);
  }
  &:before,
  &:after {
    transition: transform 300ms ease-in;
  }
  @supports (clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)) {
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: rgba($primary, 0.7);
      clip-path: polygon(39.5% 0, 0 56%, 0 0);
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(#b39cc2, 0.7);
      clip-path: polygon(100% 19%, 43.5% 100%, 100% 100%);
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  img {
    width: 100%;
  }

  // Fallback if clip-path isn't supported or if we're disabling the image flair
  &._disabled {
    padding: 0;
    &:before,
    &:after {
      content: none;
    }
  }

  .tcu-content-wrapper &.tcu-full-width-small {
    @include breakpoint(small only) {
      width: calc(100vw - #{rem-calc($spacing-2)});
    }
  }
}

/// An alternate set of styles for image flair
@mixin image-flair-alt {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: rem-calc($spacing-2);
    left: rem-calc($spacing-2);
    bottom: rem-calc($spacing-2);
    right: rem-calc($spacing-2);
    border: 2px solid $white;
    pointer-events: none;
  }

  img {
    width: 100%;
  }
}

/// A set of styles for when image flairs are floated
@mixin image-flair-floats {
  // Rules for whenever image flair is floated
  &.float-left,
  &.float-right,
  &.float-center {
    @include breakpoint('medium') {
      width: auto;
      margin-top: 0;
      margin-bottom: $paragraph-margin-bottom;
    }
    img {
      @include breakpoint('large') {
        width: auto;
      }
    }
  }
  &.float-left {
    @include breakpoint('medium') {
      margin-right: $paragraph-margin-bottom;
    }
  }
  &.float-right {
    @include breakpoint('medium') {
      margin-left: $paragraph-margin-bottom;
    }
  }
  &.float-center {
    @include breakpoint('large') {
      width: 50%;
    }
  }
}

@if $image-flair {
  .image-flair {
    @include image-flair;
  }
}

@if $image-flair-alt {
  .image-flair-alt {
    @include image-flair-alt;
  }
}

@if $image-flair or $image-flair-alt {
  .image-flair,
  .image-flair-alt {
    @include image-flair-floats;
  }
}
