////
/// @group Image Card Set
////

/// Background color of an Image Card Set
/// @type Color
$image-card-set-background: $neutral-40 !default;

/// The max width of the contents of an Image Card Set
/// @type Number
$image-card-set-max-width: $component-max-width !default;

/*------------------------------------*\
  #Image Card Set
\*------------------------------------*/
.tcu-image-card-set {
  padding: rem-calc($spacing-8 $spacing-3);
  background: $image-card-set-background;
  @include breakpoint(medium) {
    padding: rem-calc($spacing-8 $spacing-5);
  }
  @include breakpoint(large) {
    padding: rem-calc($spacing-12 * 2) rem-calc($spacing-5);
  }

  & > .grid-x {
    // The grid of image cards uses .grid-margin-x which adds margin to the left and right
    // of each image card. To get the correct max width, we need to add the grid gutters.
    @include breakpoint(large) {
      max-width: rem-calc(
        $image-card-set-max-width + map-get($grid-margin-gutters, 'large')
      );
    }
  }
}

/*------------------------------------*\
  #Image Card Set Contents
\*------------------------------------*/
.tcu-image-card-set__title {
  text-align: center;
  font-weight: bold;
}

.tcu-image-card-set__buttons {
  text-align: center;
}

.tcu-image-card-set__grid + .tcu-image-card-set__buttons {
  margin-top: rem-calc($spacing-8);
}

/*------------------------------------*\
  #Image Card Set Layout Rules
\*------------------------------------*/

// For this particular component, when there are two next to each other
// we want to minimizing padding and margin between them.

.tcu-image-card-set + .tcu-image-card-set {
  padding-top: 0;
  @include breakpoint(medium) {
    padding-top: 0;
  }
  @include breakpoint(large) {
    padding-top: 0;
  }
}

.tcu-image-card-set.tcu-component + .tcu-image-card-set.tcu-component {
  margin-top: -$component-margin;
}

// When there are 4 image cards in a set, they are broken up into a 2x2 grid
// The first row should have spacing that is half the size of the container padding
.tcu-image-card-set .large-6:nth-child(-n + 2) {
  @include breakpoint(large) {
    margin-bottom: rem-calc($spacing-12);
  }
}
