////
/// @group Image Card
////

/// The default background of an Image Card
/// @type Color
$image-card-background: transparent !default;

/// The default padding of an Image Card
/// @type Number
$image-card-padding: $spacing-3 0 0 !default;

/// The default color of an Image Card title
/// @type Color
$image-card-title-color: $body-font-color !default;

/// The default font styles of an Image Card title
/// @type Color
$image-card-title-font: () !default;

/// The default font styles of an Image Card description
/// @type Color
$image-card-description-font: () !default;

/// The alignment of the buttons in an Image Card
/// @type String
$image-card-button-alignment: left !default;

/// The width of the image within the image card for aspect-ratio
/// @type Number
$image-card-image-width: 670px !default;

/// The height of the image within the image card for aspect-ratio
/// @type Number
$image-card-image-height: 450px !default;

/*------------------------------------*\
  #Image Card
\*------------------------------------*/
.tcu-image-card {
  background: $image-card-background;
}

.tcu-image-card__image {
  img {
    width: 100%;
    aspect-ratio: #{strip-unit($image-card-image-width)} /
      #{strip-unit($image-card-image-height)};
    object-fit: cover;
  }
}

.tcu-image-card__content {
  padding: rem-calc($image-card-padding);
  & > *:last-child {
    margin-bottom: 0;
  }
}

.tcu-image-card__title {
  color: $image-card-title-color;
  & > * {
    @include setValues($image-card-title-font);
  }
}

.tcu-image-card__description {
  & > * {
    @include setValues($image-card-description-font);
  }
}

.tcu-image-card__button {
  text-align: $image-card-button-alignment;
  & > :last-child {
    margin-bottom: 0;
  }
}
