/// The Gallery background
/// @type Color
$gallery-background: $neutral-20 !default;

/// The image caption background color
/// @type Color
$gallery-caption-background: $neutral-80 !default;

/// The image caption text color
/// @type Color
$gallery-caption-text: $neutral-0 !default;

/// The unselected dot background color for the slider
/// @type Color
$gallery-dot-color: $neutral-60 !default;

/// The selected dot background color for the slider
/// @type Color
$gallery-dot-selected-color: $primary !default;

/// Transition effects for images
/// @type CSS Values
$gallery-image-transition: all 0.5s ease !default;

/// The Flickity arrow background color
/// @type Color
$gallery-arrow-color: $neutral-80 !default;

.tcu-image-gallery {
  margin: auto;
  position: relative;
  display: flex;
  background: $gallery-background;

  // Flickity Styles
  .flickity-viewport {
    margin-top: $spacing-3;
    width: 100%;
  }

  .flickity-slider {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .flickity-button {
    background: hsla(0, 0%, 80%, 0.75);
    .flickity-button-icon {
      fill: $gallery-arrow-color;
    }
    &:hover {
      background: rgba($secondary, 0.75);
    }
  }

  .flickity-page-dots {
    position: static;
    margin: $spacing-2;

    .dot {
      background: $gallery-dot-color;
      opacity: 1;
      margin: rem-calc(0 $spacing-half);
      width: rem-calc($spacing-2);
      height: rem-calc($spacing-2);
    }

    .dot.is-selected {
      background: $gallery-dot-selected-color;
    }
  }

  @include breakpoint(large) {
    // For 4 images or more
    &._extended {
      .tcu-gallery-cell {
        width: 31%;
      }
    }
  }
}

/// Image styles
.tcu-gallery-cell {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 380px;

  @include breakpoint(medium) {
    width: 34%;
  }

  img {
    transition: $gallery-image-transition;
  }
  figure {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  figcaption {
    display: none;
  }
}
.tcu-gallery-cell:not(.is-selected) {
  img {
    object-fit: cover;
    height: 220px;
    width: 220px;
    opacity: 0.5;
  }
}
.tcu-gallery-cell.is-selected {
  img {
    max-width: 100%;
    height: 380px;
    width: 380px;
    object-fit: contain;
  }
}

/// Caption styles
.tcu-image-gallery-wrapper {
  .gallery-image-caption {
    background: $gallery-caption-background;
    color: $gallery-caption-text;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-inline: 10%;
    position: relative;
  }
}
