////
/// @group Infographic Ribbon
////

/// The background color of the infographic ribbon
/// @type Color
$infographic-ribbon-background: rgba($secondary, 0.2) !default;

/// The padding around the infographic. Best used in combination with a
/// background color
/// @type Number
$infographic-ribbon-padding: $spacing-4 !default;

/*------------------------------------*\
  #Infographic Ribbon
\*------------------------------------*/

.tcu-infographic-ribbon {
  background: $infographic-ribbon-background;
  text-align: center;
  padding: rem-calc($infographic-ribbon-padding);
}

.tcu-infographic-ribbon__list {
  img {
    @include breakpoint(small only) {
      margin-bottom: $paragraph-margin-bottom;
    }
  }
  .medium-6 img {
    @include breakpoint(medium only) {
      margin-bottom: $paragraph-margin-bottom;
    }
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}
