////
/// @group Lead In Paragraph
////

/// Background color for Lead In Paragraph
/// @type Color
$lead-in-paragraph-background: none !default;

/// Padding Map for Lead In Paragraph
/// @type Map
$lead-in-paragraph-padding: (
  'small': 0,
  'medium': 0,
  'large': 0,
) !default;

/// Max Width for Lead In Paragraph (takes over on large breakpoint)
/// @type CSS Value
$lead-in-paragraph-max-width: 70% !default;

/// Color of the text in a Lead In Paragraph
/// @type Color
$lead-in-paragraph-color: $body-font-color !default;

/// A set of font style values for the text in a Lead In Paragraph
/// @type Map
$lead-in-paragraph-font: (
  'font-size': $medium-font-size,
  'font-weight': $medium-font-weight,
  'font-family': $medium-font-family,
) !default;

/// Whether or not there should be a border below the heading in a Lead In Paragraph
/// @type Boolean
$lead-in-paragraph-heading-border: false !default;

/// Color of the heading in a Lead In Paragraph
/// @type Color
$lead-in-paragraph-heading-color: $body-font-color !default;

/// A set of font style values for the heading in a Lead In Paragraph
/// @type Map
$lead-in-paragraph-heading-font: (
  'font-weight': bold,
) !default;

/*------------------------------------*\
  #Lead in Paragraph
\*------------------------------------*/
.tcu-lead-in-paragraph {
  background: $lead-in-paragraph-background;
  padding: map-get($lead-in-paragraph-padding, small);

  @include setValues($lead-in-paragraph-font);
  color: $lead-in-paragraph-color;
  text-align: center;
  @include breakpoint(medium) {
    padding: map-get($lead-in-paragraph-padding, medium);
  }
  @include breakpoint(large) {
    max-width: $lead-in-paragraph-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: map-get($lead-in-paragraph-padding, large);
  }

  p {
    line-height: 1.25;
  }

  h1,
  .h1,
  h2,
  .h2 {
    @include setValues($lead-in-paragraph-heading-font);
    color: $lead-in-paragraph-heading-color;

    @if $lead-in-paragraph-heading-border {
      &:after {
        content: '';
        display: block;
        height: 0;
        border-bottom: 1px solid $lead-in-paragraph-heading-color;
        margin: rem-calc($spacing-1) auto 0;
        max-width: 550px;
      }
    }
  }
}
