////
/// @group Link List
////

/// Font style for the link list
/// @type Map
$link-list-font: (
  'font-weight': bold,
) !default;

.tcu-link-list {
  padding: 0;
  margin-left: 0;
  list-style-type: none;
  a {
    @include setValues($link-list-font);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
