////
/// @group Local Footer
////

/// The background color of the Local Footer
/// @type Color
$local-footer-background: #4d4d4a !default;

/// The color of the text in the Local Footer
/// @type Color
$local-footer-color: $white !default;

/// The color of the link in the Local Footer
/// @type Color
$local-footer-link-color: $local-footer-color !default;

/// The hover color of the link in the Local Footer
/// @type Color
$local-footer-link-hover-color: $secondary !default;

/// The font size of the text in the Local Footer
/// @type Number
$local-footer-font-size: rem-calc($body-font-size) !default;

/// The padding around the Local Footer
/// @type Number
$local-footer-spacing: rem-calc($spacing-4) !default;

/// The gap between sections in the Local Footer
/// @type Number
$local-footer-cell-margin: $spacing-7 !default;

/// The max width of the logo within the Local Footer
/// @type Number
$local-footer-logo-max-width: $spacing-1 * 32 !default;

/// The min width of the logo within the Local Footer
/// @type Number
$local-footer-logo-min-width: $spacing-1 * 25 !default;

/// Styles to apply to the buttons in the footer
/// @type Map
$local-footer-button-styles: (
  color: $local-footer-color,
) !default;

/// Styles to apply to the buttons in the footer on hover
/// @type Map
$local-footer-button-hover-styles: () !default;

/*------------------------------------*\
  #Local Footer
\*------------------------------------*/
.tcu-local-footer {
  background-color: $local-footer-background;
  color: $local-footer-color;
  font-size: rem-calc($local-footer-font-size);
  font-weight: 700;
  display: grid;
  gap: rem-calc($local-footer-cell-margin);
  padding: ($local-footer-spacing * 2) $local-footer-spacing;

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: rem-calc($spacing-4);
  }

  @include breakpoint(large) {
    grid-auto-flow: column;
    grid-template-columns: none;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-content: space-around;
  }

  .tcu-logo {
    display: inline-block;
  }
  .tcu-logo img {
    display: block;
    width: 100%;
    max-width: rem-calc($local-footer-logo-max-width);
    @include breakpoint(small only) {
      margin: 0 auto;
    }
    @include breakpoint(large) {
      width: rem-calc($local-footer-logo-min-width);
    }
    @include breakpoint(xlarge) {
      width: rem-calc($local-footer-logo-max-width);
    }
  }

  svg {
    fill: currentColor;
  }

  li {
    margin-bottom: rem-calc($spacing-2);
  }

  p {
    margin-bottom: rem-calc($spacing-2);
  }

  a:not(.button) {
    color: $local-footer-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $local-footer-link-hover-color;
      text-decoration: underline;
    }
  }

  .has-icons {
    font-weight: normal;
    position: relative;

    p {
      margin-left: 30px + 15px;
      white-space: nowrap;
    }

    [class*='-icon'] {
      fill: transparent;
      position: absolute;
      left: 0;
      stroke: $local-footer-color;
      stroke-width: 2;
    }
  }

  // Buttons
  .button {
    @include setValues($local-footer-button-styles);

    &:hover,
    &:focus {
      @include setValues($local-footer-button-hover-styles);
    }
  }
}

.tcu-local-footer__cell {
  & > *:last-child {
    margin-bottom: 0;
  }
}

.tcu-local-footer__heading {
  text-transform: uppercase;
}
