@use 'sass:math';

////
/// @group Localist Widget
////

/// Background of the Localist Widget Container
/// @type Color
$localist-widget-background: $neutral-40 !default;

/// Border between event list items
/// @type List
$localist-widget-event-border: 1px solid $neutral-60 !default;

/// Whether or not there should be an event divider between the date
/// and event title
/// @type Boolean
$localist-widget-event-divider: true !default;

/// The color of the event divider
/// @type Color
$localist-widget-event-divider-color: $neutral-60 !default;

/// For properties for the event date
/// @type Map
$localist-widget-event-date-font: () !default;

/// For properties for the event name
/// @type Map
$localist-widget-event-name-font: (
  'font-family': $xlarge-font-family,
) !default;

/*------------------------------------*\
  #Localist Widget
\*------------------------------------*/

.localist-widget-wrapper {
  background-color: $localist-widget-background;
  padding: rem-calc($spacing-2);
  @include breakpoint(medium) {
    padding: rem-calc($spacing-4);
  }
  @include breakpoint(large) {
    padding: rem-calc($spacing-7);
  }
  ul {
    list-style-type: none;
    margin: rem-calc(0 0 $spacing-5);
  }
  li {
    padding: rem-calc($spacing-5 0);
    border-bottom: $localist-widget-event-border;
  }
  li:first-child {
    border-top: $localist-widget-event-border;
  }

  // Event list item
  .lwn {
    display: flex;
    flex-direction: column;
    position: relative;
    @include breakpoint(medium) {
      @if $localist-widget-event-divider {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  .lwn > * {
    flex: 0 1 50%;
    @include breakpoint(medium) {
      padding-left: rem-calc($spacing-4);
      padding-right: rem-calc($spacing-4);
    }
  }

  // Date
  .lwn0 {
    @include setValues($localist-widget-event-date-font);
    &:after {
      @if $localist-widget-event-divider {
        @include breakpoint(medium) {
          content: '';
          display: inline-block;
          position: absolute;
          left: 50%;
          top: calc(50% - (math.div(55px, 2)));
          height: 55px;
          width: 1px;
          background-color: $localist-widget-event-divider-color;
          transform: rotate($lead-on-skew-reversed);
        }
      }
    }
  }

  // Event name
  .lwn a {
    @include setValues($localist-widget-event-name-font);
    text-decoration: none;
    @include breakpoint(medium) {
      // The event name needs extra padding to make space for the event divider
      @if $localist-widget-event-divider {
        padding-left: rem-calc($spacing-4 + (math.div(55px, 2)));
      }
    }
    &:focus,
    &:hover {
      color: color-pick-contrast(
        $localist-widget-background,
        ($anchor-color-hover, $text-black, $white)
      );
      text-decoration: underline;
    }
  }

  // Location
  .lwl {
    display: none;
  }

  .button,
  & > *:last-child {
    margin-bottom: 0;
  }
}
