@use 'sass:color';

////
/// @group Local Navigation
////

/// Define the min width media query of the large version of the local navigation
/// @type Number
$local-navigation-mq-min-width: 1100px !default;

/// Define the max width media query of the small version of the local navigation
/// @type Number
$local-navigation-mq-max-width: $local-navigation-mq-min-width - 1px !default;

/// Define the max width of the primary nav
/// @type Number
$local-navigation-max-width: $global-width !default;

/// Define the gutter spacing of the primary nav
/// @type Number
$local-navigation-gutter: 0 $layout-padding !default;

/// Default background color of the primary nav
/// @type Color
$local-navigation-background: $primary !default;

/// Default text color of the primary nav
/// @type Color
$local-navigation-text-color: $white !default;

/// Default icon color of the primary nav
/// @type Color
$local-navigation-icon-color: $local-navigation-text-color !default;

/// Default font family of the primary nav
/// @type String
$local-navigation-font-family: inherit !default;

/// Default font size of the primary nav
/// @type Number
$local-navigation-font-size: rem-calc($body-font-size) !default;

/// Default font weight of the primary nav
/// @type String
$local-navigation-font-weight: bold !default;

/// Default text transform of the primary nav
/// @type String
$local-navigation-text-transform: null !default;

/// Default letter spacing of the primary nav
/// @type String
$local-navigation-letter-spacing: null !default;

/// Default padding for the js-nav-toggle element
/// @type Number
$local-navigation-nav-toggle-padding: $spacing-2 $spacing-3
  calc(#{$spacing-2} - 2px);

/// Default bottom margin for the js-nav-toggle element
/// @type Number
$local-navigation-nav-toggle-margin-bottom: (
  'small': rem-calc($spacing-3),
  'large': rem-calc($spacing-5),
);

/// Default background color of the primary nav dropdown menus
/// @type Color
$local-navigation-dropdown-background: $neutral-80 !default;

/// Default text color of the primary nav dropdown menus
/// @type Color
$local-navigation-dropdown-text-color: $white !default;

/// Default hover text color of the primary nav dropdown menus
/// @type Color
$local-navigation-dropdown-hover-text-color: $local-navigation-dropdown-text-color !default;

/// Default font family of the primary nav dropdown menus
/// @type String
$local-navigation-dropdown-font-family: inherit !default;

/// Default font size of the primary nav dropdown menus
/// @type Number
$local-navigation-dropdown-font-size: rem-calc($body-font-size) !default;

/// Default font family of the primary nav dropdown menus
/// @type String
$local-navigation-dropdown-font-weight: normal !default;

/// Default text transform of the primary nav dropdown menus
/// @type String
$local-navigation-dropdown-text-transform: none !default;

/// Default letter spacing of the primary nav
/// @type String
$local-navigation-dropdown-letter-spacing: normal !default;

/// Default border color of the primary nav dropdown menus
/// @type Color
$local-navigation-dropdown-border-color: color.scale(
  $local-navigation-dropdown-background,
  $lightness: 40%
) !default;

/// Default border width of the primary nav dropdown menus
/// @type Number
$local-navigation-dropdown-border-width: 1px !default;

/// Default border of the primary nav dropdown menus
/// @type Color
$local-navigation-dropdown-border: $local-navigation-dropdown-border-width solid
  $local-navigation-dropdown-border-color !default;

/// Default icon color of the primary nav dropdown menus
/// @type Color
$local-navigation-dropdown-icon-color: $local-navigation-dropdown-text-color !default;

/// Default text color of the primary nav home highlight on mobile
/// @type Color
$local-navigation-home-text-color: $local-navigation-dropdown-text-color !default;

/// Default font family of the primary nav home highlight on mobile
/// @type String
$local-navigation-home-font-family: inherit !default;

// Since the font syltes of the main local navigation bar are set in various
// places, we use a mixin to define them all in one spot.
@mixin local-navigation-text {
  color: $local-navigation-text-color;
  font-family: $local-navigation-font-family;
  font-size: rem-calc($local-navigation-font-size);
  @if $local-navigation-font-weight {
    font-weight: $local-navigation-font-weight;
  }
  @if $local-navigation-letter-spacing {
    letter-spacing: $local-navigation-letter-spacing;
  }
  @if $local-navigation-text-transform {
    text-transform: $local-navigation-text-transform;
  }
}

// Since the font syltes of the main local navigation dropdowns are set in various
// places, we use a mixin to define them all in one spot.
@mixin local-navigation-dropdown-text {
  color: $local-navigation-dropdown-text-color;
  font-family: $local-navigation-dropdown-font-family;
  font-size: rem-calc($local-navigation-dropdown-font-size);
  @if $local-navigation-font-weight and $local-navigation-dropdown-font-weight {
    font-weight: $local-navigation-dropdown-font-weight;
  }
  @if $local-navigation-letter-spacing and
    $local-navigation-dropdown-letter-spacing
  {
    letter-spacing: $local-navigation-dropdown-letter-spacing;
  }
  @if $local-navigation-text-transform and
    $local-navigation-dropdown-text-transform
  {
    text-transform: $local-navigation-dropdown-text-transform;
  }
}

/*------------------------------------*\
  #Local Navigation
\*------------------------------------*/
.tcu-main-navigation {
  --nav-min-width: #{strip-unit($local-navigation-mq-min-width)};
}

.tcu-local-nav {
  margin-inline: auto;
  margin-bottom: map-get($local-navigation-nav-toggle-margin-bottom, 'small');

  @media screen and (max-width: #{$local-navigation-mq-max-width}) {
    padding: $local-navigation-gutter;
  }

  @media (min-width: #{$local-navigation-mq-min-width}) {
    margin: 0 auto;
    max-width: $local-navigation-max-width;
    position: relative;
    z-index: 8;
    margin-bottom: map-get($local-navigation-nav-toggle-margin-bottom, 'large');
  }

  // On homepage templates, we don't want any space between the local navigation
  // and the component below it on large screen sizes
  .tcu-template-home & {
    @media (min-width: #{$local-navigation-mq-min-width}) {
      margin-bottom: 0;
    }
  }
}

/*------------------------------------*\
  # Small Version of Local Navigation
\*------------------------------------*/
@media screen and (max-width: #{$local-navigation-mq-max-width}) {
  .js-nav-toggle {
    @include local-navigation-text;
    background: $local-navigation-background;
    border: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $local-navigation-nav-toggle-padding;
    position: relative;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
  .tcu-button-arrow {
    transition: transform 0.3s ease;
    path {
      fill: $local-navigation-icon-color;
    }
  }
  [data-state='open'] .tcu-button-arrow {
    transform: rotate(180deg);
  }
  .nav-wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    max-height: calc(100vh - (64px + 54px));
    scroll-behavior: smooth;
    background-color: $local-navigation-dropdown-background;
    &.js-nav-overflow-scroll {
      overflow-y: auto;
    }
    &[data-state='open'] {
      min-height: 60px;
    }
  }
  .js-nav-header {
    display: flex;
    background-color: $local-navigation-dropdown-background;
    visibility: visible;

    [data-level='0'] & {
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
    .js-nav-back {
      padding-left: 15px;
      background: transparent;
      border: 0;
      position: relative;
      z-index: 1;
      color: $local-navigation-dropdown-text-color;
      &:after {
        content: '';
        position: absolute;
        top: 13px;
        right: 0;
        bottom: 13px;
        width: $local-navigation-dropdown-border-width;
        height: auto;
        background: $local-navigation-dropdown-border-color;
      }
      svg {
        transform: rotate(180deg);
        margin-right: 18px;
      }
      path {
        fill: $local-navigation-dropdown-icon-color;
      }
    }
    .js-nav-header-label {
      @include local-navigation-dropdown-text;
      padding: 13px 18px;
    }
  }
  .tcu-main-navigation {
    .tcu-menu {
      margin: 0;
      position: relative;
      transition: transform 0.3s;
    }
    .tcu-menu > li:first-child a {
      color: $local-navigation-home-text-color;
      font-family: $local-navigation-home-font-family;
      font-weight: $local-navigation-font-weight;
      text-transform: $local-navigation-text-transform;
    }
    ul {
      margin: 0;
      list-style-type: none;
    }
    li {
      margin: 0 15px;
      border-bottom: $local-navigation-dropdown-border;
    }
    li:last-child {
      border-bottom: 0;
    }
    a {
      @include local-navigation-dropdown-text;
      text-decoration: none;
      padding: 13px 7px;
      display: block;
      position: relative;
      width: 100%;
      &:hover,
      &:focus {
        color: $local-navigation-dropdown-text-color;
        text-decoration: underline;
      }
    }
    button {
      height: 57px;
      width: 57px;
      background: transparent;
      border: 0;
      padding: 0 10px 0 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
      color: $local-navigation-text-color;
    }
  }
  .has-dropdown {
    display: flex;
    justify-content: space-between;
    button {
      display: none;
    }
    .js-dropdown {
      display: block;
      path {
        fill: $local-navigation-dropdown-icon-color;
      }
    }
    .sub-menu {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transform: translateX(100%);
      background-color: $local-navigation-dropdown-background;
      height: 0;
      overflow: hidden;
      & > li:first-child {
        border-top: $local-navigation-dropdown-border;
      }
    }
    &.nav-dropdown-open > .sub-menu,
    &.nav-dropdown-open .sub-menu-wrapper > .sub-menu {
      opacity: 1;
      height: auto;
      overflow: visible;
    }
  }
}

/*------------------------------------*\
  #Large Version of Local Navigation
\*------------------------------------*/
@media screen and (min-width: #{$local-navigation-mq-min-width}) {
  $sub-menu-width: 367px;

  .js-nav-toggle {
    display: none;
  }
  .js-nav-header {
    display: flex;
    background-color: $local-navigation-dropdown-background;
    min-width: $sub-menu-width;
    visibility: visible;

    [data-level='0'] & {
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
    .js-nav-back {
      padding-left: 19px + 15px;
      padding-right: 20px;
      background: transparent;
      border: 0;
      position: relative;
      z-index: 1;
      height: auto;
      color: $local-navigation-dropdown-text-color;
      &:after {
        content: '';
        position: absolute;
        top: 13px;
        right: 0;
        bottom: 13px;
        width: $local-navigation-dropdown-border-width;
        height: auto;
        background: $local-navigation-dropdown-border-color;
      }
      svg {
        transform: rotate(180deg);
      }
      path {
        fill: $local-navigation-dropdown-icon-color;
      }
    }
    .js-nav-header-label {
      @include local-navigation-dropdown-text;
      padding: 16px 29px;
    }
  }
  .tcu-main-navigation {
    .tcu-menu {
      margin: 0;
      list-style-type: none;
      background: $local-navigation-background;
      display: flex;
      justify-content: space-around; // For browsers that don't support space-evenly
      justify-content: space-evenly;
      // Ideally $local-navigation-mq-max-width is set to a width where the nav
      // doesn't need to wrap. If we haven't set the correct max-width, it's
      // better to wrap the navigation as a fallback.
      flex-wrap: wrap;
    }
    .tcu-menu > li:first-child {
      display: none;
    }
    a {
      @include local-navigation-text;
      text-decoration: none;
      padding: 23px;
      display: inline-block;
      &:hover,
      &:focus {
        color: $local-navigation-text-color;
        text-decoration: underline;
      }
    }
    button {
      background: transparent;
      border: 0;
      height: 57px;
      width: auto;
      padding: 0 20px;
      cursor: pointer;
      color: $local-navigation-text-color;
    }
    ul {
      margin: 0;
      list-style-type: none;
    }
    .tcu-button-arrow {
      transition: transform 0.3s ease;
      path {
        fill: $local-navigation-icon-color;
      }
    }
    [data-state='open'] .tcu-button-arrow {
      transform: rotate(180deg);
      path {
        fill: $local-navigation-dropdown-icon-color;
      }
    }
    .has-dropdown {
      & > a {
        padding-right: 0;
      }
      & > a:focus {
        color: $local-navigation-text-color;
      }
      &[data-state='open'] > a {
        color: $local-navigation-dropdown-text-color;
      }
      &[data-state='open'] {
        background-color: $local-navigation-dropdown-background;
      }
    }
    .tcu-menu > .has-dropdown:last-child {
      position: relative;
      .sub-menu-wrapper {
        right: 0;
      }
    }
    .sub-menu-wrapper {
      height: 0;
      visibility: hidden;
      position: absolute;
      overflow: hidden;
      background-color: $local-navigation-dropdown-background;
      transition: height 0.3s ease;
      max-height: 50vh;
      scroll-behavior: smooth;
      &.js-nav-overflow-scroll {
        overflow-y: auto;
      }
      &[data-state='open'] {
        visibility: visible;
        min-height: 62px;
        z-index: 1;
      }
      li {
        margin: 0 19px;
        border-bottom: $local-navigation-dropdown-border;
      }
      a {
        @include local-navigation-dropdown-text;
        text-decoration: none;
        padding: 16px 0 16px 29px;
        display: block;
        position: relative;
        width: 100%;
        &:hover,
        &:focus {
          color: $local-navigation-dropdown-text-color;
          text-decoration: underline;
        }
      }
      .sub-menu {
        transition: transform 0.3s;
        min-width: $sub-menu-width;
        & > li:last-child {
          border-bottom: 0;
        }
      }
      .has-dropdown {
        display: flex;
        justify-content: space-between;
        button {
          height: 62px;
          width: 57px;
          background: transparent;
          border: 0;
          padding: 0 20px 0 0;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          cursor: pointer;
        }
        path {
          fill: $local-navigation-dropdown-icon-color;
        }
        .sub-menu {
          margin: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          transform: translateX(100%);
          background-color: $local-navigation-dropdown-background;
          height: 0;
          overflow: hidden;
          & > li:first-child {
            border-top: $local-navigation-dropdown-border;
          }
        }
        &.nav-dropdown-open > .sub-menu {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
      }
    }
  }
}
