////
/// @group Majors and Programs
////

/*------------------------------------*\
  #Majors and Programs
\*------------------------------------*/

.tcu-majors-programs {
  margin-inline: auto;
  @include breakpoint(large) {
    max-width: 60%;
  }
}

.tcu-majors-programs__header {
  text-align: center;
}

.tcu-majors-programs__form {
  padding-bottom: map-get($grid-margin-gutters, large);
  @include breakpoint(large) {
    padding-bottom: 0;
    padding-right: map-get($grid-margin-gutters, large);
  }

  .input-group {
    margin-bottom: 0;
  }

  // On mobile only, the search button is below the search field
  @include breakpoint(small only) {
    .input-group {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .input-group-button input {
      width: 100%;
      padding: $button-padding;
      margin-top: $global-margin;
    }
  }
}

/*------------------------------------*\
  #Majors and Programs Button Section
\*------------------------------------*/

.tcu-majors-programs__buttons {
  position: relative;
  padding-top: map-get($grid-margin-gutters, large);
  flex-wrap: wrap;
  // On medium only, the buttons are in row.
  // On all other sizes, they are stacked
  @include breakpoint(medium only) {
    flex-wrap: nowrap;
  }
  @include breakpoint(large) {
    padding-top: 0;
    padding-left: map-get($grid-margin-gutters, large);
  }
  & > *:last-child {
    @include breakpoint(large) {
      margin-bottom: 0;
    }
  }

  .button {
    width: 100%;
    // On medium only, the buttons are in row.
    // On all other sizes, they are stacked
    @include breakpoint(medium only) {
      flex: 1 1 auto;
      margin-bottom: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    @include breakpoint(large) {
      margin-right: 0;
    }
  }
}
.tcu-majors-programs__buttons:after {
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  position: absolute;
  top: 0px;
  left: 50%;
  background: $neutral-60;
  transform: translateX(-50%);
  @include breakpoint(large) {
    width: 1px;
    height: 80%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
