////
/// @group Media Card
////

/*------------------------------------*\
  # Base Styles
\*------------------------------------*/

.tcu-media-card {
  // When the media card has a link within it,
  // scale up the icon as a hover or focus effect
  &:focus-within img,
  &:has(a):hover img {
    transform: scale(1.1);
  }
}

.tcu-media-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;

  > * {
    margin-bottom: 0;
  }

  img {
    max-width: 112px;
    transform: scale(1);
    transition: transform 0.3s ease;
  }
}

/*------------------------------------*\
  # Default
\*------------------------------------*/

.tcu-media-card._white {
  padding: rem-calc($spacing-4);
  background: $white;
  border: 1px solid $black;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);

  .tcu-media-card__content {
    height: 100%;
  }

  h2 {
    font-family: $medium-font-family;
    font-size: $medium-font-size;
    font-weight: $medium-font-weight;
    flex-grow: 1;
  }
}

/*------------------------------------*\
  # Icon without Link
\*------------------------------------*/

.tcu-media-card._icon {
  h2 {
    font-family: $body-font-family;
    font-size: $xsmall-font-size;
    font-weight: 700;
    position: relative;
    padding-bottom: rem-calc($spacing-2);

    &:after {
      content: '';
      display: block;
      background: $primary;
      height: rem-calc($spacing-half);
      width: rem-calc($spacing-8);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  img {
    width: $spacing-7;
    height: $spacing-7;
    object-fit: contain;
  }
}

/*------------------------------------*\
  # Icon wrapped in a link
\*------------------------------------*/

.tcu-media-card._icon-link {
  .tcu-media-card__content {
    text-decoration: none;
  }

  h2 {
    font-family: $body-font-family;
    font-size: $xsmall-font-size;
    font-weight: 700;
    color: $text-black;
  }

  img {
    width: 85px;
    height: 74px;
    object-fit: contain;
  }
}
