////
/// @group Two Column List
////

/// Border style
/// @type List
$two-column-list-border: 1px solid #ccc !default;

/// Padding within list cell
/// @type Number
$two-column-list-padding: rem-calc($spacing-3) !default;

/// Border style
/// @type List
$multi-column-list-border: $two-column-list-border !default;

/// Padding within list cell
/// @type Number
$multi-column-list-padding: $two-column-list-padding !default;

/// Cell background for li._light
/// @type Number
$multi-column-light-background: $neutral-40 !default;

/// Cell background for li._dark
/// @type Number
$multi-column-dark-background: $neutral-60 !default;

.tcu-two-column-list,
.tcu-multi-column-list {
  list-style: none;
  margin: rem-calc($list-margin-bottom) 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1px;

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr;
  }

  li {
    outline: $multi-column-list-border;
    padding: $multi-column-list-padding;
  }

  ._light {
    background: $multi-column-light-background;
    color: color-pick-contrast(
      $multi-column-light-background,
      ($white, $text-black)
    );
  }
  ._dark {
    background: $multi-column-dark-background;
    color: color-pick-contrast(
      $multi-column-dark-background,
      ($white, $text-black)
    );
  }
}
