.tcu-pagination {
  list-style-type: none;
  margin-left: 0;
  display: flex;
  justify-content: center;

  li {
    display: inline;
    border: 1px solid $primary;
    border-right: 0;
    & > :first-child {
      text-decoration: none;
      padding: rem-calc($spacing-half $spacing-1);
    }
  }
  li:last-child {
    border-right: 1px solid $primary;
  }

  // Active styles
  .active,
  li:hover,
  li:focus-within {
    background-color: $primary;
    a,
    span,
    button {
      color: color-pick-contrast($primary, ($white, $text-black));
    }
  }

  // Disabled styles
  .disabled {
    cursor: not-allowed;
  }
}
