////
/// @group Parallax Image
////

/// The height of the parallax image container
/// @type Number
$parallax-height: rem-calc($spacing-1 * 60) !default;

/// Should the Parallax Image Component use image flair?
/// @type Boolean
$parallax-image-flair: true !default;

/*------------------------------------*\
  #Parallax Image Container
\*------------------------------------*/
.tcu-parallax {
  height: $parallax-height;
  position: relative;
  @if $parallax-image-flair {
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: rem-calc($spacing-5);
      width: 100%;
      background: rgba(#b39cc2, 0.7);
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
}

/*------------------------------------*\
  #Parallax Image
\*------------------------------------*/
// The CMS is adding the image as a background so that
// we can apply background-attachment fixed

.tcu-parallax__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include breakpoint(large) {
    background-attachment: fixed;
  }
}
