////
/// @group Profile Card
////

/// How wide the profile card image should be
/// @type Number
$profile-card-image-width: 160px !default;

/// How tall the profile card image should be
/// @type Number
$profile-card-image-height: 140px !default;

/// The font size for the profile card content
/// @type Number
$profile-card-font-size: $body-font-size !default;

/// The font family of the profile card title
/// @type String
$profile-card-title-font-family: $hammerhead-font-family !default;

/// The font weight of the profile card title
/// @type Number
$profile-card-title-font-weight: $xsmall-font-weight !default;

/*------------------------------------*\
  #Profile Card
\*------------------------------------*/
// The profile card is a variation of the tcu-image-card

.tcu-image-card--profile {
  font-size: rem-calc($profile-card-font-size);
  width: $profile-card-image-width;
  .tcu-image-card__image img {
    aspect-ratio: #{strip-unit($profile-card-image-width)} /
      #{strip-unit($profile-card-image-height)};
    object-fit: cover;
    object-position: top;
  }
  .tcu-image-card__title {
    font-family: $profile-card-title-font-family;
    font-weight: $profile-card-title-font-weight;
    color: $body-font-color;
  }
  .tcu-image-card__content {
    padding: rem-calc($spacing-1 0 0);
  }
  .tcu-image-card__description > *:last-child {
    margin-bottom: 0;
  }

  [href^='mailto'] {
    overflow-wrap: break-word;
  }
}

/*------------------------------------*\
  # Profile Card List
\*------------------------------------*/
// @TODO the :not(.grid-x) selector can be removed once all sites are converted
// to using CSS grid instead of foundation-grid
.tcu-profile-card-list:not(.grid-x) {
  display: grid;
  gap: rem-calc($global-margin);
  grid-template-columns: repeat(
    auto-fill,
    minmax($profile-card-image-width, 1fr)
  );
  list-style-type: none;
  margin: rem-calc(0 0 $paragraph-margin-bottom);

  & > .tcu-image-card--profile {
    width: 100%;
  }
}
