/// Background style for the program finder
/// @type Value (e.g., 'none', 'transparent', a color)
$program-finder-background: none !default;

/// Padding around the inner portion of the program finder form
/// @type Number
$program-finder-padding: 0 $global-padding !default;

/// Max width of the large-sized program finder content
/// @type CSS value
$program-finder-large-content-width: 960px !default;

/// Font styles for the program-finder-heading
/// @type Map
$program-finder-heading-font: () !default;

/// Radius for program finder elements
/// @type Number
$program-finder-radius: 0 !default;

/// Flex properties for the program finder button
/// @type List (e.g., [flex-grow, flex-shrink, flex-basis])
$program-finder-button-flex: 0 0 auto !default;
$program-finder-button-medium-flex: 1 !default;

/// Width of the medium-sized program finder button
/// @type CSS value
$program-finder-medium-button-width: auto !default;

/// Space between the input and button in the program finder
/// @type CSS value
$program-finder-input-button-space: 0 !default;

/// Padding for input search button
/// @type Number
$program-finder-input-button-padding: $button-padding !default;

/// Space between the input and placeholder text in the program finder
/// @type CSS value
$program-finder-placeholder-space: $spacing-1 !default;

/// Font styles for the program-finder input placeholder
/// @type Map
$program-finder-placeholder-font: () !default;

/// Stroke width for the program finder separator
/// @type Number
$program-finder-separator-stroke: 1px !default;

/// Width of the program finder separator
/// @type CSS value
$program-finder-separator-width: 80% !default;

/// Color of the program finder separator
/// @type Color
$program-finder-separator-color: $neutral-80 !default;

/*------------------------------------*\
    #Program Finder Form
\*------------------------------------*/
.tcu-program-finder-form {
  @include fullWidth;
  background: $program-finder-background;
}
.tcu-program-finder-wrapper {
  padding: $program-finder-padding;
  @include breakpoint(large) {
    margin: 0 $spacing-12;
  }
}
.tcu-program-finder-heading {
  text-align: center;
  @include setValues($program-finder-heading-font);
}

/*------------------------------------*\
    #Program Finder Content
\*------------------------------------*/
.tcu-program-finder-content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include breakpoint(large) {
    flex-direction: row;
    max-width: $program-finder-large-content-width;
    margin-inline: auto;
  }

  /*------------------------------------*\
    #Program Finder Form Fields
  \*------------------------------------*/
  .finder-form {
    padding-block-end: $global-padding;
    @include breakpoint(large) {
      padding-block-end: 0;
      padding-inline-end: $global-padding;
      width: 60%;
      display: grid;
      align-content: center;
    }
  }

  .form-input {
    display: flex;
    flex-direction: column;

    ::placeholder {
      color: $neutral-60;
      @include setValues($program-finder-placeholder-font);
    }

    .input-field {
      border-radius: $program-finder-radius;
      padding-left: $program-finder-placeholder-space;
      margin: 0;
    }

    .input-group-button {
      @include breakpoint(medium) {
        padding-left: $program-finder-input-button-space;
      }
    }

    .input-group-button input {
      width: 100%;
      padding: $program-finder-input-button-padding;
      margin-top: $global-margin;
      border-radius: $program-finder-radius;
      @include breakpoint(medium) {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    @include breakpoint(medium) {
      flex-direction: unset;
    }
  }
}

/*------------------------------------*\
      #Program Finder Buttons
\*------------------------------------*/
.tcu-program-finder-buttons {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-block-start: $global-padding;

  @include breakpoint(medium) {
    flex-direction: row;
    justify-content: center;
  }
  @include breakpoint(large) {
    padding-block-start: 0;
    flex-direction: column;
    width: 40%;
  }

  .button-group {
    gap: $global-margin;
    margin-bottom: 0;
    @include breakpoint(large) {
      padding-left: $global-padding;
    }
  }

  .button {
    width: 100%;
    border-radius: $program-finder-radius;
    margin: 0;
    @include breakpoint(medium) {
      flex: $program-finder-button-medium-flex;
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $program-finder-medium-button-width; // can be 100%
    }
    @include breakpoint(large) {
      flex: $program-finder-button-flex;
      margin-right: 0;
      align-self: center;
      width: 100%;
    }
  }
  /*------------------------------------*\
    #Separator
  \*------------------------------------*/
  &::before {
    content: '';
    display: block;
    width: $program-finder-separator-width;
    height: $program-finder-separator-stroke;
    position: absolute;
    top: 0px;
    left: 50%;
    background: $program-finder-separator-color;
    border-radius: $spacing-2;
    transform: translateX(-50%);

    @include breakpoint(large) {
      width: $program-finder-separator-stroke;
      height: 60%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
