@use 'sass:math';
@use 'sass:list';

////
/// @group Profile
////

/// The min height of the profile image on medium screens
/// @type Number
$profile-img-medium: 560px !default;

/// The min height of the profile image on large screens
/// @type Number
$profile-img-large: 420px !default;

/// The color of the divider after the profile title
/// @type Color
$profile-title-divider-color: $primary !default;

/// The font styles for the profile title
/// @type Map
$profile-title-font: (
  'font-family': $medium-font-family,
) !default;

/// The font color of the profile contact info
/// @type Color
$profile-contact-info-font-color: $white !default;

/// The background color of the profile contact info section
/// @type Color
$profile-contact-info-background: $primary !default;

/// The font size for the smaller text on the profile
/// @type Number
$profile-small-font-size: math.min(
  $xsmall-font-size,
  $hammerhead-font-size
) !default;

/*------------------------------------*\
  #Profile Wrapper
\*------------------------------------*/

.tcu-profile {
  .btn-holder {
    @include breakpoint(medium) {
      text-align: right;
    }
    button {
      width: 100%;
      @include breakpoint(medium) {
        width: auto;
      }
    }
  }
}

/*------------------------------------*\
  #Profile Photo
\*------------------------------------*/

.tcu-profile__photo {
  margin-bottom: rem-calc($spacing-3);
  overflow: hidden;
  @include breakpoint(medium only) {
    width: 49%;
    display: inline-block;
    margin-bottom: rem-calc($spacing-4);
  }
  @include breakpoint(large) {
    float: left;
    min-height: $profile-img-large;
    width: $profile-img-large;
    margin: 0 5% 0 0;
  }
  img {
    aspect-ratio: list.slash(530, strip-unit($profile-img-medium));
    object-fit: cover;
    object-position: top;
    @include breakpoint(large) {
      aspect-ratio: list.slash(400, strip-unit($profile-img-large));
    }
  }
}

/*------------------------------------*\
  #Profile Title
\*------------------------------------*/

.tcu-profile__title {
  @include hammerheadDivider(
    $color: $profile-title-divider-color,
    $height: 6px
  );
  @include setValues($profile-title-font);
  &:after {
    @include breakpoint(large) {
      width: 32%;
    }
  }
}

/*------------------------------------*\
  #Profile Contact Info Section
\*------------------------------------*/

.tcu-profile__identity {
  margin-bottom: rem-calc($spacing-4);
  @include breakpoint(medium only) {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-left: rem-calc($spacing-4);
  }
}

.tcu-profile__pronunciation {
  figcaption {
    margin-bottom: rem-calc($spacing-half);
  }
}

.tcu-profile__contact-info {
  background: $profile-contact-info-background;
  padding: rem-calc($spacing-4);
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    clear: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include breakpoint(large) {
    clear: left;
    float: left;
    margin-top: 0;
    margin-right: 5%;
    width: $profile-img-large;
  }

  > * {
    width: 100%;
    margin-bottom: rem-calc($spacing-2);
    @include breakpoint(medium only) {
      width: 50%;
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  &,
  & a {
    color: color-pick-contrast(
      $profile-contact-info-background,
      ($profile-contact-info-font-color, $white, $text-black)
    );
  }
}

.tcu-profile__icon {
  svg {
    fill: rgba(0, 0, 0, 0);
    stroke: $white;
    stroke-width: 3px;
    vertical-align: middle;
    margin-right: rem-calc($spacing-1);
  }
}

/*------------------------------------*\
  #Profile Affiliations
\*------------------------------------*/

.tcu-profile__affiliations {
  margin-bottom: $paragraph-margin-bottom;

  @include breakpoint(large) {
    clear: left;
    float: left;
    margin-top: 0;
    margin-right: 5%;
    width: $profile-img-large;
  }

  .button-group {
    flex-direction: column;
    @include breakpoint(medium only) {
      flex-direction: row;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }
  .button {
    margin-right: 0;
    @include breakpoint(medium only) {
      margin-right: $buttongroup-spacing;
    }
  }
}

.tcu-profile__cv {
  font-size: rem-calc($profile-small-font-size);
  font-weight: bold;
  margin-bottom: $paragraph-margin-bottom;

  @include breakpoint(medium) {
    font-size: inherit;
  }
}

/*------------------------------------*\
  #Profile Interest Tags
\*------------------------------------*/

.tcu-profile__interest-tags {
  font-size: rem-calc($profile-small-font-size);
  display: flex;
  margin-bottom: $paragraph-margin-bottom;

  @include breakpoint(medium) {
    font-size: inherit;
  }

  svg {
    vertical-align: middle;
  }

  ul {
    list-style-type: none;
    margin: rem-calc(0 0 0 $spacing-1);
  }

  li {
    display: inline;
  }
}

.tcu-profile__interest-tags-icon {
  flex: 0 0 auto;
}

/*------------------------------------*\
  #Profile Bio Section
\*------------------------------------*/

.tcu-profile__bio {
  // Usually we avoid using margin-top but we want to make sure there's a little
  // extra space between the bio and any element that appears above it.
  // Since all the items above the bio are optional, we can use margin-top here
  // to make sure that there will always be an extra gap above it.
  margin-top: rem-calc($spacing-6);
}

.tcu-profile__updated {
  font-size: rem-calc($profile-small-font-size);
}

.tcu-profile__push-right {
  @include breakpoint(large) {
    margin-left: calc($profile-img-large + 5%);
  }
}
