////
/// @group Publications Feed
////

/// Background of the entire publications feed on small screens
/// @type List
$publications-feed-background-small: linear-gradient(
    133deg,
    #fafafa 25%,
    #f5f5f5 0,
    #f5f5f5 50%,
    #fafafa 0,
    #fafafa 75%,
    #f5f5f5 0,
    #f5f5f5
  )
  center center / 22px 23.59px !default;

/// Background of the entire publications feed on large screens
/// @type List
$publications-feed-background-large:
  linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 200px,
    rgba(255, 255, 255, 0) 200px,
    rgba(255, 255, 255, 0) 100%
  ),
  linear-gradient(
      133deg,
      #fafafa 25%,
      #f5f5f5 0,
      #f5f5f5 50%,
      #fafafa 0,
      #fafafa 75%,
      #f5f5f5 0,
      #f5f5f5
    )
    center center / 22px 23.59px !default;

/// Font styles for the publications feed header
/// @type Map
$publications-feed-header-font: (
  'font-size': linearClamp($large-font-size, $xlarge-font-size),
  'font-weight': 600,
) !default;

/// Font styles for the publications feed item title
/// @type Map
$publications-feed-item-title-font: (
  'font-family': $body-font-family,
  'font-weight': 700,
) !default;

/// Border properties for the publications feed
/// @type List (e.g., [border-width, border-style, border-color])
$publications-feed-border: 1px solid $black !default;

/// Radius value for the program finder separator
/// @type CSS Value
$publications-feed-border-radius: 0 !default;

/// Border properties for separator between publications
/// @type List (e.g., [border-width, border-style, border-color])
$publications-feed-item-separator: 1px solid $black !default;

/*------------------------------------*\
  #Feed
\*------------------------------------*/

.tcu-publications-feed {
  padding: $layout-padding;
  background: $publications-feed-background-small;
  @include breakpoint(large) {
    background: $publications-feed-background-large;
    padding: rem-calc($spacing-10) $layout-padding;
  }
}

.tcu-publications-feed__inner {
  background: $white;
  border: $publications-feed-border;
  border-radius: $publications-feed-border-radius;
  max-width: $component-max-width;
  margin: 0 auto;
  padding: rem-calc($spacing-4);
}

.tcu-publications-feed__header > * {
  text-align: center;
  @include setValues($publications-feed-header-font);
}

/*------------------------------------*\
  #Feed List
\*------------------------------------*/

.tcu-publications-feed__list {
  display: grid;
  list-style-type: none;
  margin: rem-calc($spacing-2 0);
  grid-template-columns: 100%;
  @include breakpoint(large) {
    margin: rem-calc($spacing-6 0);
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
}

/*------------------------------------*\
  #Feed Item
\*------------------------------------*/

.tcu-publications-feed__item {
  display: flex;
  flex-direction: column;
  border-bottom: $publications-feed-item-separator;
  padding: rem-calc($spacing-3) 0;
  min-height: rem-calc(272px);
  @include breakpoint(large) {
    border-bottom: 0;
    border-right: $publications-feed-item-separator;
    padding: rem-calc(0 $spacing-3);
  }
  &:last-child {
    border-bottom: none;
    @include breakpoint(large) {
      border-right: none;
    }
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

.tcu-publications-feed__item-header {
  flex: 1 0 auto;
}

.tcu-publications-feed__item-title {
  @include setValues($publications-feed-item-title-font);
}

.tcu-publications-feed__item-source {
  /* stylelint-disable value-no-vendor-prefix,property-no-vendor-prefix */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  /* stylelint-enable value-no-vendor-prefix,property-no-vendor-prefix */
  font-style: italic;
}

/*------------------------------------*\
  #Feed Button
\*------------------------------------*/

.tcu-publications-feed__buttons {
  justify-content: center;
  margin-bottom: 0;

  .button {
    margin-bottom: 0;
    @include breakpoint(small only) {
      width: 100%;
    }
  }
}
