////
/// @group Publications Listing
////

/// The background color of each individual publication listing
/// @type Color
$publications-listing-background: $neutral-40 !default;

/*------------------------------------*\
  # Listing
\*------------------------------------*/
.tcu-publications-listing__item {
  margin-bottom: rem-calc($spacing-2);
}

/*------------------------------------*\
  # Author Header
\*------------------------------------*/
.tcu-publications-listing__item-header {
  display: grid;
  gap: rem-calc($spacing-3);
  background: $publications-listing-background;
  color: color-pick-contrast(
    $publications-listing-background,
    ($text-black, $white)
  );
  padding: $layout-padding;
  @include breakpoint(medium) {
    gap: rem-calc($spacing-5);
    grid-template-columns: rem-calc(175px) auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'image .'
      'image .';
  }
  @include breakpoint(large) {
    padding: rem-calc($spacing-4);
    grid-template-columns: rem-calc(100px) auto min-content;
    grid-template-rows: auto;
    grid-template-areas: 'image . .';
  }
  a,
  button {
    color: color-pick-contrast(
      $publications-listing-background,
      ($text-black, $white)
    );
    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

.tcu-publications-author__image {
  justify-self: center;
  width: 157px;
  height: 157px;
  border-radius: 100%;
  overflow: hidden;
  @include breakpoint(medium) {
    width: 175px;
    height: 175px;
    grid-area: image;
  }
  @include breakpoint(large) {
    width: 100px;
    height: 100px;
  }
  img {
    width: 100%;
  }
}

.tcu-publications-author__info {
  @include breakpoint(large) {
    align-self: center;
  }
}

.tcu-publications-card__name {
  font-size: rem-calc($medium-font-size);
  font-family: $xlarge-font-family;
  font-weight: $medium-font-weight;
  line-height: get-line-height($medium-font-size);
  margin-bottom: rem-calc($spacing-1);
  @include breakpoint(medium) {
    font-size: rem-calc($large-font-size);
    font-family: $xlarge-font-family;
    font-weight: $xlarge-font-weight;
    line-height: get-line-height($large-font-size);
  }
}

.tcu-publications-card__title {
  font-size: rem-calc($hammerhead-font-size);
  font-family: $hammerhead-font-family;
  font-weight: $hammerhead-font-weight;
  line-height: get-line-height($hammerhead-font-size);
  margin-bottom: 0;
}

.tcu-publications-author__toggle {
  cursor: pointer;
  padding: $spacing-2 0;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  @include breakpoint(large) {
    align-self: center;
  }
}

/*------------------------------------*\
  # Publication List
\*------------------------------------*/
.tcu-publications-listing__item-list {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  font-size: rem-calc($xsmall-font-size);
  visibility: hidden;
  li a {
    font-style: italic;
  }
  & > * {
    padding: 0 $layout-padding;
    @include breakpoint(large) {
      padding: 0 rem-calc($spacing-8);
    }
  }
  ul {
    @include breakpoint(large) {
      margin-left: rem-calc($spacing-5);
    }
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  &.is-active {
    max-height: 600px;
    padding: $layout-padding 0;
    visibility: visible;
    @include breakpoint(medium) {
      padding: rem-calc($spacing-4) 0;
    }
  }
}

.tcu-publications-feed__item-title {
  font-size: $body-font-size;
}
