////
/// @group Pull Quote
////

/// The max width of the pull quote component
/// @type Map
$pull-quote-max-width: (
  'small': 450px,
  'large': 1128px,
) !default;

/// The the line type and color for the border around the pull quote
/// @type List
$pull-quote-border: solid $primary !default;

/// The width of the border around the pull quote
/// @type List
$pull-quote-border-width: $spacing-3 0 !default;

/// The SVG of the quotation marks at the top of the pull quote
/// @type String
$pull-quote-quote-svg: none !default;

/// The width of the SVG quotation marks at the top of the pull quote
/// @type String
$pull-quote-quote-svg-width: 78px !default;

/// The height of the SVG quotation marks at the top of the pull quote
/// @type String
$pull-quote-quote-svg-height: 72px !default;

/// Whether to use a triangle shape behind the pull quote image
/// @type Boolean
$pull-quote-triangle: false !default;

/// The color of the triangle shape behind the pull quote image
/// @type Color
$pull-quote-triangle-color: $neutral-60 !default;

/// The font color of the pull quote text
/// @type Color
$pull-quote-color: $text-black !default;

/// The font styles of the pull quote text
/// @type Map
$pull-quote-font: (
  'font-family': $small-font-family,
  'font-size': rem-calc($medium-font-size),
  'line-height': 1.4,
) !default;

/// The font styles of the pull quote credit text
/// @type Map
$pull-quote-credit-font: (
  'font-size': rem-calc($body-font-size),
  'font-style': italic,
) !default;

/*------------------------------------*\
  #Pull Quote
\*------------------------------------*/

.tcu-pull-quote {
  @include xy-grid;
  padding: rem-calc($spacing-3 $spacing-3 0);
  margin-inline: auto;
  position: relative;
  border: $pull-quote-border;
  border-width: $pull-quote-border-width;
  justify-content: center;
  @if map-get($pull-quote-max-width, 'small') {
    max-width: map-get($pull-quote-max-width, 'small');
  }

  @include breakpoint(medium) {
    @if map-get($pull-quote-max-width, 'medium') {
      max-width: map-get($pull-quote-max-width, 'medium');
    }
    padding: rem-calc($spacing-6 $spacing-6 0);
  }
  @include breakpoint(large) {
    @if map-get($pull-quote-max-width, 'large') {
      max-width: map-get($pull-quote-max-width, 'large');
    }
  }

  @if $pull-quote-triangle {
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: rem-calc($spacing-3);
      right: rem-calc($spacing-3);
      width: calc(100% - #{$spacing-3 * 2});
      height: calc(50% - #{$spacing-3 * 2});
      background: $pull-quote-triangle-color;
      z-index: -1;
      @supports (clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)) {
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
      }
      @include breakpoint(large) {
        bottom: rem-calc($spacing-6);
        right: rem-calc($spacing-6);
        width: calc(50% - #{$spacing-6});
        height: calc(100% - #{$spacing-6 * 2});
      }
    }
  }
}

/*------------------------------------*\
  #Pull Quote Text
\*------------------------------------*/

.tcu-pull-quote__text {
  margin-bottom: rem-calc($spacing-8 + $spacing-3);
  @include breakpoint(large) {
    width: 50%;
    flex-grow: 1;
    max-width: 77%;
    margin-bottom: rem-calc($spacing-8 + $spacing-6);
  }
  @if $pull-quote-quote-svg {
    &:before {
      content: '';
      display: block;
      width: $pull-quote-quote-svg-width;
      height: $pull-quote-quote-svg-height;
      background-image: $pull-quote-quote-svg;
      margin-bottom: rem-calc($spacing-3);
    }
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

.tcu-pull-quote__quote {
  @include setValues($pull-quote-font);
  color: $pull-quote-color;
  padding: 0;
  border: 0;

  // Since the quote is a blockquote element, we need to clear out the before
  // pseudo element that might be in use by the plain blockquote element
  &:before {
    content: none;
  }
}
.tcu-pull-quote__credit {
  margin-bottom: $spacing-2;
  @include setValues($pull-quote-credit-font);
}

/*------------------------------------*\
  #Pull Quote Image
\*------------------------------------*/

.tcu-pull-quote__image {
  @include flex-align-self(bottom);
  text-align: center;

  @include breakpoint(large) {
    width: 50%;
  }

  img {
    width: 75%;
  }
}
