/// Set the radius for responsive images
/// @type CSS Values
$responsive-image-radius: 0 !default;

/// Set the radius for responsive caption
/// @type CSS Values
$responsive-caption-radius: 0 !default;

/// Set the background color for responsive caption
/// @type Color
$responsive-caption-background: $neutral-60 !default;

/// Set the background color for responsive images to match caption
/// @type Color
$responsive-image-background: $responsive-caption-background !default;

/// Set the padding for responsive caption
/// @type CSS Value
$responsive-caption-padding: rem-calc($spacing-1 0);

/// Set the padding for responsive image
/// @type CSS Value
$responsive-image-padding: rem-calc($spacing-half);

/// Define map of caption font styles for responsive image
/// @type Map
$responsive-caption-font: (
  'font-size': $caption-font-size,
  'font-weight': $caption-font-weight,
  'font-family': $caption-font-family,
  'font-style': italic,
) !default;

.tcu-responsive-image {
  margin-bottom: $paragraph-margin-bottom;
  img {
    width: 100%;
    border-radius: $responsive-image-radius;
  }
}

.tcu-responsive-image.tcu-inset {
  @include breakpoint(medium) {
    max-width: 40%;
  }
}

.tcu-responsive-image.has-caption {
  background: $responsive-image-background;
  padding: $responsive-image-padding;

  img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  figcaption {
    @include setValues($responsive-caption-font);
    background: $responsive-caption-background;
    border-radius: $responsive-caption-radius;
    text-align: center;
    padding: $responsive-caption-padding;
    color: color-pick-contrast(
      $responsive-caption-background,
      ($text-black, $white)
    );
  }
}
