////
/// @group Results Listing
////

/*------------------------------------*\
  #Results Listing
\*------------------------------------*/

.tcu-results-listing {
  ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  // Grouped listings
  &._grid h2 {
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  // When two groups are next to each other, add a top margin
  // The grid list does not need a margin since it already has so much space
  // between rows
  &._list + & {
    margin-top: rem-calc($spacing-10);
  }

  // Cards within the grid listing
  .tcu-directory-card[value='grid'] {
    flex-basis: 97%;
    max-width: 97%;
    margin: 0 1.5% 5%;

    @include breakpoint(medium) {
      flex-basis: 100%;
      max-width: 100%;
    }

    @include breakpoint(large) {
      flex-basis: 22%;
      max-width: 22%;
    }
  }

  // Cards within the list listing
  .tcu-directory-card[value='list'] {
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: rem-calc($spacing-2);
  }
}
