////
/// @group Results Filter
////

/// The border that divides the results filters from the directory list
/// @type List
$results-filter-border: 1px solid $neutral-80 !default;

/// The background color of the results filter submit button
/// @type Color
$results-filter-form-button-background: $secondary !default;

/// The text color of the results filter submit button
/// @type Color
$results-filter-form-button-color: $neutral-80 !default;

/// The hover background color of the results filter submit button
/// @type Color
$results-filter-form-button-hover-background: $neutral-80 !default;

/// The hover text color of the results filter submit button
/// @type Color
$results-filter-form-button-hover-color: $white !default;

/// The style of the results filter submit button
/// @type String
$results-filter-form-button-style: solid !default;

/// The color of the text for the view grid and view list selector
/// @type Color
$results-filter-view-selector-active-color: $primary !default;

/*------------------------------------*\
  #Results Filter
\*------------------------------------*/

/**
 * The results filter of the Faculty and Staff Directory
 */

.tcu-results-filter {
  display: block;
  margin: 0 0 rem-calc($spacing-2);
  text-align: center;
  border-bottom: $results-filter-border;

  @include breakpoint(medium) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: rem-calc($spacing-6);
    border-bottom: 0;
  }

  &._no-filters {
    @include breakpoint(medium) {
      border-bottom: $results-filter-border;
    }
  }

  p {
    margin-bottom: 0;
  }
}

.tcu-results-filter ._label,
.tcu-results-filter ._label button {
  font-weight: bold;
  text-transform: uppercase;
}

.tcu-results-filter .tcu-down-arrow {
  margin-left: rem-calc($spacing-1);
}

// Change order for medium up
@include breakpoint(medium) {
  .tcu-results-filter__heading {
    order: 0;
  }
  .tcu-results-filter__menu-trigger {
    order: 1;
  }
  .tcu-view-selector {
    order: 1;
  }
  .tcu-results-filter__list {
    order: 2;
  }
}

/*------------------------------------*\
  #Results Filter Menu Trigger
\*------------------------------------*/
.tcu-results-filter__menu-trigger {
  padding: rem-calc($spacing-3 $spacing-5);
  width: 100%;
  text-align: left;
  border-bottom: $results-filter-border;
  @include breakpoint(medium) {
    width: 50%;
    border-bottom: 0;
    padding: rem-calc($spacing-3 0);
    text-align: center;
  }
  @include breakpoint(large) {
    width: 18%;
  }
  .tcu-down-arrow {
    transition: transform 300ms ease;
  }
  &._is-active {
    .tcu-down-arrow {
      transform: rotate(180deg);
    }
  }
}

/*------------------------------------*\
  #Results Filter Search Form
\*------------------------------------*/
// This is the wrapper around the search form
// I know it says heading, but bear with me
.tcu-results-filter__heading {
  @include breakpoint(medium) {
    width: 100%;
  }
  @include breakpoint(large) {
    width: 50%;
  }
}
.tcu-results-filter__search {
  margin: rem-calc($spacing-3);
  @include breakpoint(medium) {
    display: flex;
    max-width: 88%;
  }
  /* stylelint-disable selector-no-qualifying-type -- the directory currently has no classes for these buttons */
  input[type='search'] {
    margin-bottom: rem-calc($spacing-1);
    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }

  input[type='submit'] {
    @include button(
      true,
      $results-filter-form-button-background,
      $results-filter-form-button-hover-background,
      $results-filter-form-button-color,
      $results-filter-form-button-style
    );
    margin-bottom: 0;
    font-family: $body-font-family;
    font-size: $body-font-size;
    @include breakpoint(medium) {
      width: auto;
      flex: 0 1 auto;
      padding: rem-calc($spacing-1 $spacing-2);
    }
  }

  input[type='submit']:hover,
  input[type='submit']:focus {
    color: $results-filter-form-button-hover-color;
  }
  /* stylelint-enable selector-no-qualifying-type */
}

/*------------------------------------*\
  #Results Filter View Selector
\*------------------------------------*/
.tcu-view-selector {
  display: flex;
  @include breakpoint(medium) {
    width: 50%;
  }
  @include breakpoint(large) {
    width: 32%;
  }
}
.tcu-view-selector__option {
  width: 50%;
  @include breakpoint(large) {
    display: flex;
  }
  button {
    padding: rem-calc($spacing-3 0);
    width: 100%;
  }
  .active {
    color: $results-filter-view-selector-active-color;
  }
}
