/*------------------------------------*\
  #Sidebar Menu
\*------------------------------------*/

.tcu-sidebar-menu {
  background-color: $white;
  margin-block-end: $spacing-3;
  a {
    color: $text-black;
    display: block;
    padding: 0;
    text-decoration: none;
  }
}
.tcu-sidebar-menu__items {
  display: block;
  margin-inline-start: 0;
}

.tcu-sidebar__submenu {
  position: relative;
}

.tcu-sidebar-menu [aria-hidden='true'] {
  display: none;
}

/*------------------------------------*\
  #Sidebar Menu Title
\*------------------------------------*/
.tcu-sidebar-menu__title-wrapper {
  border-bottom: 10px solid $primary;
  margin: 0;
  padding: 0 0 0.5em;

  // We position this as relative because we
  // are adding the arrows as absolute
  position: relative;

  .tcu-sidebar-menu__arrow {
    height: 55px;
    @include breakpoint(large) {
      display: none;
    }
  }
}

.tcu-sidebar-menu__title {
  margin: 0;
  a {
    font-family: $medium-font-family;
    font-size: $small-font-size;
    font-weight: normal;
    padding: 0;
  }
}

/*------------------------------------*\
  #Arrow Buttons
\*------------------------------------*/
.tcu-sidebar-menu__arrow {
  height: 63px;
  width: 55px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  transform-origin: center;
  transform: rotate(180deg);

  svg {
    fill: $text-black;
    transform: scale(1.3, 1.3);
  }
}

.tcu-sidebar-menu__arrow[aria-expanded='false'] {
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
  transform-origin: center;
}

/*------------------------------------*\
  #Hyperlinks and List Styles
\*------------------------------------*/
.tcu-sidebar-menu__items {
  .current-page-item > a {
    font-weight: bold;
  }
  li {
    border-block-end: 1px solid $neutral-60;
    list-style: none;
    a {
      padding-block: $spacing-2;
    }
  }
}

.tcu-sidebar__submenu {
  .tcu-sidebar__submenu-items {
    margin-inline-start: $spacing-4;
    a {
      padding-block: $spacing-2;
    }
    li {
      border-block-end: none;
      .tcu-sidebar-menu__arrow {
        height: 40px; // To make sure the arrow button is centered
      }
    }
    li a {
      color: $text-black;
      padding: rem-calc($spacing-half);
    }

    ul li {
      color: $text-black;
    }
    li:last-child {
      padding-block-end: $spacing-2;
    }
    // Ensures nested menu doesn't have the padding at the end
    .tcu-sidebar__submenu-items {
      li:last-child {
        padding: 0;
      }
    }
  }
}
