////
/// @group Sidebar Feature
////

/// The background color of the grey sidebar feature
/// @type Color
$sidebar-feature-grey-bg: $neutral-60 !default;

/// The background color of the purple sidebar feature
/// @type Color
$sidebar-feature-purple-bg: $primary !default;

/// The border below the sidebar feature title
/// @type Boolean
$sidebar-feature-title-border: none !default;

/// The font styles of the sidebar feature
/// @type Map
$sidebar-feature-title-font: (
  'font-family': $small-font-family,
  'font-weight': $small-font-weight,
  'font-size': rem-calc($medium-font-size),
) !default;

/// The padding around the sidebar feature content area
/// @type Number
$sidebar-feature-content-padding: rem-calc($spacing-5) !default;

/// The alignment of the sidebar feature button if different from the image card
/// @type String
$sidebar-feature-button-alignment: center !default;

/*------------------------------------*\
  #Sidebar Feature - Grey
\*------------------------------------*/

.tcu-image-card--sidebar {
  background: $sidebar-feature-grey-bg;
  color: color-pick-contrast(
    $sidebar-feature-grey-bg,
    ($white, $text-black),
    1
  );
  .tcu-image-card__content {
    padding: $sidebar-feature-content-padding;
  }

  .tcu-image-card__title {
    margin-bottom: rem-calc($spacing-3);
    color: color-pick-contrast(
      $sidebar-feature-grey-bg,
      ($white, $text-black),
      1
    );
    .h2 {
      @include setValues($sidebar-feature-title-font);
    }
  }

  @if $sidebar-feature-button-alignment {
    .tcu-image-card__button {
      text-align: $sidebar-feature-button-alignment;
    }
  }

  @if $sidebar-feature-title-border != none {
    .tcu-image-card__title ~ .tcu-image-card__description {
      padding-top: rem-calc($spacing-5);
      border-top: $sidebar-feature-title-border;
    }
  }
}

/*------------------------------------*\
  #Sidebar Feature - Purple
\*------------------------------------*/

.tcu-image-card--sidebar._purple {
  background: $sidebar-feature-purple-bg;
  color: color-pick-contrast($sidebar-feature-purple-bg, ($text-black, $white));
  @if $button-fill == 'hollow' {
    @include buttonColor($sidebar-feature-purple-bg);
  }

  .tcu-image-card__title {
    color: color-pick-contrast($sidebar-feature-purple-bg, ($primary, $white));
  }

  .tcu-image-card__title ~ .tcu-image-card__description {
    border-color: color-pick-contrast(
      $sidebar-feature-purple-bg,
      ($white, $text-black)
    );
  }
}
