////
/// @group Site Name
////

/// The font sizes of the site name hammerhead
/// @type Map
$site-name-hammerhead-font-size: (
  'small': rem-calc($hammerhead-font-size),
  'medium': rem-calc($hammerhead-font-size),
  'large': rem-calc($body-font-size),
) !default;

/// The font family of the site name hammerhead
/// @type String
$site-name-hammerhead-font-family: $xsmall_font_family !default;

/// The font weight of the site name hammerhead
/// @type String
$site-name-hammerhead-font-weight: $xsmall_font_weight !default;

/// The font sizes of the site name
/// @type Map
$site-name-font-size: (
  'small': rem-calc($body_font_size),
  'medium': rem-calc($small-font-size),
  'large': rem-calc($large-font-size),
) !default;

/// The font family of the site name hammerhead
/// @type String
$site-name-font-family: $xlarge_font_family !default;

/// The font weight of the site name hammerhead
/// @type String
$site-name-font-weight: $xlarge_font_weight !default;

/// The text color of the site name component
/// @type Color
$site-name-text-color: $text-black !default;

/*------------------------------------*\
  #Site Name Wrapper
\*------------------------------------*/

.tcu-site-name {
  padding: $spacing-2 $layout-padding;
  text-wrap: balance;

  @include breakpoint(medium) {
    padding: $spacing-4 $layout-padding;
  }

  @include breakpoint(large) {
    padding: $spacing-7 $layout-padding;
  }

  a {
    text-decoration: none;
    color: $site-name-text-color;
  }
}

/*------------------------------------*\
  #Site Name Hammerhead
\*------------------------------------*/
// The hammerhead shows up on department sites or microsites.
// It's a way for the user to get back to the parent site.

.tcu-site-name__hammerhead {
  margin: 0;
  font-size: map-get($site-name-hammerhead-font-size, 'small');
  font-family: $site-name-hammerhead-font-family;
  font-weight: $site-name-hammerhead-font-weight;
  line-height: get-line-height($xlarge-font-size);

  @include breakpoint(medium) {
    font-size: map-get($site-name-hammerhead-font-size, 'medium');
  }

  @include breakpoint(large) {
    font-size: map-get($site-name-hammerhead-font-size, 'large');
  }
}

.tcu-site-name__hammerhead:after {
  content: '';
  background: $site-name-text-color;
  height: 1px;
  margin: $spacing-1 0;
  width: 260px;
  display: block;
}

/*------------------------------------*\
  #Site Name
\*------------------------------------*/

.tcu-site-name__heading {
  margin: 0;
  font-size: map-get($site-name-font-size, 'small');
  font-family: $site-name-font-family;
  font-weight: $site-name-font-weight;
  line-height: get-line-height($xlarge-font-size);

  @include breakpoint(medium) {
    font-size: map-get($site-name-font-size, 'medium');
  }

  @include breakpoint(large) {
    font-size: map-get($site-name-font-size, 'large');
  }
}
