////
/// @group Skip Nav
////

// For consistency

/// The bacground color of the skip nav button
/// @type Color
$skip-nav-background: #eee !default;

/// The text color of the skip nav button
/// @type Color
$skip-nav-color: #4d1979 !default;

/// The font size of the skip nav button
/// @type Number
$skip-nav-font-size: 14px !default;

/*------------------------------------*\
  #Skip Nav
\*------------------------------------*/
// An accessibility element that give users the ability to skip the navigation
// and get straight to the main content of the site

.tcu-skip-nav {
  position: absolute;
  right: rem-calc($spacing-1);
  top: rem-calc($spacing-10);

  @include breakpoint(medium) {
    right: rem-calc($spacing-2);
    top: rem-calc(200px);
  }

  &:focus {
    /* stylelint-disable declaration-no-important -- important to overide foundation styles*/
    position: absolute !important;
    background: $skip-nav-background;
    clip: auto;
    color: $skip-nav-color;
    display: block;
    font-size: rem-calc($skip-nav-font-size);
    font-weight: bold;
    height: auto !important;
    left: rem-calc($spacing-1);
    line-height: normal;
    padding: rem-calc($spacing-2 $spacing-3 $spacing-2) !important;
    text-align: center;
    text-decoration: none;
    top: rem-calc($spacing-1);
    width: rem-calc(230px) !important;
    z-index: 100000;
    /* stylelint-enable declaration-no-important */
  }
}
