////
/// @group Slider
////

/// The right facing arrow for the slider
/// @type String
$slider-arrow-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='48' fill='none'%3E%3Cpath fill='%234D1979' d='M27.311 19.749 9.855 1.744a5.65 5.65 0 0 0-8.164 0c-2.255 2.325-2.255 6.096 0 8.421L15.102 24 1.691 37.835c-2.255 2.325-2.255 6.096 0 8.421a5.65 5.65 0 0 0 8.164 0l17.456-18.005A6.034 6.034 0 0 0 29 24.001a6.036 6.036 0 0 0-1.689-4.252Z'/%3E%3C/svg%3E") !default;

/// The width of the arrow for the slider
/// @type Number
$slider-arrow-svg-width: 29px !default;

/// The height of the arrow for the slider
/// @type Number
$slider-arrow-svg-height: 48px !default;

/// The default dot background color for the slider
/// @type Color
$slider-dot-color: $neutral-40 !default;

/// The selected dot background color for the slider
/// @type Color
$slider-dot-selected-color: $primary !default;

/*------------------------------------*\
  #Slider
\*------------------------------------*/
// Eventually we could update this to apply the slider to different screen sizes
// but for now it only supports small only

// Slider Small Only styles when the page includes a sidebar.
.tcu-maincontent.large-8 .slider-for-small-only {
  @include breakpoint(large) {
    margin-inline: 0;
  }
}

.slider-for-small-only {
  // Add Flickity
  &:after {
    content: 'flickity';
    display: none;

    @include breakpoint(medium) {
      content: '';
    }
  }
}

.slider-for-small-only {
  margin-inline: rem-calc($slider-arrow-svg-width + $spacing-1);

  /*------------------------------------*\
    #Flickity Wrappers
  \*------------------------------------*/

  .flickity-viewport {
    width: 100%;
    margin-block-end: rem-calc($spacing-2);
  }

  .flickity-slider > .cell {
    margin-inline-end: rem-calc($global-margin);
  }

  /*------------------------------------*\
    #Flickity Buttons and Dots
  \*------------------------------------*/

  .flickity-button {
    background-image: $slider-arrow-svg;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    margin: 0;
    border-radius: 0;
    width: rem-calc($slider-arrow-svg-width);
    height: rem-calc($slider-arrow-svg-height);
  }

  .flickity-button.next {
    right: rem-calc(-$spacing-1);
    translate: 100%;
  }

  .flickity-button.previous {
    translate: -100% -100%;
    rotate: 180deg;
    left: rem-calc(-$spacing-1);
  }

  .flickity-page-dots {
    position: static;

    .dot {
      background: $slider-dot-color;
      opacity: 1;
      margin: rem-calc(0 $spacing-half);
      width: rem-calc($spacing-2);
      height: rem-calc($spacing-2);
    }

    .dot.is-selected {
      background: $slider-dot-selected-color;
    }
  }
}
