////
/// @group Spinner
////

/*------------------------------------*\
  #Spinner
\*------------------------------------*/

/**
 * Loading animation from SpinKit
 * https://github.com/tobiasahlin/SpinKit
 * Used on the Faculty & Staff Directory
 */

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: rem-calc($spacing-1);
}

.spinner > div {
  background-color: $white;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  opacity: 0.5;
}

.spinner .rect2 {
  animation-delay: -1.1s;
}

.spinner .rect3 {
  animation-delay: -1s;
}

.spinner .rect4 {
  animation-delay: -0.9s;
}

.spinner .rect5 {
  animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
