/// Border properties for the sub head
/// @type List (e.g., [border-width, border-style, border-color])
$sub-head-border: 3px solid $black !default;

/// Font styles for the sub head
/// @type Map
$sub-head-font: (
  'font-family': $hammerhead-font-family,
  'font-size': $hammerhead-font-size,
  'font-weight': $hammerhead-font-weight,
) !default;

/*------------------------------------*\
  #Sub Head
\*------------------------------------*/

.tcu-sub-head {
  @include setValues($sub-head-font);
  padding-top: $spacing-1;
  display: inline-block;
  border-top: $sub-head-border;
}
