@use 'sass:color';
// ////
// /// @group Tabcordions
// ////

/// Breakpoint for when the tabcordion changes from small to large version
/// @type Number
$tabcordion-breakpoint: 1000px !default;

/// Background color for the tabcordion header. It's used to seperate
/// the header from the tabcordion background color
/// @type Color
$tabcordion-header-background-color: $white !default;

/// The margin for the tabcordion header
/// @type Map
$tabcordion-header-margin: (
  'small': 0,
  'large': 0,
) !default;

/// The padding for the tabcordion wrapper
/// @type Map
$tabcordion-wrapper-padding: (
  'small': 0,
  'large': 0,
) !default;

/// The margin between tabs vertically on small screens and horizontally on large screens
/// @type Map
$tabcordion-tab-gap: (
  'small': rem-calc($spacing-1),
  'large': rem-calc($spacing-half),
) !default;

/// The background image for the arrow
/// @type Image
$tabcordion-tab-arrow-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-77 10 20 11'%3E%3Cpath fill='%23' d='m-58.7 10.3-8.3 8.3-8.3-8.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l9 9c.4.4 1 .4 1.4 0l9-9c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z'/%3E%3C/svg%3E") !default;

/// Font settings for the tabs
/// @type Map
$tabcordion-tab-font: (
  'font-family': $body-font-family,
  'font-weight': bold,
  'text-transform': uppercase,
  'font-size': $hammerhead-font-size,
) !default;

/// The border around the tabs
/// @type Map
$tabcordion-tab-border: (
  'small': 1px solid $neutral-40,
  'large': 1px solid $neutral-40,
) !default;

/// Tabcordion tab text color
/// @type Map
$tabcordion-tab-color: (
  'small': $primary,
  'large': $primary,
) !default;

/// Background color for the Tabcordion tab
/// @type Map
$tabcordion-tab-background-color: (
  'small': $neutral-40,
  'large': $neutral-40,
) !default;

/// Hover Tabcordion tab text color
/// @type Map
$tabcordion-tab-hover-color: (
  'small': $primary,
  'large': $primary,
) !default;

/// Hover background color for the Tabcordion tab
/// @type Map
$tabcordion-tab-hover-background-color: (
  'small': color.scale($neutral-40, $lightness: -25%),
  'large': color.scale($neutral-40, $lightness: -25%),
) !default;

/// The border around an active tab
/// @type Map
$tabcordion-active-tab-border: (
  'small': 1px solid $neutral-40,
  'large': 1px solid $neutral-40,
) !default;

/// Text color for the active tabcordion tab
/// @type Map
$tabcordion-active-tab-color: (
  'small': $black,
  'large': $black,
) !default;

/// Background color for the active tabcordion tab
/// @type Map
$tabcordion-active-tab-background-color: (
  'small': $white,
  'large': $white,
) !default;

/// Border for the wrapping div around the tabcordion tabs on large screens
/// @type List
$tabcordion-tab-section-border: 1px solid $neutral-40 !default;

/// The padding around the tabcordion content
/// @type Map
$tabcordion-content-padding: (
  'small': 1em 0,
  'large': 1em 0,
) !default;

/// The border width around the tabcordion content
/// @type Map
$tabcordion-content-border-width: (
  'small': 0,
  'large': 0 0 1px,
) !default;

/// The styles tabcordion overall tabs [E.g. "border-radius", "justify-content", etc.]
/// @type Map
$tabcordion-tab-configurations: () !default;

/// The margin around the tabcordion content
/// @type Map
$tabcordion-content-margin: (
  'small': 0,
  'large': 0,
) !default;

/// The border color around the tabcordion content
/// @type Map
$tabcordion-content-border-color: (
  'small': transparent,
  'large': $black,
) !default;

/// The border radius around the tabcordion content
/// @type Map
$tabcordion-content-border-radius: (
  'small': 0,
  'large': 0,
) !default;

/*------------------------------------*\
  #Tabcordion
\*------------------------------------*/

.tcu-tabcordion {
  margin-bottom: $paragraph-margin-bottom;
}

/*------------------------------------*\
  #Tabcordion Header
\*------------------------------------*/

.tcu-tabcordion__header {
  background: $tabcordion-header-background-color;
  padding: rem-calc(0 $spacing-3 $spacing-3);
  text-align: center;
  @include breakpoint($tabcordion-breakpoint down) {
    margin: map-get($tabcordion-header-margin, small);
  }
  @include breakpoint($tabcordion-breakpoint) {
    margin: map-get($tabcordion-header-margin, large);
  }
}

// General show/hide for tabcordion tab panels
.tcu-tabcordion__item {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  opacity: 0;

  &.is-visible {
    visibility: visible;
    height: auto;
    opacity: 1;
    padding: map-get($tabcordion-content-padding, small);
    @include breakpoint($tabcordion-breakpoint) {
      padding: map-get($tabcordion-content-padding, large);
    }
  }
}

.tcu-tabcordion__content {
  & > *:last-child {
    margin-bottom: 0;
  }
}

/*------------------------------------*\
  #Tabcordion Mixin
\*------------------------------------*/
@mixin tabcordion-tab($size) {
  $tabcordion-tab-border: map-get($tabcordion-tab-border, $size);
  $tabcordion-tab-color: map-get($tabcordion-tab-color, $size);
  $tabcordion-tab-hover-color: map-get($tabcordion-tab-hover-color, $size);
  $tabcordion-tab-background-color: map-get(
    $tabcordion-tab-background-color,
    $size
  );
  $tabcordion-tab-hover-background-color: map-get(
    $tabcordion-tab-hover-background-color,
    $size
  );

  $tabcordion-active-tab-border: map-get($tabcordion-active-tab-border, $size);
  $tabcordion-active-tab-color: map-get($tabcordion-active-tab-color, $size);
  $tabcordion-active-tab-background-color: map-get(
    $tabcordion-active-tab-background-color,
    $size
  );

  @include setValues($tabcordion-tab-font);
  background: $tabcordion-tab-background-color;
  color: $tabcordion-tab-color;
  border: $tabcordion-tab-border;

  &[aria-expanded='true'] {
    background: $tabcordion-active-tab-background-color;
    color: $tabcordion-active-tab-color;
    border: $tabcordion-active-tab-border;

    // This is to prevent the text from moving around or a double borders from the tab section border
    @if $size ==
      large and
      $tabcordion-active-tab-border !=
      none and
      $tabcordion-tab-section-border !=
      none
    {
      border-bottom-color: $tabcordion-active-tab-background-color;
    }
  }

  &:hover {
    background: $tabcordion-tab-hover-background-color;
    color: $tabcordion-tab-hover-color;
    border-color: $tabcordion-tab-hover-background-color;
  }
}

/*------------------------------------*\
  #Tabcordion - Small
\*------------------------------------*/

@include breakpoint($tabcordion-breakpoint down) {
  $tabcordion-tab-gap: map-get($tabcordion-tab-gap, small);
  $tabcordion-content-border-width: map-get(
    $tabcordion-content-border-width,
    small
  );
  $tabcordion-content-border-color: map-get(
    $tabcordion-content-border-color,
    small
  );

  .tcu-tabcordion__tab {
    @include tabcordion-tab(small);
    @include setValues($tabcordion-tab-configurations);
    text-align: center;
    width: 100%;
    margin-bottom: $tabcordion-tab-gap;
    padding: rem-calc($spacing-2);
    transition:
      background-color 0.25s ease-out,
      border 0.25s ease-out,
      color 0.25s ease-out;
  }
  .tcu-tabcordion__wrapper {
    padding: map-get($tabcordion-wrapper-padding, small);
  }

  @if $tabcordion-tab-arrow-image !=
    none and
    $tabcordion-tab-arrow-image !=
    false
  {
    .tcu-tabcordion__tab {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .tcu-tabcordion__wrapper {
      [aria-expanded] {
        span {
          display: inline-block;
          background-image: $tabcordion-tab-arrow-image;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center center;
          width: rem-calc(20px);
          height: rem-calc(20px);
          vertical-align: middle;
          margin-left: rem-calc($spacing-1);
          transition: transform 0.25s ease-out;
        }
      }
      [aria-expanded][aria-expanded='true'] {
        span {
          transform: rotate(180deg);
        }
      }
    }
  }

  @if $tabcordion-content-border-width !=
    0 or
    $tabcordion-content-border-width !=
    none
  {
    .tcu-tabcordion__item.is-visible {
      border-style: solid;
      border-width: $tabcordion-content-border-width;
      border-color: $tabcordion-content-border-color;
      border-radius: map-get($tabcordion-content-border-radius, small);
      margin: map-get($tabcordion-content-margin, small);
    }
  }
}

/*------------------------------------*\
  #Tabcordion - Large
\*------------------------------------*/

@include breakpoint($tabcordion-breakpoint) {
  $tabcordion-tab-gap: map-get($tabcordion-tab-gap, large);
  $tabcordion-content-border-width: map-get(
    $tabcordion-content-border-width,
    large
  );
  $tabcordion-content-border-color: map-get(
    $tabcordion-content-border-color,
    large
  );
  $tabcordion-content-padding: map-get($tabcordion-content-padding, large);

  .tcu-tabcordion__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: $tabcordion-tab-section-border;
    gap: $tabcordion-tab-gap;
    padding: map-get($tabcordion-wrapper-padding, large);
  }

  .tcu-tabcordion__tab {
    @include tabcordion-tab(large);
    @include setValues($tabcordion-tab-configurations);
    padding: rem-calc($spacing-2);
    flex: 1 1 auto;
    position: relative;
    transition: color 0.25s ease-out;
  }

  .tcu-tabcordion__item.is-visible {
    border-style: solid;
    border-width: $tabcordion-content-border-width;
    border-color: $tabcordion-content-border-color;
    border-radius: map-get($tabcordion-content-border-radius, large);
    margin: map-get($tabcordion-content-margin, large);
  }

  .tcu-tabcordion__content {
    transition: 0.25s ease-out;
    opacity: 0;
    transform: translateY(15px);
  }
  .is-visible .tcu-tabcordion__content {
    opacity: 1;
    transform: translateY(0);
  }
}
