@use 'sass:list';

////
/// @group Title Card
////

/// Enable/Disable purple version of the title card
/// @type Boolean
$title-card-purple: true !default;

/// The background color of the purple version of the title card
/// @type Color
$title-card-purple-color: $primary !default;

/// Enable/Disable grey version of the title card
/// @type Boolean
$title-card-grey: true !default;

/// The background color of the grey version of the title card
/// @type Color
$title-card-grey-color: $neutral-60 !default;

/// Enable/Disable background image version of the title card
/// @type Boolean
$title-card-background-image: true !default;

/// Enable/Disable image version of the title card
/// @type Boolean
$title-card-image: true !default;

/// Enable/Disable large button version of the title card
/// @type Boolean
$title-card-large-button: true !default;

/// Enable/Disable video styles for the title card
/// @type Boolean
$title-card-video: true !default;

/// Border around the title card
/// @type List
$title-card-border: 1px solid $neutral-80 !default;

/// Map of font styles for the title card
/// @type Map
$title-card-font: () !default;

/// Map of hammerhead font styles for the title card
/// @type Map
$title-card-hammerhead-font: () !default;

/// Map of header font styles for the title card
/// @type Map
$title-card-header-font: (
  'font-family': $large-font-family,
  'font-size': $large-font-size,
  'font-weight': 700,
) !default;

/// Map of aspect ratios for the title card left/right images
/// @type Map
$title-card-image-aspect-ratios: (
  'small': list.slash(320, 200),
  'medium': list.slash(750, 400),
  'large': list.slash(750, 600),
) !default;

/// Default background for the large button title card
/// @type Color
$title-card-three-button-background: #fafafa !default;

/// Media query map of padding for the large button title card
/// @type Map
$title-card-three-button-padding: (
  'small': $spacing-7 $spacing-4,
  'medium': 138px 13.8vw,
  'large': 111px 7% 140px,
  'xlarge': 111px 14.16% 140px,
) !default;

/// Enable/Disable the background image on mobile for the large button title card
/// @type Boolean
$title-card-three-button-small-bg: true !default;

/// The overlay background on small screens for the large button title card
/// @type Color
$title-card-three-button-overlay-small: rgba(77, 25, 121, 0.7) !default;

/// The overlay background on large screens for the large button title card
/// @type Color
$title-card-three-button-overlay-large: $title-card-three-button-overlay-small !default;

/*------------------------------------*\
  #Title Card
\*------------------------------------*/

.tcu-title-card {
  @include setValues($title-card-font);
  position: relative;
  .button-group {
    .button {
      @include breakpoint('large') {
        width: fit-content;
      }
    }
    @include breakpoint(small only) {
      @include button-group-stack('.button');
    }
  }
}

.tcu-title-card__hammerhead {
  @include setValues($title-card-hammerhead-font);
}

.tcu-title-card__headline {
  @include setValues($title-card-header-font);
}

.tcu-title-card__content {
  padding: rem-calc($spacing-4);
  position: relative;
  z-index: 1;
  > :last-child {
    margin-bottom: 0;
  }
}

.tcu-title-card__image img {
  max-width: 100%;
}

.tcu-title-card._default {
  border: $title-card-border;
}

/*------------------------------------*\
  #Title Card with Image
\*------------------------------------*/

@if $title-card-image {
  $medium-container: 767px;
  $large-container: 950px;
  $xlarge-container: 1200px;

  .tcu-title-card._image:has(.tcu-title-card__inner) {
    container: titlecard / inline-size;

    .tcu-title-card__inner {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      @container titlecard (width > #{$large-container}) {
        flex-wrap: nowrap;
        min-height: rem-calc(600px);
      }
    }

    &:after {
      @container titlecard (width > #{$medium-container}) {
        content: '';
        display: block;
        position: absolute;
        top: rem-calc($spacing-4);
        bottom: rem-calc($spacing-4);
        border: 3px solid $primary;
        z-index: 1;
      }
    }

    .tcu-title-card__content {
      flex: 1 1 100%;
      padding: rem-calc($spacing-2);

      @container titlecard (width > #{$medium-container}) {
        padding: rem-calc($spacing-4 $spacing-4 * 2 $spacing-4 * 2);
        position: relative;
        z-index: 2;
      }
      @container titlecard (width > #{$large-container}) {
        flex: 1 1 50%;
        margin: rem-calc($spacing-4);
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      @container titlecard (width > #{$xlarge-container}) {
        padding-left: rem-calc($spacing-4 * 1.5);
        padding-right: rem-calc($spacing-4 * 1.5);
      }
    }
    .tcu-title-card__image {
      flex: 1 1 100%;
      overflow: hidden;
      margin: 0;
      @container titlecard (width > #{$large-container}) {
        flex: 1 1 50%;
      }
      img {
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: transform 300ms linear;
        object-fit: cover;
        aspect-ratio: map-get($title-card-image-aspect-ratios, 'small');
        @container titlecard (width > #{$medium-container}) {
          aspect-ratio: map-get($title-card-image-aspect-ratios, 'medium');
        }
        @container titlecard (width > #{$large-container}) {
          aspect-ratio: map-get($title-card-image-aspect-ratios, 'large');
        }
      }
    }
    // Animations
    html:not(.reduced-motion) &:hover {
      .tcu-title-card__image img {
        transform: scale(1.025);
      }
    }
  }

  // Image right
  .tcu-title-card._image-right:has(.tcu-title-card__inner) {
    .tcu-title-card__image {
      @container titlecard (width > #{$large-container}) {
        order: 1;
      }
    }
    &:after {
      left: 25px;
      right: 25px;
      @container titlecard (width > #{$large-container}) {
        left: 1px;
        right: rem-calc($spacing-4);
      }
    }
  }

  // Image left
  .tcu-title-card._image-left:has(.tcu-title-card__inner) {
    &:after {
      left: 25px;
      right: 25px;
      @container titlecard (width > #{$large-container}) {
        left: rem-calc($spacing-4);
        right: 1px;
      }
    }
  }
}

/*------------------------------------*\
  #Title Card with Image - MIGRATION
\*------------------------------------*/

@if $title-card-image {
  .tcu-title-card._image:not(:has(.tcu-title-card__inner)) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @include breakpoint(large) {
      flex-wrap: nowrap;
    }

    &:after {
      @include breakpoint(medium) {
        content: '';
        display: block;
        position: absolute;
        top: rem-calc($spacing-4);
        bottom: rem-calc($spacing-4);
        border: 3px solid $primary;
        z-index: 1;
      }
    }

    .tcu-title-card__content {
      flex: 1 1 100%;
      padding: rem-calc($spacing-2);

      @include breakpoint(medium) {
        padding: rem-calc($spacing-4 $spacing-4 * 1.5 $spacing-4 * 1.5);
        position: relative;
        z-index: 2;
      }
      @include breakpoint(large) {
        flex: 1 1 50%;
        margin: rem-calc($spacing-4);
        padding-left: 0;
        padding-right: 0;
      }
      @include breakpoint(xlarge) {
        padding-left: rem-calc($spacing-4 * 1.5);
        padding-right: rem-calc($spacing-4 * 1.5);
      }
    }
    .tcu-title-card__image {
      flex: 1 1 100%;
      overflow: hidden;
      margin: 0;
      @include breakpoint(large) {
        display: flex;
        flex: 1 1 50%;
      }
      img {
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: transform 300ms linear;
        object-fit: cover;
        aspect-ratio: map-get($title-card-image-aspect-ratios, 'small');
        @include breakpoint(medium) {
          aspect-ratio: map-get($title-card-image-aspect-ratios, 'medium');
        }
        @include breakpoint(large) {
          aspect-ratio: map-get($title-card-image-aspect-ratios, 'large');
        }
      }
    }
    // Animations
    html:not(.reduced-motion) &:hover {
      .tcu-title-card__image img {
        transform: scale(1.025);
      }
    }
  }

  // Image right
  .tcu-title-card._image-right:not(:has(.tcu-title-card__inner)) {
    .tcu-title-card__image {
      @include breakpoint(large) {
        order: 1;
      }
    }
    &:after {
      left: 25px;
      right: 25px;
      @include breakpoint(large) {
        left: 1px;
        right: rem-calc($spacing-4);
      }
    }
  }

  // Image left
  .tcu-title-card._image-left:not(:has(.tcu-title-card__inner)) {
    &:after {
      left: 25px;
      right: 25px;
      @include breakpoint(large) {
        left: rem-calc($spacing-4);
        right: 1px;
      }
    }
  }
}

/*------------------------------------*\
  #Title Card Background Colors
\*------------------------------------*/

@if $title-card-grey or $title-card-purple {
  .tcu-title-card:where(._grey, ._purple) {
    background-color: $title-card-purple-color;
    color: $white;
    border: 0;

    &._image:after {
      content: none;
    }
  }
}

@if $title-card-grey {
  .tcu-title-card:where(._grey) {
    @include primary-button();
    background-color: $title-card-grey-color;
    color: color-pick-contrast($title-card-grey-color, ($white, $text-black));
  }
}

@if $title-card-purple {
  .tcu-title-card:where(._purple) {
    @include secondary-button();
    background-color: $title-card-purple-color;
  }
}

/*------------------------------------*\
  #Title Card - Background Image
\*------------------------------------*/

@if $title-card-background-image {
  .tcu-title-card._image-bg {
    color: $white;
    background-size: cover;
    background-color: $primary;
    background-repeat: no-repeat;
    background-position: center;
    @include breakpoint(large down) {
      &:not(._three-button) {
        /* stylelint-disable-next-line declaration-no-important -- the background image is inline so !important is necessary */
        background-image: none !important;
      }
    }
    &:after {
      @include breakpoint(xlarge) {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(77, 25, 121, 0.7);
      }
    }
    .tcu-title-card__image {
      @include breakpoint(xlarge) {
        display: none;
      }
      img {
        width: 100%;
        @include breakpoint(large down) {
          aspect-ratio: map-get($title-card-image-aspect-ratios, 'small');
          object-fit: cover;
        }
      }
    }
    .tcu-hammerhead::after {
      background-color: color-pick-contrast($primary);
    }
    .tcu-title-card__content {
      padding: rem-calc($spacing-4);
      font-weight: bold;
      @include breakpoint(large) {
        padding: rem-calc($spacing-2);
      }
      @include breakpoint(xlarge) {
        min-height: 500px;
        padding: rem-calc($spacing-4 0);
        margin: 0 rem-calc($spacing-1 * 10);
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    ._full-width & .tcu-title-card__content {
      @include breakpoint(xlarge) {
        margin-left: rem-calc($spacing-1 * 23);
        margin-right: rem-calc($spacing-1 * 23);
      }
    }
    .button-group {
      flex: 0 0 auto;
    }
    .button {
      @include hollow-button();
      --button-color: #{$white};
      &:hover,
      &:focus {
        --button-border-color: #{$white};
        --button-background: #{$white};
        --button-color: #{$primary};
      }
    }
  }
}
@if $title-card-background-image == false {
  .tcu-title-card._image-bg {
    /* stylelint-disable-next-line declaration-no-important -- the background image is inline so !important is necessary */
    background-image: none !important;
  }
}

/*------------------------------------*\
  #Three Button Title Card
\*------------------------------------*/

@if $title-card-large-button {
  .tcu-title-card._three-button {
    background-color: $title-card-three-button-background;

    @if $title-card-three-button-small-bg == false {
      @include breakpoint(medium down) {
        /* stylelint-disable-next-line declaration-no-important -- the background image is inline so !important is necessary */
        background-image: none !important;
      }
    }
    .tcu-title-card__image {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $title-card-three-button-overlay-small;
      @include breakpoint(large) {
        background: $title-card-three-button-overlay-large;
      }
    }
    .tcu-hammerhead::after {
      background-color: color-pick-contrast(
        rgba(77, 25, 121, 0.7),
        ($white, $black)
      );
    }
    .tcu-title-card__content {
      width: 100%;
      margin: 0;
      // text-align: center;
      padding: map-get($title-card-three-button-padding, 'small');
      font-weight: normal;
      @include breakpoint(medium) {
        padding: map-get($title-card-three-button-padding, 'medium');
      }
      @include breakpoint(large) {
        padding: map-get($title-card-three-button-padding, 'large');
      }
      @include breakpoint(xlarge) {
        padding: map-get($title-card-three-button-padding, 'xlarge');
      }
    }
    ._full-width & .tcu-title-card__content {
      @include breakpoint(xlarge) {
        margin: 0;
      }
    }
    .tcu-title-card__content .button-group {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 52px 0 0;
      width: 100%;
      @include breakpoint(large) {
        flex-direction: row;
        padding: 116px 0 0;
      }
    }
  }
}

/*------------------------------------*\
  #Title Card with Video
\*------------------------------------*/

@if $title-card-video {
  .tcu-title-card__video,
  .tcu-title-card__video > div {
    // Video will not display on medium down
    display: none;
    @include breakpoint(large) {
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      overflow: hidden;
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
