////
/// @group Video
////

/// If the video button should be on the top or bottom
/// @type String
$video-button-position: 'bottom' !default;

/// Font style map for the video button
/// @type Map
$video-button-font: (
  'font-size': rem-calc($xsmall-font-size),
  'font-family': $button-font-family,
  'font-weight': $button-font-weight,
) !default;

/*------------------------------------*\
  #Video Wrapper
\*------------------------------------*/
.tcu-video {
  position: relative;
  ._pause {
    @include setValues($video-button-font);
    position: absolute;
    #{$video-button-position}: rem-calc($spacing-2);
    right: rem-calc($spacing-2);
    z-index: 2;
    color: $white;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
    padding: rem-calc($button-padding);
    margin: 0;
    transition: $button-transition;
    &:hover {
      border-color: $white;
    }
  }
}
