////
/// @group Video Showcase
////

/// The background color of the video showcase
/// @type Color
$video-showcase-background-color: $neutral-40 !default;

/// The text color of the video showcase
/// @type Color
$video-showcase-text-color: $text-black !default;

/// How the video should be aligned: left, right, center
/// @type String
$video-showcase-video-alignment: right !default;

/// If the video showcase should alternate alignment when multiple are on the page
/// @type String
$video-showcase-video-alignment-alternate: true !default;

/// The ideal video width in pixels
/// @type Number
$video-showcase-video-width: 1050px !default;

/// The ideal video height in pixels
/// @type Number
$video-showcase-video-height: 500px !default;

/// If a poster icon should be visible
/// @type Boolean
$video-showcase-poster-include-icon: true !default;

/// Map of icon width, height, background image values for the video poster icon
/// @type Map
$video-showcase-poster-icon-small: (
  'width': 125px,
  'height': 125px,
  'background-image':
    url("data:image/svg+xml,%3Csvg width='173' height='173' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M86.09 4.1c-22.12 0-42.915 8.614-58.555 24.254C11.894 43.995 3.28 64.791 3.28 86.91c0 22.12 8.614 42.915 24.255 58.556 15.64 15.64 36.435 24.254 58.555 24.254 22.12 0 42.915-8.613 58.556-24.254 15.64-15.64 24.254-36.436 24.254-58.556 0-22.12-8.613-42.915-24.254-58.556C129.005 12.714 108.209 4.1 86.09 4.1zM86.5 173c-23.105 0-44.827-8.997-61.164-25.335C8.997 131.327 0 109.605 0 86.5c0-23.105 8.997-44.827 25.336-61.165C41.673 8.997 63.396 0 86.5 0c23.105 0 44.827 8.997 61.165 25.335S173 63.395 173 86.5c0 23.105-8.997 44.827-25.335 61.165S109.605 173 86.5 173z' fill='%234D1979'/%3E%3Cpath d='M158 86.5c0 39.488-32.012 71.5-71.5 71.5S15 125.988 15 86.5C15 47.01 47.012 15 86.5 15S158 47.011 158 86.5' fill='%234D1979'/%3E%3Cpath d='M66.059 58.977s1.318-4.756 5.405-2.246c4.087 2.51 50.364 29.062 50.364 29.062s2.637 2.51 0 5.416c-3.691 2.246-49.968 29.062-49.968 29.062s-4.088 2.378-5.801-1.454c-.132-3.566 0-59.84 0-59.84' fill='%23FED277'/%3E%3C/g%3E%3C/svg%3E"),
) !default;

/// Map of icon width, height, background image values for the video poster icon
/// @type Map
$video-showcase-poster-icon-medium: () !default;

/// Map of icon width, height, background image values for the video poster icon
/// @type Map
$video-showcase-poster-icon-large: (
  'width': 173px,
  'height': 173px,
  'background-image':
    url("data:image/svg+xml,%3Csvg width='173' height='173' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M86.09 4.1c-22.12 0-42.915 8.614-58.555 24.254C11.894 43.995 3.28 64.791 3.28 86.91c0 22.12 8.614 42.915 24.255 58.556 15.64 15.64 36.435 24.254 58.555 24.254 22.12 0 42.915-8.613 58.556-24.254 15.64-15.64 24.254-36.436 24.254-58.556 0-22.12-8.613-42.915-24.254-58.556C129.005 12.714 108.209 4.1 86.09 4.1zM86.5 173c-23.105 0-44.827-8.997-61.164-25.335C8.997 131.327 0 109.605 0 86.5c0-23.105 8.997-44.827 25.336-61.165C41.673 8.997 63.396 0 86.5 0c23.105 0 44.827 8.997 61.165 25.335S173 63.395 173 86.5c0 23.105-8.997 44.827-25.335 61.165S109.605 173 86.5 173z' fill='%234D1979'/%3E%3Cpath d='M158 86.5c0 39.488-32.012 71.5-71.5 71.5S15 125.988 15 86.5C15 47.01 47.012 15 86.5 15S158 47.011 158 86.5' fill='%234D1979'/%3E%3Cpath d='M66.059 58.977s1.318-4.756 5.405-2.246c4.087 2.51 50.364 29.062 50.364 29.062s2.637 2.51 0 5.416c-3.691 2.246-49.968 29.062-49.968 29.062s-4.088 2.378-5.801-1.454c-.132-3.566 0-59.84 0-59.84' fill='%23FED277'/%3E%3C/g%3E%3C/svg%3E"),
) !default;

/// Map of padding values for the video showcase content area
/// @type Map
$video-showcase-content-padding: (
  'small': $spacing-3 $spacing-2,
  'medium': $spacing-7 $spacing-6,
  'large': $spacing-7 $spacing-10,
) !default;

/// Map of header font styles for the video showcase
/// @type Map
$video-showcase-header-font: (
  'font-weight': bold,
) !default;

/// The value of justify-content for the button-group within the video showcase
/// content area
/// @type String
$video-showcase-button-justify-content: left;

/*------------------------------------*\
  #Video Showcase
\*------------------------------------*/
.tcu-video-showcase {
  background: $video-showcase-background-color;
  color: $video-showcase-text-color;
  @include breakpoint(large) {
    @if (
      $video-showcase-video-alignment ==
        'left' or
        $video-showcase-video-alignment ==
        'right'
    ) {
      display: flex;
    }
    @if ($video-showcase-video-alignment == 'right') {
      flex-direction: row-reverse;
    }
  }
}

@if ($video-showcase-video-alignment-alternate == true) {
  :nth-child(even of .tcu-video-showcase) {
    @include breakpoint(large) {
      @if ($video-showcase-video-alignment == 'left') {
        flex-direction: row-reverse;
      }
      @if ($video-showcase-video-alignment == 'right') {
        flex-direction: row;
      }
    }
  }
}

/*------------------------------------*\
  #Video
\*------------------------------------*/
.tcu-video-showcase__video {
  aspect-ratio: #{strip-unit($video-showcase-video-width)} /
    #{strip-unit($video-showcase-video-height)};
  background-color: $black;
  position: relative;
  z-index: 1;

  @if ($video-showcase-video-alignment == 'center') {
    margin: 0 auto;
    max-width: rem-calc($video-showcase-video-width);
  }
  @if (
    $video-showcase-video-alignment ==
      'left' or
      $video-showcase-video-alignment ==
      'right'
  ) {
    flex: 0 1 60%;
  }
  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.tcu-video-showcase__poster {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
  ._is-active & {
    display: none;
  }
  @if ($video-showcase-poster-include-icon) {
    &:after {
      @include setValues($video-showcase-poster-icon-small);
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: contain;
      @include breakpoint(medium) {
        @include setValues($video-showcase-poster-icon-medium);
      }
      @include breakpoint(large) {
        @include setValues($video-showcase-poster-icon-large);
      }
    }
  }
}

.tcu-video-showcase__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

/*------------------------------------*\
  #Content
\*------------------------------------*/
.tcu-video-showcase__content {
  padding: map-get($video-showcase-content-padding, 'small');
  @if (
    $video-showcase-video-alignment ==
      'left' or
      $video-showcase-video-alignment ==
      'right'
  ) {
    flex: 1 1 40%;
  }

  @include breakpoint(medium) {
    padding: map-get($video-showcase-content-padding, 'medium');
  }

  @include breakpoint(large) {
    padding: map-get($video-showcase-content-padding, 'large');
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  .button-group {
    flex-grow: 0;
    justify-content: $video-showcase-button-justify-content;
  }
}

.tcu-video-showcase__headline {
  @include setValues($video-showcase-header-font);
}
