@import '../settings/_settings.scss';
@import '_buttons.scss'; // For button variables

/// The text color for all flags
/// @type Color
$flags-color: $primary !default;

/// The hover background color for all flags
/// @type Color
$flags-hover-background-color: $neutral-60 !default;

.tcu-flags {
  position: absolute;
  top: calc(10vw + 64px);
  right: 0;
  margin: 0;
  list-style-type: none;
  transition:
    top 300ms ease,
    transform 300ms ease;
  @include breakpoint(medium) {
    top: 25px + 64px;
    z-index: 10;
  }
  @include breakpoint(large) {
    position: fixed;
    top: 244px;
  }

  .slide-menu-open & {
    transform: translateX(100%);
    @include breakpoint(2125px) {
      transform: translateX(0);
    }
  }

  li {
    margin-bottom: rem-calc($spacing-1);
    transition: transform 300ms ease;

    @include breakpoint(large) {
      margin-bottom: rem-calc($spacing-3);
    }
  }
}

// Interior Pages (if they don't have a hero)
body {
  &:not(:has(.tcu-hero)) {
    .tcu-flags {
      top: 181px;
      z-index: 10;

      @include breakpoint(medium) {
        top: 228px;
      }

      @include breakpoint(large) {
        top: 378px;
      }
    }
  }
}

.tcu-flags__button {
  --sticky-bg-color: #{$neutral-40};
  background: var(--sticky-bg-color);
  position: relative;
  width: rem-calc($spacing-1 * 20);
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem-calc($spacing-5);
  text-decoration: none;
  font-family: $button-font-family;
  font-size: rem-calc($spacing-2);
  font-weight: $button-font-weight;
  padding: $button-padding;
  @include breakpoint(medium) {
    font-size: rem-calc($body-font-size);
  }
  @include breakpoint(large) {
    height: rem-calc($spacing-8);
    font-size: rem-calc($button-font-size);
  }

  &:hover {
    background-color: $flags-hover-background-color;
    color: color-pick-contrast(
      $flags-hover-background-color,
      ($white, $text-black)
    );
  }

  // Interior Pages
  /* stylelint-disable-next-line selector-no-qualifying-type */
  body[class*='tcu-template-'] & {
    width: rem-calc($spacing-1 * 12);
    @include breakpoint(medium) {
      width: rem-calc($spacing-1 * 15);
    }
    @include breakpoint(large) {
      width: rem-calc($spacing-1 * 20);
    }
  }
}

.sticky-icons {
  --sticky-icon-bg-color: #{$primary};
  display: none;
  background: var(--sticky-icon-bg-color);
}
// Hover Icons
@include breakpoint(large) {
  .sticky-icons {
    width: rem-calc($spacing-8);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms ease;
    transform: translateX(0);
  }
  li:hover .sticky-icons li:focus-within .sticky-icons {
    transform: translateX(-100%);
  }

  // Scroll transitions
  html:not(.reduced-motion) {
    .tcu-flags._onenter {
      .sticky-icons {
        transition-delay: 300ms;
        transform: translateX(-100%);
      }
      li {
        transform: translateX(100%);
      }
      li:hover {
        transform: translateX(0);
      }
    }

    .tcu-flags._onleave {
      .sticky-icons {
        transition-delay: 0;
      }
      li:hover .sticky-icons {
        transform: translateX(-100%);
      }
      li {
        transition-delay: 300ms;
        transform: translateX(0);
      }
    }
  }
}
