<div class="tcu-image-gallery-wrapper">
  <div class="tcu-image-gallery grid-x grid-margin-x">
    {% for gallery in gallery_images %}
      <div class="tcu-gallery-cell">
          <figure>
              <img src="{{ gallery.image }}" alt="{{gallery.image_description}}" width="380" height="380">
              {% if gallery.image_caption is not empty %}
              <figcaption>
                {{gallery.image_caption}}
              </figcaption>
              {% endif %}
          </figure>
      </div>
      {% endfor %}
  </div>
<div class="gallery-image-caption" tabindex="-1" aria-hidden="true"></div>
</div>
