<div class="tcu-image-card-set tcu-component grid-x align-center">
  {% if title %}
    <h2 class="tcu-image-card-set__title">{{ title }}</h2>
  {% endif %}
  <div class="grid-x grid-margin-x grid-margin-y">
    <div class="cell large-6">{% render '@image-card' %}</div>
    <div class="cell large-6">{% render '@image-card' %}</div>
    <div class="cell large-6">{% render '@image-card' %}</div>
    <div class="cell large-6">{% render '@image-card' %}</div>
  </div>
  {% if call_to_action %}
    <div class="tcu-image-card-set__buttons tcu-button-wrapper">
      {% render '@button' with call_to_action %}
    </div>
  {% endif %}
</div>
