<div
  class="grid-x grid-margin-x grid-margin-y slider-for-small-only"
  data-flickity="{ &#34;adaptiveHeight&#34;: true, &#34;watchCSS&#34;: true, &#34;wrapAround&#34;: true, &#34;groupCells&#34;: true, &#34;arrowShape&#34;: &#34;&#34; }">
    <div class="cell large-3 small-6">
      <img class="full-width-image" src="https://via.placeholder.com/380x380" alt="380 x 380" width="380" height="380">
    </div>
    <div class="cell large-3 small-6">
      <img class="full-width-image" src="https://via.placeholder.com/380x380" alt="380 x 380" width="380" height="380">
    </div>
    <div class="cell large-3 small-6">
      <img class="full-width-image" src="https://via.placeholder.com/380x380" alt="380 x 380" width="380" height="380">
    </div>
    <div class="cell large-3 small-6">
      <img class="full-width-image" src="https://via.placeholder.com/380x380" alt="380 x 380" width="380" height="380">
    </div>
</div>
