<figure class="tcu-caption {{ align }}">
  <img src="{{ image }}" alt="{{ image_description }}" loading="lazy" />
  {% if caption %}
    <figcaption>{{ caption }}</figcaption>
  {% endif %}
</figure>
