<figure class="tcu-responsive-image {{align}} {{ (caption) ? 'has-caption' : 'image-flair' }}">
    <picture>
        {% if large_image %}
            <source media="(min-width: 600px)" srcset="{{large_image}}">
        {% endif %}
        <img src="{{small_image}}" alt="{{ image_description }}">
    </picture>
    {% if caption %}
        <figcaption>{{ caption }}</figcaption>
    {% endif %}
</figure>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing elit ut aliquam purus sit. In metus vulputate eu scelerisque felis imperdiet. Tristique risus nec feugiat in fermentum posuere urna nec tincidunt. Nunc id cursus metus aliquam eleifend mi in. Ut ornare lectus sit amet est placerat in egestas. Ut consequat semper viverra nam libero justo laoreet. Purus sit amet volutpat consequat. Ipsum consequat nisl vel pretium lectus quam id leo in. Non tellus orci ac auctor augue mauris augue neque. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Senectus et netus et malesuada fames ac. Laoreet sit amet cursus sit amet dictum. Turpis tincidunt id aliquet risus feugiat. Sed vulputate mi sit amet mauris. Ultrices mi tempus imperdiet nulla malesuada pellentesque. Ut sem viverra aliquet eget sit amet tellus cras. At imperdiet dui accumsan sit amet nulla facilisi. Velit aliquet sagittis id consectetur purus. Lacus suspendisse faucibus interdum posuere. Amet cursus sit amet dictum sit. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Eu non diam phasellus vestibulum lorem sed risus ultricies tristique. Feugiat nisl pretium fusce id velit ut tortor pretium viverra. Fusce ut placerat orci nulla. Lectus arcu bibendum at varius. Pretium vulputate sapien nec sagittis. Libero nunc consequat interdum varius sit amet mattis. Elementum pulvinar etiam non quam lacus suspendisse. Sed lectus vestibulum mattis ullamcorper velit sed. Blandit turpis cursus in hac. Habitasse platea dictumst vestibulum rhoncus est. Varius morbi enim nunc faucibus. Non quam lacus suspendisse faucibus interdum posuere. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Lacus sed turpis tincidunt id. Facilisi etiam dignissim diam quis enim. Habitasse platea dictumst quisque sagittis.</p>
