<h2>Colors</h2>
{% render "@button" with {modifier: 'primary', text: "Primary Button"} %}
{% render "@button" with {modifier: 'secondary', text: "Secondary Button"} %}
<h2>Sizes</h2>
{% render "@button" with {modifier: 'expanded', text: "Expanded Button"} %}
{% render "@button" with {modifier: 'small-only-expanded', text: "Expanded on Mobile Only"} %}
<h2>Types</h2>
{% render "@button" with {modifier: 'hollow', text: "Hollow Button"} %}
{% render "@button" with {modifier: 'clear', text: "Clear Button"} %}
{% render "@button" with {modifier: 'icon', text: "<svg height='30' width='30'><use xmlns:xlink='https://www.w3.org/1999/xlink' xlink:href='#icon-facebook' href='#icon-facebook'></use></svg>Icon Button"} %}
