<p class="{{ class }} tcu-component tcu-full-width-small {{ modifier }}">
  <img src="https://assets.tcu.edu/cornerstone/images/our-campus.jpg" alt="A panoramic view of the TCU Campus Commons as seen from the University Union balcony" />
</p>
