<style>
  #tcu-background-container .tcu-background-container__image {
    background-image: url('{{ background_image.small }}');
  }

  @media (min-width: 43.75em) {
    #tcu-background-container .tcu-background-container__image {
      background-image: url('{{ background_image.large }}');
    }
  }
</style>

<div id="tcu-background-container" class="tcu-module-wrapper _full-width tcu-background-container _has-image | tcu-background-container {{ modifier }} " style="background-color: {{ background_color }}">
    <div class="tcu-background-container__content">
      {{ content }}
      <div class="button-group align-center">
        {% render "@button" with {modifier: 'hollow', text: "Hollow Button"} %}
      </div>
    </div>

    <div class="tcu-background-container__image"></div>
</div>
