<ul class="tcu-flags _onleave">
  {% for flag in flags %}
    <li>
      <a class="tcu-flags__button" id="tcu-flags--{{ flag.label | kebab }}" href="{{ flag.link }}" style="--sticky-bg-color: {{flag.background}}">{{ flag.label }}
       <span class="sticky-icons" style="--sticky-icon-bg-color: {{flag.icon_background}}">{{flag.icon}}</span>
      </a>
    </li>
  {% endfor %}
</ul>
