<div class="tcu-accordion-container {{ modifier }}" data-position="">
  {% for accordion in accordions %}
  <div class="tcu-accordion">
    <button type="button" class="tcu-accordion-header" id="{{ id }}">{{ accordion.heading }}</button>
    <div class="tcu-accordion-content">

      {{ accordion.content }}

    </div>
  </div>
  {% endfor %}
</div>
