<div class="{{ class }} tcu-video">
  <div id="vimeo-{{ vimeo.id }}"
    {% for key, value in vimeo %}
      data-vimeo-{{ key }}="{{value}}"
    {% endfor %}
  >
  </div>
  <button aria-live="polite" class="_pause"><span aria-hidden="true">❚❚</span> Pause</button>
</div>
