<div class="tcu-local-footer">
  <div class="tcu-local-footer__cell">
    <a aria-label="Go back to the main Financial Aid homepage" class="tcu-logo" href="/">
      <img width="253" src="https://assets.tcu.edu/cornerstone/images/financial-aid-wordmark.svg"
        alt="TCU Scholarships and Financial Aid logo" /><span class="tcu-visuallyhidden">TCU Scholarships and Financial
        Aid</span>
    </a>
  </div>

  <div class="has-icons tcu-local-footer__cell">
    <svg class="tcu-location-pin-icon" focusable="false" height="30" width="30">
      <use xlink:href="#icon-location-pin-icon" href="#icon-location-pin-icon"></use>
    </svg>
    <p>3101 Bellaire Drive North<br>The Harrison, 1st Floor-Suite 1300<br>Fort Worth, Texas 76109</p>

    <svg class="tcu-phone-icon" focusable="false" height="30" width="30">
      <use xlink:href="#icon-phone-icon" href="#icon-phone-icon"></use>
    </svg>
    <p>817-257-7858</p>

    <svg class="tcu-mail-icon" focusable="false" height="30" width="30">
      <use xlink:href="#icon-mailn-icon" href="#icon-mail-icon"></use>
    </svg>
    <p>TCU Box 297012<br />
      Fort Worth, Texas 76129</p>

    <svg class="tcu-email-icon" focusable="false" height="30" width="30">
      <use xlink:href="#icon-email-icon" href="#icon-email-icon"></use>
    </svg>
    <p><a href="mailto:finaid@tcu.edu">finaid@tcu.edu</a></p>
  </div>

  <div class="tcu-local-footer__cell">
    <p class="tcu-local-footer__heading">Quick Links</p>
    <ul class="no-bullet tcu-bold">
      <li><a href="/apply-for-aid/index.php">Understanding Financial Aid</a></li>
      <li><a href="/types-of-aid/index.php">Types of Aid</a></li>
      <li><a href="/cost/net-price-calculator.php">Net Price Calculator</a></li>
    </ul>
  </div>

  <div class="tcu-local-footer__cell">
    <p>
      <a class="button hollow" href="https://advancement.tcu.edu/new/education">
        <svg width="40" height="36" viewBox="0 0 40 36">
            <path d="M38.992 20h-3.984a.993.993 0 00-1.008.98v12.04c0 .542.45.98 1.008.98h3.984A.993.993 0 0040 33.02V20.98c0-.543-.45-.98-1.008-.98zM9.086 21.906C8.12 20.846 7.06 19.836 6 19.332c.065-.07.124-.14.201-.198.006-.006.012-.006.012-.012 1.108-.581 2.784 1.034 4.04 2.4.397.435 1.018 1.105 1.747 1.865-.338.172-.657.37-.948.613-.93-.97-1.676-1.781-1.966-2.094zM32 23.425v8.955c-1.693.006-1.662.047-2.61.135C27.132 32.73 21.211 36 18.7 36c-5.164 0-10.032-.887-12.124-2.884-1.508-1.442-4.746-5.354-5.226-6.019-.83-1.144-2.252-3.736-.554-4.974.007-.006.013-.006.013-.012 1.15-.531 2.892.946 4.197 2.195.739.713 2.24 2.125 3.797 3.474.204 1.314 1.108 2.353 2.302 2.954.006.006.013.018.025.03l.006-.018a5.43 5.43 0 002.4.578h6.155c1.975 0 3.28-.286 3.896-.409-.708-.368-1.914-.759-3.896-.759h-6.155c-1.698 0-3.692-1.168-3.692-2.919 0-1.751 1.994-2.919 3.692-2.919h7.293c1.453-1.296 3.404-2.218 6.383-2.218 1.095.005 2.788.122 4.788 1.325zm-25.872-.486C5.17 21.981 4.095 21.016 3 20.47c.098-.121.215-.23.352-.334.006-.006.013-.006.013-.012 1.219-.586 3.063 1.041 4.445 2.417.482.483 1.271 1.26 2.19 2.129-.3.399-.541.842-.684 1.331-1.486-1.37-2.77-2.65-3.188-3.06zM16.168 0h1.663c.232 0 .419.194.419.434v2.162c1.319.02 2.837.499 3.531 1.01.181.13.263.382.194.615L21.362 6.1a.521.521 0 01-.293.337.455.455 0 01-.163.032.547.547 0 01-.256-.084c-.612-.305-1.869-.81-3.075-.81-1.1 0-2.187.557-2.187 1.515 0 .9.868 1.554 2.675 2.357C20.788 10.586 22 11.991 22 14.418c0 2.467-1.094 4.669-3.75 5.005v2.143c0 .24-.188.434-.419.434H16.17a.426.426 0 01-.419-.434v-2.143c-1.188.033-2.638-.265-3.513-.848a.57.57 0 01-.212-.628l.6-2.04a.503.503 0 01.281-.336c.056-.02.113-.039.169-.039.081 0 .169.026.244.078.706.466 1.944.828 3.106.828 1.225 0 2.25-.628 2.25-1.754 0-.92-.744-1.722-2.637-2.512C13.38 11.084 12 9.627 12 7.452c0-2.234 1.231-4.493 3.75-4.862V.434c0-.24.188-.434.419-.434z" fill-rule="nonzero"></path>
        </svg>
        Give
      </a>
    </p>
    <p class="tcu-local-footer__heading">Related Offices</p>
    <ul class="no-bullet tcu-bold">
      <li><a href="https://vcfa.tcu.edu/student-accounts/">Student Financial Services</a></li>
      <li><a href="http://www.reg.tcu.edu">Office of the Registrar</a></li>
      <li><a href="https://veteransservices.tcu.edu">Veterans Services</a></li>
    </ul>
  </div>
</div>
