<div class="tcu-module tcu-ghost-button-block _flex-1of2"
  style="background: center / cover no-repeat url({{ background_photo }})">

  <div class="tcu-module__inner">

    <header>
      <h2>{{headline}}</h2>
    </header>

    <div class="flex-columns">
      <div class="tcu-button-group flex-column">
        {% for button in buttons_left %}
            <a href="{{ button.link }}" class="tcu-button _transparent tcu-uppercase">{{ button.text }}</a>
        {% endfor %}

      </div>

      <div class="tcu-button-group flex-column">
        {% for button in buttons_right %}
          <a href="{{ button.link }}" class="tcu-button _transparent tcu-uppercase">{{ button.text }}</a>
        {% endfor %}
      </div>
    </div>

  </div>
  <!--.tcu-module__inner -->

  <div class="overlay _purple"></div>

</div>
