<div class="tcu-article _content tcu-full-width tcu-directory">
  <div>
    {% render "@results-filter" with { "activeTab": "list" } %}
    <div class="tcu-results-listing _list tcu-fadeIn">
      <ul>
        {% for person in directory %}
          {% render "@directory-card" with person %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
