<div class="tcu-article _content tcu-full-width tcu-directory">
  <div>
    {% render "@results-filter" %}
    <div class="tcu-results-listing _grid tcu-fadeIn">
      <ul>
        {% for person in directory %}
          {% render "@directory-image-card" with person %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
