<style>
  .tcu-layoutwrap--purple {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #4d1979;
    color: #fff;
    padding: 32px
  }

  .tcu-layoutwrap--purple a {
    color: #fff
  }

  .tcu-pad-tb0 {
    padding-bottom: 0;
    padding-top: 0
  }

  .tcu-footer-info,
  .tcu-footer-nav-wrap {
    -moz-osx-font-smoothing: grayscale;
    font-family: Source Sans Pro, Arial, Trebuchet MS, sans-serif;
    line-height: 1.5
  }

  .tcu-footer-info p,
  .tcu-footer-nav-wrap p {
    margin-top: 16px;
    margin-bottom: 16px
  }

  @media screen and (min-width:30.0625em) {

    .tcu-footer-info .unit,
    .tcu-footer-nav-wrap .unit {
      padding-left: 25px;
      padding-right: 25px
    }
  }

  .tcu-footer-nav-wrap {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 18px
  }

  @media screen and (min-width:87.5em) {
    .tcu-footer-nav-wrap {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap
    }
  }

  .tcu-footer-nav-wrap>* {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
  }

  @media screen and (min-width:43.75em) {
    .tcu-footer-nav-wrap>* {
      padding-left: 25px;
      padding-right: 25px
    }
  }

  .tcu-footer-nav-wrap a {
    text-decoration: none
  }

  .tcu-footer-nav-wrap a:focus,
  .tcu-footer-nav-wrap a:hover {
    color: #fed277;
    text-decoration: underline
  }

  .tcu-footer-nav-wrap ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin: 1em 0;
    padding: 0
  }

  @media screen and (min-width:43.75em) {
    .tcu-footer-nav-wrap ul {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap
    }
  }

  @media screen and (min-width:87.5em) {
    .tcu-footer-nav-wrap ul {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap
    }
  }

  .tcu-footer-nav-wrap li {
    float: left;
    padding-bottom: 16px
  }

  @media screen and (min-width:43.75em) {
    .tcu-footer-nav-wrap li {
      padding: 0;
      white-space: nowrap
    }

    .tcu-footer-nav-wrap li a {
      display: inline-block
    }

    .tcu-footer-nav-wrap li:after {
      content: "/";
      display: inline-block;
      margin: 0 10px
    }

    .tcu-footer-nav-wrap li:last-of-type:after {
      display: none
    }
  }

  @media screen and (min-width:43.75em) {
    .tcu-copyright {
      text-align: center
    }
  }

  @media screen and (min-width:87.5em) {
    .tcu-copyright {
      text-align: right
    }
  }

  .tcu-copyright a {
    font-weight: 700
  }

  .tcu-copyright p {
    margin-top: 18px;
    margin-bottom: 18px
  }

  .tcu-footer-info {
    border-top: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    padding: 32px
  }

  @media screen and (min-width:43.75em) {
    .tcu-footer-info {
      padding-bottom: 64px
    }
  }
</style>

<div class="tcu-footer-nav-wrap tcu-layoutwrap--purple tcu-pad-tb0 cf">
  <nav aria-label="Complementary">
    <ul class="tcu-footer-nav cf">
      <li><a href="https://hr.tcu.edu/prospective-employees/index.php/">Work at TCU</a></li>
      <li><a href="https://accessibility.tcu.edu">Accessibility</a></li>
      <li><a href="https://www.tcu.edu/compliance/notice-of-nondiscrimination.php">Notice of Nondiscrimination</a></li>
      <li><a href="https://www.tcu.edu/institutional-equity/title-ix/index.php">Title IX</a></li>
      <li><a href="https://www.tcu.edu/compliance/legal-disclosures.php">Legal Disclosures</a></li>
      <li><a href="https://www.tcu.edu/compliance/privacy.php">Privacy</a></li>
      <li><a href="https://ie.tcu.edu/accreditation/">Accreditation</a></li>
    </ul>
  </nav>
  <div class="tcu-copyright">
    <p>All content <span id="directedit">&copy;</span> 2021 <a href="https://www.tcu.edu">Texas Christian
        University</a>. All rights reserved.</p>
  </div>
</div>

