//  Cornerstone Config Settings
//  -----------------------------
//
//  Table of Contents:
//  1. Global
//  2. Buttons
//  3. Images
//  4. Video
//  5. Local Navigation
//  6. Local Footer
//  7. Site Name
//  8. Pull Quote
//  9. Sidebar Feature
//  10. Title Card
//  11. Content Button
//  12. Fact Banner
//  13. Image Card
//  14. Image Card Set
//  15. Lead-in Paragraph
//  16. Accordion
//  17. Callout
//  18. Back to Top Button
//  19. Tabcordions
//  20. Directory Card
//  21. Directory Image Card
//  22. Results Filter
//  23. Filter List
//  24. Profile
//  25. Parallax Image
//  26. Profile Card
//  27. Localist Widget
//  28. Infographic Ribbon
//  29. Background Container
//  30. Inset Photo
//  31. Fact Slider
//  32. Link List
//  33. Dropdown List
//  34. Article
//  35. Article Card
//  36. Article Listing
//  37. Sticky Flags
//  38. Multi Column List
//  39. Video Showcase
//  40. Publications Feed
//  41. Publications Listing
//  42. FAQ App
//  43. Announcements Feed
//  44. Hero
//  45. Program Finder Form
//  46. Blockquote
//  47. Slider
//  48. Sub Head
//  49. Image Gallery
//  50. Card Selector
//  51. Responsive Image

//  Foundation Config Override

// 1. Global
// ---------
// Foundation
@import '../foundation/settings';

// $layout-padding: 5.5vw;
// $layout-gutter: 6.25%;
// $component-margin: $spacing-8;
// $component-max-width: 1440px;
// $hammerhead-divider: true;
// $flickity: true;

// $heading-margin-block: 0 $header-margin-bottom;
// $heading-divider-border: 10px solid $primary;
// $heading-divider-font: ();
// $hammerhead-divider: true;
// $hammerhead-divider-color: currentcolor;
// $hammerhead-divider-width: $spacing-7;
// $hammerhead-divider-height: 1px;
// $hammerhead-divider-align: start;
// $hammerhead-divider-position: after;
// $hammerhead-divider-spacing: $spacing-2;

// 2. Buttons
// ---------
// _src/scss/components/_buttons.scss
$button-background: $primary;
$button-color-alt: $neutral-80;
$button-color: $white;
$button-border-color: transparent;
$button-border-width: 0px;
$button-radius: $global-radius;
$button-font-family: $body-font-family;
$button-font-size: rem-calc($xsmall-font-size);
$button-font-weight: bold;
$button-letter-spacing: normal;
$button-line-height: 1.5;
$button-text-transform: none;
$button-padding: rem-calc($spacing-1 $spacing-3);
$button-transition:
  background-color 0.25s ease-out,
  border-color 0.25s ease-out,
  color 0.25s ease-out;
$hover-button-background: $neutral-80;
$hover-button-color: color-pick-contrast(
  $hover-button-background,
  ($button-color, $button-color-alt)
);
$hover-button-border-color: transparent;
$hover-button-border-width: inherit;
$secondary-button-background: $secondary;
$secondary-button-color: color-pick-contrast(
  $secondary-button-background,
  ($button-color, $button-color-alt)
);
$secondary-button-border-color: transparent;
$secondary-button-border-width: 0px;
$hollow-button-background: transparent;
$hollow-button-border-color: currentColor;
$hollow-button-border-width: 4px;
$hollow-button-color: $primary;
$hollow-button-hover-background: $primary;
$hollow-button-hover-color: color-pick-contrast(
  $hollow-button-hover-background,
  ($button-color, $button-color-alt)
);

// 3. Images
// ---------
// _src/scss/components/_images.scss
// $image-flair: false;
// $image-flair-alt: false;

// 4. Video
// ---------
// _src/scss/components/_video.scss
// $video-button-position: 'bottom';
// $video-button-font: ();

// 5. Local Navigation
// ---------
// _src/scss/components/_local-navigation.scss
// $local-navigation-mq-min-width: 1100px;
// $local-navigation-max-width: $global-width;
// $local-navigation-gutter: 0 $layout-padding;
// $local-navigation-background: $primary;
// $local-navigation-text-color: $white;
// $local-navigation-icon-color: $local-navigation-text-color;
// $local-navigation-font-family: inherit;
// $local-navigation-font-size: rem-calc($body-font-size);
// $local-navigation-font-weight: bold;
// $local-navigation-text-transform: null;
// $local-navigation-letter-spacing: null;
// $local-navigation-nav-toggle-padding: $spacing-2 $spacing-3 calc(#{$spacing-2} - 2px);
// $local-navigation-nav-toggle-margin-bottom: ();
// $local-navigation-dropdown-background: $neutral-80;
// $local-navigation-dropdown-text-color: green;
// $local-navigation-dropdown-font-family: inherit;
// $local-navigation-dropdown-font-size: rem-calc($body-font-size);
// $local-navigation-dropdown-font-weight: normal;
// $local-navigation-dropdown-text-transform: none;
// $local-navigation-dropdown-letter-spacing: normal;
// $local-navigation-dropdown-border-color: ();
// $local-navigation-dropdown-border-width: 1px;
// $local-navigation-dropdown-border: $local-navigation-dropdown-border-width solid $local-navigation-dropdown-border-color;
// $local-navigation-dropdown-icon-color: $local-navigation-dropdown-text-color;
// $local-navigation-home-text-color: $local-navigation-dropdown-text-color;
// $local-navigation-home-font-family: inherit;

// 6. Local Footer
// ---------
// _src/scss/components/_local-footer.scss
// $local-footer-background: #4A4A4A;
// $local-footer-color: $white;
// $local-footer-link-color: $local-footer-color;
// $local-footer-link-hover-color: $secondary;
// $local-footer-font-size: rem-calc($body-font-size);
// $local-footer-spacing: rem-calc($spacing-4);
// $local-footer-cell-margin: $spacing-7;
// $local-footer-logo-max-width: $spacing-1 * 32;
// $local-footer-logo-min-width: $spacing-1 * 25;
// $local-footer-button-styles: ();
// $local-footer-button-hover-styles: ();

// 7. Site Name
// ---------
// _src/scss/components/_site-name.scss
// $site-name-hammerhead-font-size: ();
// $site-name-hammerhead-font-family: $xsmall_font_family;
// $site-name-hammerhead-font-weight: $xsmall_font_weight;
// $site-name-font-size: ();
// $site-name-font-family: $xlarge_font_family;
// $site-name-font-weight: $xlarge_font_weight;
// $site-name-text-color: $text-black;

// 8. Pull Quote
// ---------
// _src/scss/components/_pull-quote.scss
// $pull-quote-max-width: ();
// $pull-quote-border: solid $primary;
// $pull-quote-border-width: $spacing-3 0;
// $pull-quote-quote-svg: none;
// $pull-quote-quote-svg-width: 78px;
// $pull-quote-quote-svg-height: 72px;
// $pull-quote-triangle: false;
// $pull-quote-triangle-color: $neutral-60;
// $pull-quote-color: $text-black;
// $pull-quote-font: ();
// $pull-quote-credit-font: ();

// 9. Sidebar Feature
// ---------
// _src/scss/components/_sidebar-feature.scss
// $sidebar-feature-grey-bg: $neutral-60;
// $sidebar-feature-purple-bg: $primary;
// $sidebar-feature-title-border: none;
// $sidebar-feature-title-font: ();
// $sidebar-feature-content-padding: rem-calc($spacing-5);
// $sidebar-feature-button-alignment: center;

// 10. Title Card
// ---------
// _src/scss/components/_title-card.scss
// $title-card-purple: true;
// $title-card-purple-color: $primary;
// $title-card-grey: true;
// $title-card-grey-color: $neutral-60;
// $title-card-background-image: true;
// $title-card-image: true;
// $title-card-large-button: true;
// $title-card-video: true;
// $title-card-border: 1px solid $neutral-80;
// $title-card-font: ();
// $title-card-hammerhead-font: ();
// $title-card-header-font: ();
// $title-card-image-aspect-ratios: ();
// Title Card - Three Button
// $title-card-three-button-background: #fafafa;
// $title-card-three-button-padding: ();
// $title-card-three-button-small-bg: true;
// $title-card-three-button-overlay-small: rgba(77, 25, 121, 0.7);
// $title-card-three-button-overlay-large: $title-card-three-button-overlay-small;

// 11. Content Button
// ---------
// _src/scss/components/_content-button.scss
// $content-button-background: $white;
// $content-button-background-hover: $primary;
// $content-button-outline: none;
// $content-button-border: 1px solid $black;
// $content-button-border-radius: 0px;
// $content-button-box-shadow: 1px 1px 3px $neutral-40;
// $content-button-height: 17em;
// $content-button-color: $text-black;
// $content-button-arrow-size: 85px;
// $content-button-arrow-offset: 20px;
// $content-button-arrow-color: $secondary;
// $content-button-arrow-svg: ;
// $content-button-hover-arrow-color: $primary;
// $content-button-hover-arrow-svg: ;
// $content-button-arrow-svg-width: 18px;
// $content-button-arrow-svg-height: 18px;
// $content-button-arrow-svg-offset: 15px;
// $content-button-hover: 'color';
// $content-button-font: ();

// 12. Fact Banner
// ---------
// _src/scss/components/_fact-banner.scss
// $fact-banner-use-flickity: true;
// $fact-banner-background-color: $neutral-40;
// $fact-banner-card-border: 1px solid $neutral-60;
// $fact-banner-card-background: $white;
// $fact-banner-card-color: $primary;
// $fact-banner-card-height: 280px;
// $fact-banner-card-icon-height: 86px;

// 13. Image Card
// ---------
// _src/scss/components/_image-card.scss
// $image-card-background: transparent;
// $image-card-padding: $spacing-3 0 0;
// $image-card-title-color: $body-font-color;
// $image-card-title-font: ();
// $image-card-description-font: ();
// $image-card-button-alignment: left;
// $image-card-image-width: 670px;
// $image-card-image-height: 450px;

// 14. Image Card Set
// ---------
// _src/scss/components/_image-card-set.scss
// $image-card-set-background: $neutral-40;
// $image-card-set-max-width: $component-max-width;

// 15. Lead-in Paragraph
// ---------
// _src/scss/components/_lead-in-paragraph.scss
// $lead-in-paragraph-background: none;
// $lead-in-paragraph-padding: ();
// $lead-in-paragraph-max-width: 70%;
// $lead-in-paragraph-color: $body-font-color;
// $lead-in-paragraph-font: ();
// $lead-in-paragraph-heading-border: false;
// $lead-in-paragraph-heading-color: $body-font-color;
// $lead-in-paragraph-heading-font: ();

// 16. Accordion
// ---------
// _src/scss/components/_accordion.scss
// $accordion-header-background: $white;
// $accordion-header-background-active: $primary;
// $accordion-arrow-filter: brightness(0) invert(1);
// $accordion-header-border: 1px hidden;
// $accordion-header-border-radius: 2.5rem;
// $accordion-border-bottom: 1px solid $neutral-80;
// $accordion-border-bottom-hover: $accordion-border-bottom;
// $accordion-header-margin: 0;
// $accordion-header-padding: ();
// $accordion-header-font: ();
// $accordion-content-border-styles: ();

// 17. Callout
// ---------
// _src/scss/components/_callout.scss
// $callout-padding: $spacing-4;
// $callout-light-background: $neutral-40;
// $callout-dark-background: $neutral-60;
// $callout-alert-colors: ();

//  18. Back to Top Button
// ---------
// _src/scss/components/_back-to-top-button.scss
// $back-to-top-background-color: $secondary;
// $back-to-top-hover-background-color: $neutral-60;

//  19. Tabcordions
// ---------
// _src/scss/components/_tabcordions.scss
// $tabcordion-breakpoint: 1000px;
// $tabcordion-header-background-color: $white;
// $tabcordion-header-margin: ();
// $tabcordion-wrapper-padding: ();
// $tabcordion-tab-gap: ();
// $tabcordion-tab-arrow-image: url();
// $tabcordion-tab-font: ();
// $tabcordion-tab-border: ();
// $tabcordion-tab-color: ();
// $tabcordion-tab-background-color: ();
// $tabcordion-tab-hover-color: ();
// $tabcordion-tab-hover-background-color: ();
// $tabcordion-active-tab-border: ();
// $tabcordion-active-tab-color: ();
// $tabcordion-active-tab-background-color: ();
// $tabcordion-tab-section-border: 1px solid $neutral-40;
// $tabcordion-content-padding: ();
// $tabcordion-content-border-width: ();
// $tabcordion-tab-configurations: ();
// $tabcordion-content-margin: ();
// $tabcordion-content-border-color: ();
// $tabcordion-content-border-radius: ();

//  20. Directory Card
// ---------
// _src/scss/components/_directory-card.scss
// $directory-card-background: $neutral-40;
// $directory-card-name-font: ();
// $directory-card-title-font: ();

//  21. Directory Image Card
// ---------
// _src/scss/components/_directory-image-card.scss
// $directory-image-card-width: 220px;
// $directory-image-card-height: 240px;
// $directory-card-image-wrapper-background: $primary;

//  22. Results Filter
// ---------
// _src/scss/components/_results-filter.scss
// $results-filter-border: 1px solid $neutral-80;
// $results-filter-form-button-background: $secondary;
// $results-filter-form-button-color: $neutral-80;
// $results-filter-form-button-hover-background: $neutral-80;
// $results-filter-form-button-hover-color: $white;
// $results-filter-form-button-style: solid;
// $results-filter-view-selector-active-color: $primary;

//  23. Filter List
// ---------
// _src/scss/components/_filter-list.scss
// $filter-list-font-size: rem-calc(16px);
// $filter-list-border: 1px solid $black;
// $close-filter-button-background: $primary;
// $close-filter-button-color: $white;
// $close-filter-button-hover-background: $neutral-80;
// $close-filter-button-hover-color: $white;

//  24. Profile
// ---------
// _src/scss/components/_profile.scss
// $profile-img-medium: 560px;
// $profile-img-large: 420px;
// $profile-title-divider-color: $primary;
// $profile-title-font: ();
// $profile-contact-info-font-color: $white;
// $profile-contact-info-background: $primary;
// $profile-small-font-size: math.min($xsmall-font-size, $hammerhead-font-size);

//  25. Parallax Image
// ---------
// _src/scss/components/_parallax-image.scss
// $parallax-height: rem-calc($spacing-1 * 60);
// $parallax-image-flair: true;

//  26. Profile Card
// ---------
// _src/scss/components/_profile-card.scss
// $profile-card-image-width: rem-calc(160px);
// $profile-card-image-height: rem-calc(140px);
// $profile-card-font-size: $body-font-size;
// $profile-card-title-font-family: $hammerhead-font-family;
// $profile-card-title-font-weight: $xsmall-font-weight;

//  27. Localist Widget
// ---------
// _src/scss/components/_localist-widget.scss
// $localist-widget-background: $neutral-40;
// $localist-widget-event-border: 1px solid $neutral-60;
// $localist-widget-event-divider: true;
// $localist-widget-event-divider-color: $neutral-60;
// $localist-widget-event-date-font: ();
// $localist-widget-event-name-font: ();

//  28. Infographic Ribbon
// ---------
// _src/scss/components/_infographic-ribbon.scss
// $infographic-ribbon-background: rgba($secondary, 0.2);
// $infographic-ribbon-padding: $spacing-4;

//  29. Background Container
// ---------
// _src/scss/components/_background-container.scss
// $background-container-gradient: true;
// $background-container-stripes: true;
// $background-container-content-font: ();

//  30. Inset Photo
// ---------
// _src/scss/elements/_figure.scss
// $inset-photo-background: $neutral-60;
// $inset-photo-caption-font: ();

//  31. Fact Slider
// ---------
// _src/scss/components/_fact-slider.scss
// $fact-slider-link-border-color: $primary;
// $fact-slider-height: rem-calc(160px);
// $fact-slider-cell-background-color: $primary;
// $fact-slider-cell-color: $white;
// $fact-slider-large-text: ();
// $fact-slider-small-text: ();
// $fact-slider-button-background: $neutral-40;

//  32. Link List
// ---------
// _src/scss/components/_link-list.scss
// $link-list-font: ();

//  33. Dropdown List
// ---------
// _src/scss/components/_dropdown-list.scss
// $dropdown-list-button-border-bottom: 1px solid $neutral-60;
// $dropdown-list-button-height: 50px;
// $dropdown-list-menu-background: $neutral-60;

//  34. Article
// ---------
// _src/scss/components/_article.scss
// $article-max-width: 1073px;
// $article-title-border-bottom: 1px solid $neutral-60;

//  35. Article Card
// ---------
// _src/scss/components/_article-card.scss
// $article-card-title-font: ();
// $article-card-meta-font: ();
// $article-card-wide-title-font: ();
// $article-card-image-flair: false;
// $article-card-image-width: $spacing-1*35;
// $article-card-wide-border-bottom: 1px solid $neutral-80;
// $article-card-wide-max-width: 1300px;
// $article-card-image-width: 280px;
// $article-card-image-height: 280px;

//  36. Article Listing
// ---------
// _src/scss/components/_article-listing.scss
// $article-listing-grid-item-width: $spacing-1*35;
// $article-listing-grid-gap: ();

// 37. Sticky Flags
// ---------
// _src/scss/components/_sticky-flags.scss
// $flags-color: $primary;
// $flags-hover-background-color: $neutral-60;

// 38. Multi Column List
// ---------
// _src/scss/components/_multi-column-list.scss
// $multi-column-list-border: 1px solid #ccc;
// $multi-column-list-padding: rem-calc($spacing-3);
// $multi-column-light-background: $neutral-60;
// $multi-column-dark-background: $neutral-60;

// 39. Video Showcase
// ---------
// _src/scss/components/_video-showcase.scss
// $video-showcase-background-color: $neutral-40;
// $video-showcase-text-color: $text-black;
// $video-showcase-video-alignment: right;
// $video-showcase-video-alignment-alternate: true;
// $video-showcase-video-width: 1050px;
// $video-showcase-video-height: 500px;
// $video-showcase-poster-include-icon: true;
// $video-showcase-poster-icon-small: ();
// $video-showcase-poster-icon-medium: ();
// $video-showcase-poster-icon-large: ();
// $video-showcase-content-padding: ();
// $video-showcase-header-font: ();
// $video-showcase-button-justify-content: left;

//  40. Publications Feed
// ---------
// _src/scss/components/_publications-feed.scss
// $publications-feed-background-small: linear-gradient();
// $publications-feed-background-large: linear-gradient();
// $publications-feed-header-font:();
// $publications-feed-item-title-font: ();
// $publications-feed-border: 1px solid $black;
// $publications-feed-border-radius: 0;
// $publications-feed-item-separator: 1px solid $black;

//  41. Publications Listing
// ---------
// _src/scss/components/_publications-listing.scss
// $publications-listing-background: $neutral-40;

//  42. FAQ App
// ---------
// _src/scss/components/_faq-app.scss
// $faqsearch-listitem-flex-direction: row-reverse;
// $faqsearch-listitem-updated-font: ();

//  43. Announcements Feed
// ---------
// _src/scss/components/_announcements-feed.scss
// $announcements-background: $callout-light-background;
// $announcements-text-align: center;
// $announcements-header-font: ();
// $announcements-feed-header-font: ();
// $announcements-padding: $spacing-10;

//  44. Hero
// ---------
// _src/scss/components/_hero.scss
// $hero-heading-font: ();
// $hero-image-width: 70%;
// $hero-image-flair: $image-flair;
// $hero-content-background-color: ();
// $hero-content-layer: none;
// $hero-content-width: 50%;
// - Department Hero
// $department-hero-heading-font: ();

//  45. Program Finder Form
// ---------
// _src/scss/components/_program-finder-form.scss
// $program-finder-background: none;
// $program-finder-padding: 0 $global-padding;
// $program-finder-large-content-width: 960px;
// $program-finder-heading-font: ();
// $program-finder-radius: 0;
// $program-finder-button-flex: 0 0 auto;
// $program-finder-button-medium-flex: 1;
// $program-finder-medium-button-width: auto;
// $program-finder-input-button-space: 0;
// $program-finder-input-button-padding: $button-padding;
// $program-finder-placeholder-space: $spacing-1;
// $program-finder-placeholder-font: ();
// $program-finder-separator-stroke: 1px;
// $program-finder-separator-width: 80%;
// $program-finder-separator-color: $neutral-80;

//  46. Blockquote
// ---------
// _src/scss/components/_blockquote.scss
// $blockquote-border-style: solid $primary;
// $blockquote-border-width: 0 0 0 4px;
// $blockquote-background: none;
// $blockquote-quotation-mark: '';
// $blockquote-margin: $global-margin 0;
// $blockquote-quotation-mark-height: 0;
// $blockquote-quotation-mark-width: 0;
// $blockquote-content-font: ();

//  47. Slider
// ---------
// _src/scss/components/_slider.scss
// $slider-arrow-svg: url();
// $slider-arrow-svg-width: 29px;
// $slider-arrow-svg-height: 48px;
// $slider-dot-color: $neutral-40;
// $slider-dot-selected-color: $primary;

//  48. Sub Head
// ---------
// _src/scss/components/_sub-head.scss
// $sub-head-border: 3px solid $black;
// $sub-head-font: ();

//  49. Image Gallery
// ---------
// $gallery-background: $neutral-20;
// $gallery-caption-background: $neutral-80;
// $gallery-caption-text: $neutral-0;
// $gallery-dot-color: $neutral-60;
// $gallery-dot-selected-color: $primary;
// $gallery-image-transition: all 0.5s ease;
// $gallery-arrow-color: $neutral-80;

//  50. Card Selector
// ---------
// $cardselector-column-width: 200px;
// $cardselector-column-gap: $spacing-5;
// $cardselector-card-background: $primary;
// $cardselector-card-text-color: $white;
// $cardselector-card-title-font: ();
// $cardselector-card-description-font: ();
// $cardselector-card-divider: true;

//  51. Responsive Image
// ---------
// $responsive-image-radius: 0;
// $responsive-caption-radius: 0;
// $responsive-caption-background: $neutral-60;
// $responsive-image-background: $responsive-caption-background;
// $responsive-caption-padding: rem-calc($spacing-1 0);
// $responsive-image-padding: rem-calc($spacing-half);
// $responsive-caption-font: ();

// Foundation Config
$button-palette: map-remove($foundation-palette);
