/*------------------------------------*\
  #Settings
\*------------------------------------*/

/// If flickity should be used
/// @type Boolean
$flickity: true !default;

/*------------------------------------*\
  #Sizing
\*------------------------------------*/

/// The left and right padding around the main content of the page
/// @type Number
$layout-padding: 5.5vw !default;

/// The spacing between the main content and the sidebar
/// @type Number
$layout-gutter: 6.25% !default;

/// The margin above and below a component
/// @type Number
$component-margin: $spacing-8 !default;

/// The max width of a component
/// @type Number
$component-max-width: 1440px !default;

/*------------------------------------*\
  #Lead On Angles
\*------------------------------------*/

/// The Lead On angle based off a vertical starting position
/// @type Number
$lead-on-skew: -42deg;

/// The reversed version of $lead-on-skew
/// @type Number
$lead-on-skew-reversed: $lead-on-skew * -1;

/// The Lead On angle based off a horizontal starting position
/// @type Number
$lead-on-skew-alt: 48deg;

/// The reversed version of $lead-on-skew-alt
/// @type Number
$lead-on-skew-alt-reversed: $lead-on-skew-alt * -1;
