@use 'sass:math';

/// Takes a number and returns the corrosponding value from the spacing map
/// @param {Number} $num
/// @return {Number}
@function get-spacing($num) {
  @return map-get($spacing-map, $num);
}

/// Removes units from values for easier modification
/// @param {Number} $number - The number to strip units from
/// @return {Number} - The number without the unit
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

/// Returns a unitless line height value based on the font size and a modifier
/// @param {Number} $font-size - The font size of the element you want to set a line height on
/// @param {Number} $modifier - Extra spacing to add to the line height
/// @return {Number} - The unitless result from adding the font size and modifier together
@function get-line-height($font-size, $modifier: $spacing-1) {
  $font-size: strip-unit($font-size);
  $modifier: strip-unit($modifier);
  @return math.div($font-size + $modifier, $font-size);
}

/// Returns a clamp value that will linearly scale between the min and max size
/// based on the viewport width
/// https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
/// @param {Number} $minSize - Minimum size in pixels
/// @param {Number} $maxSize - Maximum size in pixels
/// @param {Number} $minViewport - Minimum viewport size in pixels
/// @param {Number} $maxViewport - Maximum viewport size in pixels
/// @return - clamp value that uses rems and vws
@function linearClamp(
  $minSize,
  $maxSize,
  $minViewport: map-get($breakpoints, 'medium'),
  $maxViewport: $global-width
) {
  $minSize: strip-unit(rem-calc($minSize));
  $maxSize: strip-unit(rem-calc($maxSize));
  $minViewport: strip-unit(rem-calc($minViewport));
  $maxViewport: strip-unit(rem-calc($maxViewport));

  // If the min and max size are the same, return the max size instead of
  // using clamp
  @if ($minSize == $maxSize) {
    @return #{$maxSize}rem;
  }

  // https://www.smashingmagazine.com/2023/11/addressing-accessibility-concerns-fluid-type/
  // If the maximum font size is less than or equal to 2.5 times the minimum
  // font size, then the text will always pass WCAG SC 1.4.4, at least on
  // all modern browsers.

  @if ($maxSize > (2.5 * $minSize)) {
    @warn 'linearClamp with a #{$minSize}rem min and #{$maxSize}rem will not always pass WCAG SC 1.4.4';
  }

  $slope: math.div($maxSize - $minSize, $maxViewport - $minViewport);
  $yAxisIntersection: -$minViewport * $slope + $minSize;
  $preferredValue: $yAxisIntersection + ($slope * 100);
  @return clamp(
    #{$minSize}rem,
    #{$yAxisIntersection}rem + #{($slope * 100)}vw,
    #{$maxSize}rem
  );
}
