@use 'sass:math';

/// Loops over all the color tokens and creates a css selector that
/// will set the supplied css property to that color
/// @param {String} $property ['color'] - the css property to apply the token color to
@mixin color-token-utilities($property: 'color') {
  @each $name, $hex in $color-styles-map {
    &-#{$name} {
      #{$property}: $hex;
    }
  }
}

/// Creates spacing classes for each of the spacing tokens based
/// on the attribute passed into the mixin
/// @param {String} $attribute ['margin'] - the css property to apply the spacing token to
@mixin spacing-utilities($attribute: 'margin') {
  @each $name, $value in $spacing-map {
    &-#{$name} {
      #{$attribute}: $value;
    }
  }

  $newattribute: $attribute + '-bottom';
  @each $name, $value in $spacing-map {
    &-bottom-#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute + '-top';
  @each $name, $value in $spacing-map {
    &-top-#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute + '-left';
  @each $name, $value in $spacing-map {
    &-left-#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute + '-right';
  @each $name, $value in $spacing-map {
    &-right-#{$name} {
      #{$newattribute}: $value;
    }
  }
}

/// Loops over a map and outputs the contents and css properties and values
/// @param {Map} $map - a map of css properties and values
@mixin setValues($map) {
  @each $name, $value in $map {
    #{$name}: $value;
  }
}

/// Sets the color, border-color, and hover color for a button based on the background color
/// @param {Color} $background - the background color for a button
@mixin buttonColor($background) {
  .button {
    color: color-pick-contrast($background, ($button-color, $button-color-alt));
    border-color: color-pick-contrast(
      $background,
      ($button-color, $button-color-alt)
    );
  }
  .button:focus,
  .button:hover {
    color: color-pick-contrast(
      $button-background-hover,
      ($button-color, $button-color-alt)
    );
    border-color: $button-background-hover;
    background-color: $button-background-hover;
  }
}

/// Creates a line below some text like a hammerhead
/// @param {Color} $color [currentcolor] - The color of the dividing line
/// @param {Number} $height [1px] - The height of the dividing line
/// @param {String} $align [start] - How the dividing line should be aligned
/// @param {String} $position [after] - Where the dividing line should be positioned
@mixin hammerheadDivider(
  $color: $hammerhead-divider-color,
  $width: $hammerhead-divider-width,
  $height: $hammerhead-divider-height,
  $align: $hammerhead-divider-align,
  $position: $hammerhead-divider-position,
  $spacing: rem-calc($hammerhead-divider-spacing)
) {
  @if ($position == 'after') {
    margin-block-end: $spacing;
  }
  @if ($position == 'before') {
    margin-block-start: $spacing;
  }
  &:#{$position} {
    content: '';
    display: block;
    height: $height;
    width: $width;
    background-color: $color;
    @if ($position == 'after') {
      margin-block-start: $spacing;
    }
    @if ($position == 'before') {
      margin-block-end: $spacing;
    }
    @if ($align == 'end') {
      margin-inline-start: auto;
    }
    @if ($align == 'center') {
      margin-inline: auto;
    }
  }
}

/// Creates a triangle that can be used in the bottom right of a component. Follows the standard lead on angle.
/// Can produce border or background properties to create the triangle.
/// @param {Color} $color - the background color of the triangle
/// @param {Number} $size - the height of the triangle
/// @param {Boolean} $useBackground - if the background property should be used instead of borders
@mixin cornerTriangle($color, $size, $useBackground: true) {
  content: '';
  display: block;
  @if ($useBackground == true) {
    width: $size;
    height: $size;
    background: linear-gradient(
      $lead-on-skew-alt-reversed,
      $color 47%,
      rgba(0, 0, 0, 0) 48%
    );
  } @else {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 $size math.div(90 * $size, 100);
    border-color: transparent transparent $color transparent;
  }
}

/// Adds the necessary margin left/right to be full width
@mixin fullWidth() {
  margin-left: -($layout-padding);
  margin-right: -($layout-padding);
}

// Adds the same divider styles as ._with-divider
@mixin headingDivider() {
  @include setValues($heading-divider-font);
  padding-bottom: rem-calc($spacing-2);
  border-bottom: $heading-divider-border;
}
