<p class="tcu-sub-headline">{{ lead_in_text }}</p>
<section class="tcu-hero" aria-label="banner image">
  <picture>
    <source media="(min-width: 600px)" srcset="{{ hero_image.desktop }}" />
    <img src="{{ hero_image.mobile }}" alt="{{ image_description }}" />
  </picture>
</section>
