<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ _target.label }} | Preview Layout</title>
  <link rel="canonical" href="https://cse.tcu.edu/index.php">
  <meta name="Description" content="">
  <meta name="Keywords" content="">
  <link rel="apple-touch-icon" href="https://assets.tcu.edu/cornerstone/images/apple-icon-touch.png">
  <link rel="icon" href="https://assets.tcu.edu/cornerstone/images/favicon.png">
  <!--[if IE]>
    <link rel="shortcut icon" href="https://assets.tcu.edu/cornerstone/images/favicon.ico">
    <![endif]-->
    <meta name="msapplication-TileColor" content="#4d1979">
    <meta name="msapplication-TileImage" content="https://assets.tcu.edu/cornerstone/images/win8-tile-icon.png">
    <script src="https://assets.tcu.edu/js/libs/modernizr.custom.min.js"></script>
    <script src="https://assets.tcu.edu/js/libs/picturefill.min.js"></script>
    <link id="fonts" rel="stylesheet" href="">
    <link id="stylesheet" rel="stylesheet" href="{{ '/css/style.min.css'|path }}" type="text/css" media="all">
    <link rel="stylesheet" href="https://assets.tcu.edu/emergency-alerts/emergency-alerts.css">

    {% for stylesheet in _target.meta.stylesheet %}
      <link id="stylesheet" rel="stylesheet" href="{{ stylesheet|path }}" type="text/css" media="all">
    {% endfor %}

    {% render '@meta' %}

    <script>
      var page_url = "https://cse.tcu.edu/index.php";
      var tcuglobal = {};
      tcuglobal.searchfilter = "";
      tcuglobal.searchpath = "cse.tcu.edu";
      tcuglobal.searchtab = "College of Science & Engineering";
      tcuglobal.directoryPath = "cse/index.json";
      tcuglobal.directoryProfilePath = "/faculty-staff";
    </script>
    {% render '@sitestyle-head' %}
    {{ _target.context.globalhead }}
  </head>

  <body itemscope="" itemtype="http://schema.org/WebPage" class="{{ _target.meta.bodyclass }}">
    {% render '@svgs' %}

    {{ yield }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% for script in _target.meta.scripts %}
      <script type="text/javascript" src="{{ script|path }}" defer="defer"></script>
    {% endfor %}

    {% render '@sitestyle-body' %}
    {{ _target.context.globalbody }}
  </body>

</html>
