<div class="tcu-media-card {{ modifier }}">
    <div class="tcu-media-card__content">
        <img src="{{ image }}" alt="{{ image_description }}">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <a class="button" href="{{ primary_button_link }}">{{ primary_button_text }}</a>
    </div>
</div>
