<div class="tcu-media-card {{ modifier }}">
    <div class="tcu-media-card__content">
        <img src="{{ image }}" alt="{{ image_description }}">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
    </div>
</div>
