<div class="tcu-media-card {{ modifier }}">
    <a href="{{ primary_button_link }}" class="tcu-media-card__content">
        <img src="{{ image }}" alt="" aria-labelledby="tcu-media-card-2">
        <h2 id="tcu-media-card-2">{{ title }}</h2>
    </a>
</div>
