<li id="{{ filename }}" class="tcu-directory-card tcu-directory-card__content" value="list">
  <div class="group">
    <span class="tcu-profile-list__name | tcu-directory-card__name">
      <a href="/view/{{ filename }}" data-href="https://www.tcu.edu/directory/_data/{{ filename }}.json">{{ name }}</a>
    </span>
    <br>
    {% if jobTitle %}
      <span class="tcu-profile-list__title tcu-directory-card__title">{{ jobTitle }}</span>
    {% endif %}
  </div>
  <span class="tcu-profile-list__email | tcu-directory-card__icon">
    {% if email %}
      <svg focusable="false" height="24" width="24" class="tcu-email-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="#icon-email-icon" xlink:href="#icon-email-icon"></use></svg>
      <a href="mailto:{{ email }}">{{ email }}</a>
    {% endif %}
  </span>
  <span class="tcu-profile-list__telephone | tcu-directory-card__icon">
    {% if telephone %}
      <svg focusable="false" height="24" width="24" class="tcu-phone-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="#icon-phone-icon" xlink:href="#icon-phone-icon"></use></svg>
      {{ telephone }}
    {% endif %}
  </span>
</li>
