<li id="{{ filename }}" class="tcu-card _profile | tcu-directory-card" value="grid">
  <div class="tcu-card-img | tcu-directory-card__image-wrapper">
    {% if image %}
      <img data-url="https://www.tcu.edu/{{ image }}" alt="{{ name }}" class="tcu-card__image lazy-load loaded | tcu-directory-card__image" src="https://www.tcu.edu/{{ image }}">
    {% else %}
      <img data-url="https://assets.tcu.edu/cornerstone/images/leadon-default-headshot-mobile.jpg" alt="{{ name }}" class="tcu-card__image lazy-load loaded" src="https://assets.tcu.edu/cornerstone/images/leadon-default-headshot-mobile.jpg">
    {% endif %}

    {% render "@spinner" %}
  </div>
  <div class="tcu-card__info | tcu-directory-card__content">
    <div class="group">
      <span class="tcu-profile-card__name | tcu-directory-card__name"><a href="/view/{{ filename }}">{{ name }}</a></span>
      <br>
      <span class="tcu-profile-card__title | tcu-directory-card__title">{{ jobTitle }}</span>
    </div>
    <!-- {% if email or telephone %}
    <br><br>
    {% endif %} -->

    <span class="tcu-profile-card__email | tcu-directory-card__icon">
      {% if email %}
        <svg focusable="false" height="24" width="24" class="tcu-email-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="#icon-email-icon" xlink:href="#icon-email-icon"></use></svg>
        <a href="mailto:{{ email }}">{{ email }}</a>
      {% endif %}
    </span>
    <span class="tcu-profile-card__telephone | tcu-directory-card__icon">
      {% if telephone %}
        <svg focusable="false" height="24" width="24" class="tcu-phone-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" href="#icon-phone-icon" xlink:href="#icon-phone-icon"></use></svg>
        {{ telephone }}
      {% endif %}
    </span>
  </div>
</li>
