<section class="tcu-majors-programs tcu-component grid-x align-middle">
  <div class="cell small-12">
    <h2 class="tcu-majors-programs__header">Majors &amp; Programs</h2>
  </div>
  <div class="cell small-12 large-7 tcu-majors-programs__form">
    <h2 class="h3">Your Future Starts Here</h2>
    <p>Explore our 39 degree options.</p>

    <form role="search" method="get" target="_blank" class="tcu-searchform"
      action="https://www.tcu.edu/academics/programs/index.php" aria-label="Search academic majors and programs">
      <div class="input-group">
        <label class="screen-reader-text tcu-visuallyhidden tcu-searchform__label" for="mp-search-term">Search
          for:</label>
        <input class="input-group-field" type="search" value="" name="s" id="mp-search-term"
          placeholder="Search All Majors &amp; Programs">
        <input type="hidden" name="schools" value="science">
        <div class="input-group-button"><input title="Search" class="button secondary" type="submit" value="Search"></div>
      </div>
    </form>

  </div>

  <div class="cell small-12 large-5 tcu-majors-programs__buttons button-group">
    <a class="button"
      href="https://www.tcu.edu/academics/programs/index.php?degrees=bachelor&amp;degrees=minor&amp;degrees=certificate&amp;schools=science"
      title="" target="_blank" rel="noopener">
        Undergraduate
      </a>
    <a class="button"
      href="https://www.tcu.edu/academics/programs/index.php?graddegrees=doctorate&amp;graddegrees=master&amp;graddegrees=gradcert&amp;schools=science"
      title="" target="_blank" rel="noopener">
        Graduate
      </a>
    <a class="button"
      href="https://www.tcu.edu/academics/programs/index.php?schools=science" title="" target="_blank"
      rel="noopener">
        All Majors &amp; Programs
      </a>
  </div>
</section>
