<div class="tcu-profile-card-list">
  {% for person in directory %}
    {% render '@profile-card' with {
      "image": person.image,
      "image_description": "",
      "name": person.name,
      "title": person.jobTitle,
      "description": person.description
    } %}
  {% endfor %}
</div>
