<div
  id="tcu-cardselector"
  data-source="{{ source }}"
  data-column-width="{{ columnWidth }}"
  data-show-search="{{ showSearch }}"
  data-show-filter-panel="{{ showFilterPanel }}"
  data-show-view-selector="{{ showViewSelector }}"
></div>
<script type="module" crossorigin src="https://assets.tcu.edu/js/cardselector/v0.0.0/index.js"></script>
