{% extends '@layout' %}

{% block main_content %}
  <div class="tcu-maincontent cell small-12">
    <a tabindex="-1" id="main"><span class="tcu-visuallyhidden">Main Content</span></a>

    {% block content %}{% endblock %}
  </div>
{% endblock %}
