<div class="tcu-layout-container">
  <!-- Site Header -->
  {% block site_header %}{% render '@site-header' %}{% endblock %}

  <!-- Main Content -->

  <main class="tcu-content-wrapper">
    {% block page_heading %}{% render '@page-heading' %}{% endblock %}
    <div class="grid-x">
      {% block main_content %}{% endblock %}
    </div>
  </main>

  <!-- Footer -->
  {% render '@footer' %}

  <!-- Global Nav -->
  {% render '@global-nav' %}
</div>
