{% extends '@layout' %}

{% block main_content %}
  <div class="tcu-maincontent cell large-8">
    <a tabindex="-1" id="main"><span class="tcu-visuallyhidden">Main Content</span></a>
    {% block content %}{% endblock %}
  </div>

  <aside class="tcu-sidebar cell large-4">
    {% block sidebar %}{% endblock %}
  </aside>
{% endblock %}
