{% extends '@full-width' %}

{% block site_header %}
  <header class="tcu-content-header | tcu-site-header">
    <a href="#" class="tcu-skip-nav tcu-visuallyhidden">Skip to main content</a>
    {% render '@hero' with { modifier: 'tcu-full-width' } %}
    {% render "@local-navigation" %}
  </header>
{% endblock %}

{% block page_heading %}{% endblock %}

{% block content %}
<!-- Page Header -->
{% render "@callout" with announcement %}
{% render "@publications-feed" %}


{% endblock %}

{% block sidebar %}{% endblock %}
