{% extends '@full-width' %}

{% block site_header %}
  <header class="tcu-content-header | tcu-site-header">
    <a href="#" class="tcu-skip-nav tcu-visuallyhidden">Skip to main content</a>
    {% render '@hero' with { modifier: 'tcu-full-width' } %}
    {% render '@sticky-flags' %}
    {% render "@local-navigation" %}
  </header>
{% endblock %}

{% block page_heading %}{% endblock %}

{% block content %}

{% render '@program-finder-form' %}

{% render '@title-card--large-buttons' with { modifier: '_three-button _image-bg tcu-full-width' } %}

{% render '@pull-quote' %}

{% render '@fact-banner' %}

<div class="grid-x grid-margin-x">
  <div class="cell large-6">
    <h2>Latest News</h2>
    {% render '@image-card' %}
  </div>
  <div class="cell large-6">
    {% render '@localist-widget' %}
  </div>
</div>

{% endblock %}

{% block sidebar %}

{% endblock %}
