{% extends '@full-width' %}

{% block page_heading %}{% endblock %}

{% block content %}
<!-- Page Header -->

{% render '@hero' with { modifier: 'tcu-full-width' } %}

{% render '@program-finder-form' %}

{% render '@title-card--large-buttons' with { modifier: '_three-button _image-bg tcu-full-width' } %}

{% render '@pull-quote' %}

{% render '@fact-banner' %}

<div class="grid-x grid-margin-x">
  <div class="cell large-6">
    <h2>Latest News</h2>
    {% render '@image-card' %}
  </div>
  <div class="cell large-6">
    {% render '@localist-widget' %}
  </div>
</div>

{% endblock %}

{% block sidebar %}

{% endblock %}
