{% extends '@sidebar' %}

{% block content %}
  <!-- Page Header -->

  {% render '@images' %}

  <h2>9th and 10th Grade Parents or Family Members</h2>

  <ul>

    <li>Talk with your student about college plans and what career they wish to pursue.</li>

    <li>Stay connected with student’s school work, grades and their testing skills.</li>

    <li>Encourage your student to take challenging classes they can handle such as Pre-AP/AP/Honors/IB.&nbsp;Work
      with&nbsp;your student to seek tutorial sessions when needed.<br><a title="AP Courses and Exams"
        href="http://apcentral.collegeboard.com/apc/public/courses/index.html">AP Courses and Exams</a></li>

    <li>Be aware if your student is on track for all standardized tests such as the PSAT,
      SAT and ACT—Encourage your student to pick up information from their high school counselor’s
      office and/or&nbsp;<a title="Collegeboard.com" href="http://www.collegeboard.com/">Collegeboard.com</a></li>

    <li>Talk with your student about a financial savings plan for college and begin the actual
      savings account if not yet established.&nbsp;<a
        href="https://www.nerdwallet.com/blog/investing/the-best-future-for-your-child-college-savings-strategies/">College
        Saving Strategies: A Guide for Parents</a></li>

    <li>Become acquainted with FAFSA (Free Application for Federal Student Aid)</li>

    <li>Work with your student and seek information about college nights or events when college
      representatives will visit their school. Talk to your student about the information
      they've collected on colleges of interest. Help them research different college/university
      websites for an overview of the school regarding types of majors, location, social
      aspects and other areas of importance when choosing a college—information can be found
      in their high school counselor’s office.<br><a title="National College Fairs Resource"
        href="https://www.nacacfairs.org/?_ga=1.90867871.466915677.1493409026">National College Fairs Resource</a></li>

    <li>Plan a visit to a college or university with your student during their high school
      spring break or summer.
    </li>

  </ul>

  {% render '@pull-quote' %}

  <h3>Parents of Applicants and Admitted Students</h3>

  <p>While students are the ones attending college, parents play an important role in the
    selection and application process. Get informed about the details and your child will
    appreciate your expertise.
  </p>

  <p>Applying is only half the college admission process. Once your student is admitted,
    there’s plenty left to do.&nbsp;
  </p>

  {% render '@separator' %}

  <ol>

    <li>Enrollment Deposit

      <ul>

        <li>This payment lets your selected college know that you plan to enroll at that institution.
          At TCU, admitted students who want to enroll must by a $500 <strong>nonrefundable enrollment deposit</strong> by
          <strong>June 1</strong>. This is applied toward your student’s first bill, and essentially acts as a first
          payment.&nbsp;The enrollment deposit is made on the <a href="http://my.tcu.edu">MyTCU Portal</a>, by <a
            href="/connect.php">calling the Office of Admission</a> with a credit card number, or in person by delivering
          a check to <a href="/connect.php">TCU's Office of Admission</a>.<br><br></li>

      </ul>

    </li>

    <li>Vaccinations

      <ul>

        <li>All incoming students under the age of 22 must provide record of a meningitis vaccination
          administered within the past five years. Submitting your vaccination records to the
          TCU Health Center allows access to the housing application. Please ask your student’s
          pediatrician to use the <a href="https://healthcenter.tcu.edu/forms/">TCU's Official Form</a>.<br><br>The State
          of Texas Senate Bill 1107 requires all incoming college and university students
          under the age of 22 to receive the bacterial meningitis vaccine. For more information,
          please visit <a href="https://healthcenter.tcu.edu/">TCU's Health Center</a>.<br><br></li>

      </ul>

    </li>

    <li>Financial Aid

      <ul>

        <li>All students who submit the CSS Profile and FAFSA will receive a financial aid package.
          Financial Aid is a tile on the <a href="http://my.tcu.edu">MyTCU Portal</a>&nbsp;and contains information for
          all of the scholarship, grants and loans offered by
          TCU to your student. You can easily accept these offers on the portal. If you’d like
          to talk to someone in <a href="https://financialaid.tcu.edu">Financial Aid</a> anytime during the application or
          enrollment process, send them an email at <span><a
              href="mailto:financialaid@tcu.edu">financialaid@tcu.edu</a></span> or give them a call at (817)
          257-7858.&nbsp;<br><br></li>

      </ul>

    </li>

    <li>Housing

      <ul>

        <li>TCU requires all first-and-second year students to live on campus. But with the amenities
          and comfort provided by our residence halls, many try to live on campus for all four
          years.<br><br>Once admitted students make the enrollment deposit and submit vaccination records,
          they'll be eligible to complete the housing application. There are opportunities to
          specify a roommate, or TCU is happy to match roommates based on responses from the
          housing application. We’ve been doing it for about 100 years and we’ve gotten pretty
          good at matching roommates that result in lifelong friendships.<br><br>Extended housing is an opportunity that
          many students take advantage of as a way to
          save money. Three students become roommates instead of the traditional two, and as
          a result the cost of housing is reduced. During the summer, students may sign up for
          extended housing.
        </li>

      </ul>

    </li>

  </ol>

{% endblock %}

{% block sidebar %}
{% render '@sidebar-menu' %}
  <a class="button expanded" href="#9-10">Info for 9th and 10th Grade</a>
  <a class="button expanded" href="#11">Info for 11th Grade</a>
  <a class="button expanded" href="#app-admit">Info for Applicants and Admitted Students</a>
{% render '@sidebar-feature' with { headline: "Dean’s Advisory Cabinet", main_text: "This diverse group of students selected by faculty and staff meet with the Dean each semester to provide feedback and help plan and implement programs that will advance the mission of the College of Education and TCU and serve students within the college.", cta_text: "Learn More" } %}
{% endblock %}
