<h2>Default</h2>
<div class="button-group">
  {% render "@button" with button1 %}
  {% render "@button" with button2 %}
  {% render "@button" with button3 %}
</div>

<h2>Stacked</h2>
<div class="button-group stacked">
  {% render "@button" with button1 %}
  {% render "@button" with button2 %}
  {% render "@button" with button3 %}
</div>

<h2>Stacked for small screens</h2>
<div class="button-group stacked-for-small">
  {% render "@button" with button1 %}
  {% render "@button" with button2 %}
  {% render "@button" with button3 %}
</div>

<h2>Even-width Group</h2>
<div class="button-group expanded">
  {% render "@button" with button1 %}
  {% render "@button" with button2 %}
  {% render "@button" with button3 %}
</div>
