<section class="tcu-tabcordion">
    <header>
        <h2 class="tcu-tabcordion__header">{{ heading }}</h2>
    </header>
	<div class="tcu-tabcordion__wrapper" role="tablist">
    {% for item in tabs %}

		<button role="tab" aria-selected="{{item.state}}" class="tcu-tabcordion__tab" aria-controls="tab-panel{{loop.index}}" aria-expanded="{{item.state}}" id="tab-label{{loop.index}}">
      {{ item.label }}<span></span>
		</button>

    {% endfor %}
	</div>

	{% for item in tabs %}
	<div class="tcu-tabcordion__item" tabindex="-1" role="tabpanel" id="tab-panel{{loop.index}}" aria-labelledby="tab-label{{loop.index}}">
		<div class="tcu-tabcordion__content">
			<p>{{ item.content }}</p>
		</div>
	</div>
	{% endfor %}

</section>
