{% extends "@image-card" %}

{% block image %}
    <div class="tcu-image-card__image image-flair-alt">
      <img src="{{ image }}" alt="{{ image_description }}" width="500" height="334">
    </div>
{% endblock %}
