<div class="tcu-infographic-ribbon tcu-component">
    <h2 class="tcu-infographic-ribbon__title">{{ heading }}</h2>
    <div class="tcu-infographic-ribbon__list grid-x">
        {% for item in infographics %}
            <div class="cell {% if infographics.length > 3 %}medium-6{% else %}medium-auto{% endif %} large-auto">{{ item }}</div>
        {% endfor %}
    </div>
</div>
