<div class="tcu-dropdown-list">
  <div class="tcu-dropdown-list__toggle">
    <a class="tcu-dropdown-list__label" id="dropdownTagsMenuButton" href="/news" aria-haspopup="true">{{ label }}</a>
    <button class="tcu-tags-toggle">
      <span class="arrow"></span>
      <span class="tcu-visuallyhidden | show-for-sr">Choose a Category</span>
    </button>
  </div>
  <ul class="tcu-tags-dropdown_menu | tcu-dropdown-list__menu" aria-label="submenu">
    {% for item in items %}
      <li class="tcu-dropdown-list__item">{{ item }}</li>
    {% endfor %}
  </ul>
</div>
