<article class="tcu-article">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": "New Maestro Program Aims to Diversify Teaching Force in Texas and Beyond",
      "author": {
        "@type": "Person",
        "name": "Teresa Monaco Burnett"
      },
      "datePublished": "September 20, 2021",
      "image": "https://coe.dev.tcu.edu/news/images/2021/Maestro.png",
      "publisher": {
        "@type": "Organization",
        "name": "Texas Christian University",

        "logo": {
          "@type": "imageObject",
          "url": "https://www.tcu.edu/_resources/images/tcu-logo-purple.png",
          "width": "114",
          "height": "60"
        }
      }
    }
  </script>

  {% if image.mobile or image.desktop %}
  <div class="tcu-article__image">
    <picture>
      {% if image.mobile %}
      <source srcset="{{ image.mobile }}" media="(max-width: 767px)" />
      {% endif %}
      <img src="{{ image.desktop }}" alt="Latino male student presenting" width="426" height="286">
    </picture>
  </div>
  {% endif %}

  <div class="tcu-article__text">
    <div class="tcu-article__info">
      <div class="tcu-article__breadcrumb"><a href="/news/index.php">Back to All News Stories</a></div>
      <h1 class="tcu-article__title h2">New Maestro Program Aims to Diversify Teaching Force in Texas and Beyond</h1>
      <div class="tcu-article__meta">Posted on September 20, 2021, by Teresa Monaco Burnett</div>
    </div>
    <div class="tcu-article__content">
      <p class="image-flair tcu-component tcu-full-width-small float-right"><img src="https://coe.dev.tcu.edu/news/images/2021/Maestro.png" alt="Latino male student presenting" width="426" height="286"></p>

      <p>Many students come to school with few or no experiences outside of their own communities.
        Teachers quickly provide students with windows to the world so they can see things
        beyond their own personal experience. Mirrors are of equal importance to windows and
        often overlooked.
      </p>
      <p>TCU’s Maestro program is a new initiative to increase the number of highly qualified
        Latinx teachers in K-12 classrooms by supporting the efforts of young Latinx men to
        earn their bachelor’s degree and teaching credentials. It was born out of a need to
        create learning environments that better support students’ identities, providing the
        mirrors that can benefit the lives and learning outcomes of countless students.
      </p>
    </div>
  </div>
</article>
